<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.argus.mappers.HtyFctSalePlAnalysisOrgDTOMapper" >
  <resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctSalePlAnalysisOrgDTO" >
    <result column="STAT_DAY" property="statDay" jdbcType="VARCHAR" />
    <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
    <result column="ORG_FNAME" property="orgFname" jdbcType="VARCHAR" />
    <result column="PL_CODE_LV3" property="plCodeLv3" jdbcType="VARCHAR" />
    <result column="PL_NAME_LV3" property="plNameLv3" jdbcType="VARCHAR" />
    <result column="SALE_AMT_ALL" property="saleAmtAll" jdbcType="DECIMAL" />
    <result column="SALE_QVT" property="saleQvt" jdbcType="DECIMAL" />
    <result column="SALE_AMT_YEAR" property="saleAmtYear" jdbcType="DECIMAL" />
    <result column="SALE_AMT_MON" property="saleAmtMon" jdbcType="DECIMAL" />
    <result column="IS_ENDFLAG" property="isEndflag" jdbcType="VARCHAR" />
    <result column="SALE_AVG" property="saleAvg" jdbcType="DECIMAL" />
  </resultMap>

  <sql id="where">
    <where>
      <if test="searchDTO.userId != null and searchDTO.userId != '' ">
        and  ORG_CODE = #{searchDTO.userId}
      </if>
      <if test="searchDTO.endTime != null and searchDTO.endTime != '' ">
        and  STAT_DAY = #{searchDTO.endTime}
      </if>
    </where>
  </sql>

  <select id="querySalePlAnalysisOrg" resultMap="BaseResultMap">
    SELECT T.*, ROWNUM AS rn FROM
      (
        SELECT
          STAT_DAY,
          ORG_CODE,
          ORG_FNAME,
          PL_CODE_LV3,
          PL_NAME_LV3,
          SALE_AMT_ALL,
          SALE_QVT,
          SALE_AMT_YEAR,
          SALE_AMT_MON,
          IS_ENDFLAG,
          round(SALE_AVG,4)*100 as SALE_AVG
        FROM HTD_HTY.HTY_FCT_SALE_PL_ANALYSIS_ORG
        <include refid="where"/>
        ORDER BY SALE_AVG
      ) T
  </select>

  <insert id="insert" parameterType="cn.htd.argus.dto.HtyFctSalePlAnalysisOrgDTO" >
    insert into HTY_FCT_SALE_PL_ANALYSIS_ORG (STAT_DAY, ORG_CODE, ORG_FNAME, 
      PL_CODE_LV3, PL_NAME_LV3, SALE_AMT_ALL, 
      SALE_QVT, SALE_AMT_YEAR, SALE_AMT_MON, 
      IS_ENDFLAG, SALE_AVG)
    values (#{statDay,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, #{orgFname,jdbcType=VARCHAR}, 
      #{plCodeLv3,jdbcType=VARCHAR}, #{plNameLv3,jdbcType=VARCHAR}, #{saleAmtAll,jdbcType=DECIMAL}, 
      #{saleQvt,jdbcType=DECIMAL}, #{saleAmtYear,jdbcType=DECIMAL}, #{saleAmtMon,jdbcType=DECIMAL}, 
      #{isEndflag,jdbcType=VARCHAR}, #{saleAvg,jdbcType=DECIMAL})
  </insert>

</mapper>