<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.argus.mappers.HtyFctCustAllDTOMapper" >
  <resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctCustAllDto" >
    <result column="date_key" property="dateKey" jdbcType="VARCHAR" />
    <result column="cust_rq" property="custRq" jdbcType="VARCHAR" />
    <result column="cust_code" property="custCode" jdbcType="VARCHAR" />
    <result column="cust_name" property="custName" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="org_sname" property="orgSname" jdbcType="VARCHAR" />
    <result column="org_fname" property="orgFname" jdbcType="VARCHAR" />
    <result column="area_procode" property="areaProCode" jdbcType="VARCHAR" />
    <result column="area_proname" property="areaProName" jdbcType="VARCHAR" />
    <result column="area_citycode" property="areaCityCode" jdbcType="VARCHAR" />
    <result column="area_cityname" property="areaCityName" jdbcType="VARCHAR" />
    <result column="area_countycode" property="areaCountyCode" jdbcType="VARCHAR" />
    <result column="area_countyname" property="areaCountyName" jdbcType="VARCHAR" />
    <result column="area_towncode" property="areaTownCode" jdbcType="VARCHAR" />
    <result column="area_townname" property="areaTownName" jdbcType="VARCHAR" />
    <result column="cust_managercode" property="custManagerCode" jdbcType="VARCHAR" />
    <result column="cust_managername" property="custManagerName" jdbcType="VARCHAR" />
    <result column="amt_all" property="amtAll" jdbcType="DECIMAL" />
    <result column="amt_online" property="amtOnline" jdbcType="DECIMAL" />
    <result column="amt_online_boss" property="amtOnlineBoss" jdbcType="DECIMAL" />
    <result column="amt_online_b2b" property="amtOnlineB2b" jdbcType="DECIMAL" />
    <result column="amt_online_vms" property="amtOnlineVms" jdbcType="DECIMAL" />
    <result column="amt_dk" property="amtDk" jdbcType="DECIMAL" />
    <result column="qty_b2b" property="qtyB2b" jdbcType="DECIMAL" />
    <result column="qty_boss" property="qtyBoss" jdbcType="DECIMAL" />
    <result column="qty_hzg" property="qtyHzg" jdbcType="DECIMAL" />
    <result column="qty_fs" property="qtyFs" jdbcType="DECIMAL" />
    <result column="is_cust" property="isCust" jdbcType="VARCHAR" />
    <result column="is_hy" property="isHy" jdbcType="VARCHAR" />
    <result column="is_vip" property="isVip" jdbcType="VARCHAR" />
    <result column="is_dk" property="isDk" jdbcType="VARCHAR" />
    <result column="expire_time" property="expireTime" jdbcType="VARCHAR" />
  </resultMap>
	<sql id="where">
		<choose>
			<when test="dimension == 0">
				<choose>
					<when test="kind == 0">
						and (amt_all &lt;= #{start} or amt_all is null)
					</when>
					<when test="kind == 5">
						and amt_all &gt; #{end}
					</when>
					<otherwise>
						and amt_all &gt; #{start} and amt_all &lt;= #{end}
					</otherwise>
				</choose>
			</when>
			<when test="dimension == 1">
				<choose>
					<when test="kind == 0">
						and (amt_online &lt;= #{start} or amt_online is null)
					</when>
					<when test="kind == 5">
						and amt_online &gt; #{end}
					</when>
					<otherwise>
						and amt_online &gt; #{start} and amt_online &lt;= #{end}
					</otherwise>
				</choose>
			</when>
			<when test="dimension == 2">
				<choose>
					<when test="kind == 0">
						and (qty_b2b &lt;= #{start} or qty_b2b is null)
					</when>
					<when test="kind == 5">
						and qty_b2b &gt; #{end}
					</when>
					<otherwise>
						and qty_b2b &gt; #{start} and qty_b2b &lt;= #{end}
					</otherwise>
				</choose>
			</when>
			<when test="dimension == 3">
				<choose>
					<when test="kind == 0">
						and (qty_boss &lt;= #{start} or qty_boss is null)
					</when>
					<when test="kind == 5">
						and qty_boss &gt; #{end}
					</when>
					<otherwise>
						and qty_boss &gt; #{start} and qty_boss &lt;= #{end}
					</otherwise>
				</choose>
			</when>
			<when test="dimension == 4">
				<choose>
					<when test="kind == 0">
						and (qty_hzg &lt;= #{start} or qty_hzg is null)
					</when>
					<when test="kind == 5">
						and qty_hzg &gt; #{end}
					</when>
					<otherwise>
						and qty_hzg &gt; #{start} and qty_hzg &lt;= #{end}
					</otherwise>
				</choose>
			</when>
			<when test="dimension == 5">
				<choose>
					<when test="kind == 0">
						and (amt_dk &lt;= #{start} or amt_dk is null)
					</when>
					<when test="kind == 5">
						and amt_dk &gt; #{end}
					</when>
					<otherwise>
						and amt_dk &gt; #{start} and amt_dk &lt;= #{end}
					</otherwise>
				</choose>
			</when>
		</choose>
	</sql>

    <select id="queryCityAndProByUserId" resultMap="BaseResultMap" parameterType="cn.htd.argus.bean.HtyFctUserBeHaviorSearchDTO">
        SELECT
        area_proname,area_cityname
        FROM HTD_HTY.hty_fct_cust_all
        <where>
            <if test="userId != null">
                and org_code = #{userId}
            </if>
             and ROWNUM = 1 
        </where>
        ORDER BY DATE_KEY DESC
    </select>
  <select id="selectByNoPair" resultMap="BaseResultMap" parameterType="cn.htd.argus.bean.HtyFctCustInDto" >
  	select 
  	max(date_key) as date_key, max(cust_rq) as cust_rq, max(cust_code) as cust_code,
  	 max(cust_name) as cust_name, max(org_code) as org_code, max(org_sname) as org_sname,
  	 max(org_fname) as org_fname,max(area_procode) as area_procode, max(area_proname) as area_proname,
     max(area_citycode) as area_citycode, max(area_cityname) as area_cityname,
     max(area_countycode) as area_countycode, max(area_countyname) as area_countyname, 
     max(area_towncode) as area_towncode, max(area_townname) as area_townname, max(cust_managercode) as cust_managercode,
     max(cust_managername) as cust_managername,sum(amt_all) as amt_all,sum(amt_online) as amt_online,
      max(amt_online_boss) as amt_online_boss, max(amt_online_b2b) as amt_online_b2b,
     max(amt_online_vms) as amt_online_vms,sum(amt_dk) as amt_dk,sum(qty_b2b) as qty_b2b,sum(qty_boss) as qty_boss,sum(qty_hzg) as qty_hzg,
      max(qty_fs) as qty_fs, max(is_cust) as is_cust,
     max(is_hy) as is_hy, max(is_vip) as is_vip, max(is_dk) as is_dk, max(expire_time) as expire_time
    from HTD_HTY.hty_fct_cust_all
    <where>
   		<if test="userId != null">
        	and org_code = #{userId}
    	</if>
    	<choose>
    		<when  test="custStartTime !=null and custEndTime != null">
    			<choose>
    				<when  test="custStartTime == custEndTime">
    					and cust_rq = #{custStartTime}
    				</when>
    				<otherwise>
    					and cust_rq &gt;= #{custStartTime} and cust_rq &lt;= #{custEndTime}
    				</otherwise>
    			</choose>
    		</when>
    		<when  test="custStartTime !=null">
    			and cust_rq &gt;= #{custStartTime}
    		</when>
    		<when  test="custEndTime != null">
    			and cust_rq &lt;= #{custEndTime}
    		</when>
    	</choose>
    	<if test="firstTime != null">
        	and date_key = #{firstTime}
    	</if>
    	<if test="searchStartTime != null and searchEndTime != null">
    		and date_key &gt;= #{searchStartTime} and date_key &lt;= #{searchEndTime} 
    	</if>
    </where>
     group by cust_code
  </select>
  
  <select id="selectByForDimensionNum" resultType="java.lang.Integer" parameterType="cn.htd.argus.bean.HtyFctCustInDto" >
   	  select count(1) from HTD_HTY.hty_fct_cust_all 
    where org_code = #{userId} 
	and date_key &gt;= #{searchStartTime} and date_key &lt;= #{searchEndTime} 
    				<choose>
		    			<when test="dimension == 0">
		    				<choose>
		    					<when test="kind == 0">
		    						and (amt_all &lt;= #{start} or amt_all is null)
		    					</when>
		    					<when test="kind == 5">
		    						and amt_all &gt; #{end}
		    					</when>
		    					<otherwise>
		    						and amt_all &gt; #{start} and amt_all &lt;= #{end}
		    					</otherwise>
		    				</choose>
		    			</when>
		    			<when test="dimension == 1">
		    				<choose>
		    					<when test="kind == 0">
		    						and (amt_online &lt;= #{start} or amt_online is null)
		    					</when>
		    					<when test="kind == 5">
		    						and amt_online &gt; #{end}
		    					</when>
		    					<otherwise>
		    						and amt_online &gt; #{start} and amt_online &lt;= #{end}
		    					</otherwise>
		    				</choose>
		    			</when>
		    			<when test="dimension == 2">
		    				<choose>
		    					<when test="kind == 0">
		    						and (qty_b2b &lt;= #{start} or qty_b2b is null)
		    					</when>
		    					<when test="kind == 5">
		    						and qty_b2b &gt; #{end}
		    					</when>
		    					<otherwise>
		    						and qty_b2b &gt; #{start} and qty_b2b &lt;= #{end}
		    					</otherwise>
		    				</choose>
		    			</when>
		    			<when test="dimension == 3">
		    				<choose>
		    					<when test="kind == 0">
		    						and (qty_boss &lt;= #{start} or qty_boss is null)
		    					</when>
		    					<when test="kind == 5">
		    						and qty_boss &gt; #{end}
		    					</when>
		    					<otherwise>
		    						and qty_boss &gt; #{start} and qty_boss &lt;= #{end}
		    					</otherwise>
		    				</choose>
		    			</when>
		    			<when test="dimension == 4">
		    				<choose>
		    					<when test="kind == 0">
		    						and (qty_hzg &lt;= #{start} or qty_hzg is null)
		    					</when>
		    					<when test="kind == 5">
		    						and qty_hzg &gt; #{end}
		    					</when>
		    					<otherwise>
		    						and qty_hzg &gt; #{start} and qty_hzg &lt;= #{end}
		    					</otherwise>
		    				</choose>
		    			</when>
		    			<when test="dimension == 5">
		    				<choose>
		    					<when test="kind == 0">
		    						and (amt_dk &lt;= #{start} or amt_dk is null)
		    					</when>
		    					<when test="kind == 5">
		    						and amt_dk &gt; #{end}
		    					</when>
		    					<otherwise>
		    						and amt_dk &gt; #{start} and amt_dk &lt;= #{end}
		    					</otherwise>
		    				</choose>
		    			</when>
		    		</choose>
  </select>
  
  <select id="selectByForDimension" resultMap="BaseResultMap" parameterType="cn.htd.argus.bean.HtyFctCustInDto" >
  	select
  	max(date_key) as date_key, max(cust_rq) as cust_rq, max(cust_code) as cust_code,
  	 max(cust_name) as cust_name, max(org_code) as org_code, max(org_sname) as org_sname,
  	 max(org_fname) as org_fname,max(area_procode) as area_procode, max(area_proname) as area_proname,
     max(area_citycode) as area_citycode, max(area_cityname) as area_cityname,
     max(area_countycode) as area_countycode, max(area_countyname) as area_countyname,
     max(area_towncode) as area_towncode, max(area_townname) as area_townname, max(cust_managercode) as cust_managercode,
     max(cust_managername) as cust_managername,sum(amt_all) as amt_all,sum(amt_online) as amt_online,
      max(amt_online_boss) as amt_online_boss, max(amt_online_b2b) as amt_online_b2b,
     max(amt_online_vms) as amt_online_vms,sum(amt_dk) as amt_dk,sum(qty_b2b) as qty_b2b,sum(qty_boss) as qty_boss,sum(qty_hzg) as qty_hzg,
      max(qty_fs) as qty_fs, max(is_cust) as is_cust,
     max(is_hy) as is_hy, max(is_vip) as is_vip, max(is_dk) as is_dk, max(expire_time) as expire_time
    from HTD_HTY.hty_fct_cust_all
    where org_code = #{userId} and date_key &gt;= #{searchStartTime} and date_key &lt;= #{searchEndTime}
	  <include refid="where"/>
     group by cust_code
  </select>
  
  <select id="selectForAnalysis" resultMap="BaseResultMap" parameterType="cn.htd.argus.bean.HtyFctCustAnalysisInDTO" >
  	SELECT sum(amt_all) as amt_all,sum(amt_online) as amt_online,sum(qty_b2b) 
  	as qty_b2b,sum(qty_boss)as qty_boss,SUM(qty_hzg) as qty_hzg,sum(amt_dk) 
  	as amt_dk,sum(amt_online_boss) as amt_online_boss,sum(amt_online_b2b) 
  	as amt_online_b2b,sum(amt_online_vms) as amt_online_vms FROM HTD_HTY.hty_fct_cust_all 
  	where date_key &gt;= #{startTime} and date_key &lt;= #{endTime} 
  	<choose>
  		<when test="type == 0">
  			and is_cust = '是' and org_code=#{userId}
  		</when>
  		<when test="type == 1">
  			and cust_code in (select cust_code from HTD_HTY.hty_fct_cust_all
  			 where date_key = #{nowTime} and is_hy = '是' and org_code=#{userId})
  		</when>
  		<when test="type == 2">
  			and cust_code in (select cust_code from HTD_HTY.hty_fct_cust_all
  			 where date_key = #{nowTime} and is_vip = 1 and org_code=#{userId})
  		</when>
  	</choose>
  </select>
  
  <select id="selectForAmtAll" resultType="java.lang.Integer" parameterType="cn.htd.argus.bean.HtyFctCustAnalysisInDTO" >
 	SELECT rm from(
	SELECT t.*,ROWNUM as rm from (
	SELECT  sum(amt_all) as amtAll,max(ORG_CODE) as  ORG_CODE FROM HTD_HTY.hty_fct_cust_all
	 where date_key &gt;= #{startTime} and date_key &lt;= #{endTime} 
	 <choose>
  		<when test="type == 0">
  			and is_cust = '是' 
  		</when>
  		<when test="type == 1">
  			and is_hy = '是'
  		</when>
  		<when test="type == 2">
  			and is_vip = 1 
  		</when>
  	</choose>
	and ORG_CODE in  (SELECT c.ORG_CODE from HTD_ODS.DCI_DIM_ORG c where c.ORG_XZCODE = 
		(SELECT d.ORG_XZCODE from HTD_ODS.DCI_DIM_ORG d  where d.ORG_CODE = #{userId} )) 
	GROUP BY ORG_CODE ORDER BY amtAll DESC
	) t )where ORG_CODE = #{userId} 
  </select>
  
  <select id="selectForAmtOnline" resultType="java.lang.Integer" parameterType="cn.htd.argus.bean.HtyFctCustAnalysisInDTO" >
 	SELECT rm from(
	SELECT t.*,ROWNUM as rm from (
	SELECT  sum(amt_online) as amtOnline,max(ORG_CODE) as  ORG_CODE FROM HTD_HTY.hty_fct_cust_all
	 where date_key &gt;= #{startTime} and date_key &lt;= #{endTime} 
	 <choose>
  		<when test="type == 0">
  			and is_cust = '是' 
  		</when>
  		<when test="type == 1">
  			and is_hy = '是'
  		</when>
  		<when test="type == 2">
  			and is_vip = 1 
  		</when>
  	</choose>
	and ORG_CODE in  (SELECT c.ORG_CODE from HTD_ODS.DCI_DIM_ORG c where c.ORG_XZCODE = 
		(SELECT d.ORG_XZCODE from HTD_ODS.DCI_DIM_ORG d  where d.ORG_CODE = #{userId} )) 
	GROUP BY ORG_CODE ORDER BY amtOnline DESC
	) t )where ORG_CODE = #{userId} 
  </select>
  
  <select id="selectForQtyB2b" resultType="java.lang.Integer" parameterType="cn.htd.argus.bean.HtyFctCustAnalysisInDTO" >
 	SELECT rm from(
	SELECT t.*,ROWNUM as rm from (
	SELECT  sum(qty_b2b) as qtyB2b,max(ORG_CODE) as  ORG_CODE FROM HTD_HTY.hty_fct_cust_all
	 where date_key &gt;= #{startTime} and date_key &lt;= #{endTime} 
	 <choose>
  		<when test="type == 0">
  			and is_cust = '是' 
  		</when>
  		<when test="type == 1">
  			and is_hy = '是'
  		</when>
  		<when test="type == 2">
  			and is_vip = 1 
  		</when>
  	</choose>
	and ORG_CODE in  (SELECT c.ORG_CODE from HTD_ODS.DCI_DIM_ORG c where c.ORG_XZCODE = 
		(SELECT d.ORG_XZCODE from HTD_ODS.DCI_DIM_ORG d  where d.ORG_CODE = #{userId} )) 
	GROUP BY ORG_CODE ORDER BY qtyB2b DESC
	) t )where ORG_CODE = #{userId} 
  </select>
  
  <select id="selectForQtyBoss" resultType="java.lang.Integer" parameterType="cn.htd.argus.bean.HtyFctCustAnalysisInDTO" >
 	SELECT rm from(
	SELECT t.*,ROWNUM as rm from (
	SELECT  sum(qty_boss) as qtyBoss,max(ORG_CODE) as  ORG_CODE FROM HTD_HTY.hty_fct_cust_all
	 where date_key &gt;= #{startTime} and date_key &lt;= #{endTime} 
	 <choose>
  		<when test="type == 0">
  			and is_cust = '是' 
  		</when>
  		<when test="type == 1">
  			and is_hy = '是'
  		</when>
  		<when test="type == 2">
  			and is_vip = 1 
  		</when>
  	</choose>
	and ORG_CODE in  (SELECT c.ORG_CODE from HTD_ODS.DCI_DIM_ORG c where c.ORG_XZCODE = 
		(SELECT d.ORG_XZCODE from HTD_ODS.DCI_DIM_ORG d  where d.ORG_CODE = #{userId} )) 
	GROUP BY ORG_CODE ORDER BY qtyBoss DESC
	) t )where ORG_CODE = #{userId} 
  </select>
  
  <select id="selectForQtyHzg" resultType="java.lang.Integer" parameterType="cn.htd.argus.bean.HtyFctCustAnalysisInDTO" >
 	SELECT rm from(
	SELECT t.*,ROWNUM as rm from (
	SELECT  sum(qty_hzg) as qtyHzg,max(ORG_CODE) as  ORG_CODE FROM HTD_HTY.hty_fct_cust_all
	 where date_key &gt;= #{startTime} and date_key &lt;= #{endTime} 
	 <choose>
  		<when test="type == 0">
  			and is_cust = '是' 
  		</when>
  		<when test="type == 1">
  			and is_hy = '是'
  		</when>
  		<when test="type == 2">
  			and is_vip = 1 
  		</when>
  	</choose>
	and ORG_CODE in  (SELECT c.ORG_CODE from HTD_ODS.DCI_DIM_ORG c where c.ORG_XZCODE = 
		(SELECT d.ORG_XZCODE from HTD_ODS.DCI_DIM_ORG d  where d.ORG_CODE = #{userId} )) 
	GROUP BY ORG_CODE ORDER BY qtyHzg DESC
	) t )where ORG_CODE = #{userId} 
  </select>
  
  <select id="selectForAmtDk" resultType="java.lang.Integer" parameterType="cn.htd.argus.bean.HtyFctCustAnalysisInDTO" >
 	SELECT rm from(
	SELECT t.*,ROWNUM as rm from (
	SELECT  sum(amt_dk) as amtDk,max(ORG_CODE) as  ORG_CODE FROM HTD_HTY.hty_fct_cust_all
	 where date_key &gt;= #{startTime} and date_key &lt;= #{endTime} 
	 <choose>
  		<when test="type == 0">
  			and is_cust = '是' 
  		</when>
  		<when test="type == 1">
  			and is_hy = '是'
  		</when>
  		<when test="type == 2">
  			and is_vip = 1 
  		</when>
  	</choose>
	and ORG_CODE in  (SELECT c.ORG_CODE from HTD_ODS.DCI_DIM_ORG c where c.ORG_XZCODE = 
		(SELECT d.ORG_XZCODE from HTD_ODS.DCI_DIM_ORG d  where d.ORG_CODE = #{userId} )) 
	GROUP BY ORG_CODE ORDER BY amtDk DESC
	) t )where ORG_CODE = #{userId} 
  </select>
  
  <select id="selectForPair" resultMap="BaseResultMap" parameterType="cn.htd.argus.bean.HtyFctCustAnalysisInDTO" >
  	select sum(qty_b2b) as qty_b2b, 
  	sum(qty_boss) as qty_boss, max(org_code) as org_code,max(cust_code) as cust_code 
  	from HTD_HTY.hty_fct_cust_all 
  	where date_key &gt;= #{startTime} and date_key &lt;= #{endTime} 
  	<choose>
  		<when test="type == 0">
  			and is_cust = '是' 
  		</when>
  		<when test="type == 1">
  			and is_hy = '是' 
  		</when>
  		<when test="type == 2">
  			and is_vip = 1 
  		</when>
  	</choose>
  	 and ORG_CODE in 
	(SELECT c.ORG_CODE from HTD_ODS.DCI_DIM_ORG c where c.ORG_XZCODE = 
	(SELECT d.ORG_XZCODE from HTD_ODS.DCI_DIM_ORG d  where d.ORG_CODE = #{userId}))
  	 GROUP BY cust_code
  </select>
  
  <select id="selectForManager" resultMap="BaseResultMap" parameterType="cn.htd.argus.dto.HtyFctCustAllDto" >
     select * from(
    select 
    cust_name,amt_all,amt_online,qty_b2b,qty_boss,qty_hzg,amt_dk,qty_fs,expire_time
    ,area_proname,area_cityname,area_countyname,area_townname,cust_managername 
    from HTD_HTY.hty_fct_cust_all where date_key = #{dateKey} and org_code = #{orgCode}
    <if test="isHy != null">
     and is_hy = #{isHy} 
    </if>
    <if test="isVip != null">
     and is_vip = #{isVip} 
    </if>
    order by amt_all desc ,amt_online desc,qty_b2b desc ,qty_boss desc,qty_hzg desc,amt_dk desc)
  	<if test="outType == 1">
  	  where ROWNUM &gt;=1 and ROWNUM &lt;=10 
  	</if>
  </select>
  
  <select id="selectForManagerYear" resultMap="BaseResultMap" parameterType="cn.htd.argus.dto.HtyFctCustAllDto" >
    select * from(
    select 
    Max(cust_name) as cust_name,Max(cust_code) as cust_code,sum(amt_all) as amt_all,sum(amt_online) as amt_online 
    from HTD_HTY.hty_fct_cust_all where date_key &gt;=#{dateKey} 
    and CUST_CODE in(
	select cust_code from(
	    select 
	    cust_code
	    from HTD_HTY.hty_fct_cust_all where date_key = #{newTime}  and org_code =#{orgCode} 
	  <if test="isHy != null">
     and is_hy = #{isHy} 
    </if>
    <if test="isVip != null">
     and is_vip = #{isVip} 
    </if>
	order by amt_all desc ,amt_online desc
	))
  	group by cust_code 
    order by amt_all desc ,amt_online desc)
     <if test="outType == 1">
  	  where ROWNUM &gt;=1 and ROWNUM &lt;=10 
  	</if>
  </select>
  
  <select id="selectForManagerAll" resultMap="BaseResultMap" parameterType="cn.htd.argus.dto.HtyFctCustAllDto" >
    select 
    Max(cust_code) as cust_code,sum(qty_b2b) as qty_b2b,sum(qty_boss) as qty_boss,
    sum(qty_hzg) as qty_hzg,sum(amt_dk) as amt_dk,
    sum(case when date_key = #{dateKey} then qty_fs else 0 end) as QTY_FS
    from HTD_HTY.hty_fct_cust_all 
    where cust_code in 
   (select cust_code from(
    select 
    cust_code
    from HTD_HTY.hty_fct_cust_all where date_key = #{dateKey} and org_code = #{orgCode}
    <if test="isHy != null">
     and is_hy = #{isHy} 
    </if>
    <if test="isVip != null">
     and is_vip = #{isVip} 
    </if>
    order by amt_all desc ,amt_online desc)
    )
    group by cust_code 
  </select>
  
  <select id="selectSumAmt" resultType="java.math.BigDecimal" parameterType="cn.htd.argus.dto.HtyFctCustAllDto" >
  	SELECT sum(amt_all) FROM HTD_HTY.hty_fct_cust_all where org_code=#{orgCode} and date_key=#{dateKey};
  </select>
 
</mapper>