<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.argus.mappers.HtyFctProdAllOrgDTOMapper" >
  <resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctProdAllOrgDTO" >
    <result column="STAT_DAY" property="statDay" jdbcType="VARCHAR" />
    <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
    <result column="ORG_FNAME" property="orgFname" jdbcType="VARCHAR" />
    <result column="PROD_NUM" property="prodNum" jdbcType="DECIMAL" />
    <result column="PROD_NUM_DOWN" property="prodNumDown" jdbcType="DECIMAL" />
    <result column="PROD_NUM_SALE" property="prodNumSale" jdbcType="DECIMAL" />
    <result column="PROD_NUM_BX" property="prodNumBx" jdbcType="DECIMAL" />
    <result column="PROD_NUM_QY" property="prodNumQy" jdbcType="DECIMAL" />
    <result column="PROD_NUM_WK" property="prodNumWk" jdbcType="DECIMAL" />
    <result column="PROD_NUM_DOWN_WK" property="prodNumDownWk" jdbcType="DECIMAL" />
    <result column="PROD_NUM_SALE_WK" property="prodNumSaleWk" jdbcType="DECIMAL" />
    <result column="PROD_NUM_BX_WK" property="prodNumBxWk" jdbcType="DECIMAL" />
    <result column="PROD_NUM_QY_WK" property="prodNumQyWk" jdbcType="DECIMAL" />
    <result column="PROD_CODE" property="prodCode" jdbcType="VARCHAR" />
    <result column="PROD_FNAME" property="prodFname" jdbcType="VARCHAR" />
    <result column="PP_CODE" property="ppCode" jdbcType="VARCHAR" />
    <result column="PP_NAME" property="ppName" jdbcType="VARCHAR" />
    <result column="PL_CODE_LV1" property="plCodeLv1" jdbcType="VARCHAR" />
    <result column="PL_NAME_LV1" property="plNameLv1" jdbcType="VARCHAR" />
    <result column="PL_CODE_LV2" property="plCodeLv2" jdbcType="VARCHAR" />
    <result column="PL_NAME_LV2" property="plNameLv2" jdbcType="VARCHAR" />
    <result column="PL_CODE_LV3" property="plCodeLv3" jdbcType="VARCHAR" />
    <result column="PL_NAME_LV3" property="plNameLv3" jdbcType="VARCHAR" />
    <result column="SALE_FLAG" property="saleFlag" jdbcType="VARCHAR" />
    <result column="SALE_AMT_YEAR" property="saleAmtYear" jdbcType="DECIMAL" />
    <result column="SALE_QVT_YEAR" property="saleQvtYear" jdbcType="DECIMAL" />
    <result column="SALE_AMT_ALL" property="saleAmtAll" jdbcType="DECIMAL" />
    <result column="SALE_AVG" property="saleAvg" jdbcType="DECIMAL" />
  </resultMap>

  <sql id="where">
    <where>
      <if test="searchDTO.userId != null and searchDTO.userId != '' ">
        and  ORG_CODE = #{searchDTO.userId}
      </if>
      <if test="searchDTO.endTime != null and searchDTO.endTime != '' ">
        and  STAT_DAY = #{searchDTO.endTime}
      </if>
    </where>
  </sql>

  <select id="selectAllHead" resultMap="BaseResultMap">
    SELECT PROD_NUM AS PROD_NUM,  --商品总数
    round(decode(PROD_NUM_WK,0,1,PROD_NUM/PROD_NUM_WK-1),4)*100 as PROD_NUM_WK, --商品总数环比
    PROD_NUM_DOWN AS PROD_NUM_DOWN, --下架商品
    round(decode(PROD_NUM_DOWN_WK,0,1,PROD_NUM_DOWN/PROD_NUM_DOWN_WK-1),4)*100 as PROD_NUM_DOWN_WK, --下架商品环比
    PROD_NUM_SALE AS PROD_NUM_SALE, --有销售记录商品
    round(decode(PROD_NUM_SALE_WK,0,1,PROD_NUM_SALE/PROD_NUM_SALE_WK-1),4)*100 as PROD_NUM_SALE_WK, --有销售记录商品环比
    PROD_NUM_BX AS PROD_NUM_BX, --包厢上架数
    round(decode(PROD_NUM_BX_WK,0,1,PROD_NUM_BX/PROD_NUM_BX_WK-1),4)*100 as PROD_NUM_BX_WK, --包厢上架数环比
    PROD_NUM_QY AS PROD_NUM_QY, --区域上架数
    round(decode(PROD_NUM_QY_WK,0,1,PROD_NUM_QY/PROD_NUM_QY_WK-1),4)*100 as PROD_NUM_QY_WK --区域上架数环比
    FROM HTD_HTY.HTY_FCT_PROD_ALL_ORG
    <include refid="where"/>
  </select>

</mapper>