<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.argus.mappers.HtyFctSalePpAnalysisOrgDTOMapper" >
  <resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctSalePpAnalysisOrgDTO" >
    <result column="STAT_DAY" property="statDay" jdbcType="VARCHAR" />
    <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
    <result column="ORG_FNAME" property="orgFname" jdbcType="VARCHAR" />
    <result column="PP_CODE" property="ppCode" jdbcType="VARCHAR" />
    <result column="PP_NAME" property="ppName" jdbcType="VARCHAR" />
    <result column="SALE_AMT_ALL" property="saleAmtAll" jdbcType="DECIMAL" />
    <result column="SALE_QVT" property="saleQvt" jdbcType="DECIMAL" />
    <result column="SALE_AMT_YEAR" property="saleAmtYear" jdbcType="DECIMAL" />
    <result column="SALE_AMT_MON" property="saleAmtMon" jdbcType="DECIMAL" />
    <result column="IS_ENDFLAG" property="isEndflag" jdbcType="VARCHAR" />
    <result column="SALE_AVG" property="saleAvg" jdbcType="DECIMAL" />
  </resultMap>

  <sql id="where">
    <where>
      <if test="searchDTO.userId != null and searchDTO.userId != '' ">
        and  ORG_CODE = #{searchDTO.userId}
      </if>
      <if test="searchDTO.endTime != null and searchDTO.endTime != '' ">
        and STAT_DAY like concat(#{searchDTO.endTime},'%')
      </if>
      <if test="searchDTO.ppCode != null and searchDTO.ppCode != '' ">
        and  PP_CODE = #{searchDTO.ppCode}
      </if>
      <choose>
        <when test="searchDTO.isEndflag == 0">
          and IS_ENDFLAG = 0
        </when>
        <when test="searchDTO.isEndflag == 1">
          and IS_ENDFLAG = 1
        </when>
      </choose>
    </where>
  </sql>

  <select id="querySalePpAnalysisOrg" resultMap="BaseResultMap">
    SELECT T.*, ROWNUM AS rn FROM
    (
      SELECT
        STAT_DAY,
        ORG_CODE,
        ORG_FNAME,
        PP_CODE,
        PP_NAME,
        SALE_AMT_ALL,
        SALE_QVT,
        SALE_AMT_YEAR,
        SALE_AMT_MON,
        IS_ENDFLAG,
        round(SALE_AVG,4)*100 as SALE_AVG
      FROM HTD_HTY.HTY_FCT_SALE_PP_ANALYSIS_ORG
      <include refid="where"/>
      ORDER BY SALE_AVG DESC
    ) T
  </select>

  <insert id="insert" parameterType="cn.htd.argus.dto.HtyFctSalePpAnalysisOrgDTO" >
    insert into HTY_FCT_SALE_PP_ANALYSIS_ORG (STAT_DAY, ORG_CODE, ORG_FNAME, 
      PP_CODE, PP_NAME, SALE_AMT_ALL, 
      SALE_QVT, SALE_AMT_YEAR, SALE_AMT_MON, 
      IS_ENDFLAG, SALE_AVG)
    values (#{statDay,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, #{orgFname,jdbcType=VARCHAR}, 
      #{ppCode,jdbcType=VARCHAR}, #{ppName,jdbcType=VARCHAR}, #{saleAmtAll,jdbcType=DECIMAL}, 
      #{saleQvt,jdbcType=DECIMAL}, #{saleAmtYear,jdbcType=DECIMAL}, #{saleAmtMon,jdbcType=DECIMAL}, 
      #{isEndflag,jdbcType=VARCHAR}, #{saleAvg,jdbcType=DECIMAL})
  </insert>
</mapper>