<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.argus.mappers.HtyFctL1ZcfzSubjamtDTOMapper" >
  <resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctL1ZcfzSubjamtDTO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="dtime" property="dtime" jdbcType="CHAR" />
    <result column="year_mon" property="yearMon" jdbcType="CHAR" />
    <result column="org_code" property="orgCode" jdbcType="CHAR" />
    <result column="p_subjcode" property="pSubjcode" jdbcType="VARCHAR" />
    <result column="subjcode" property="subjcode" jdbcType="VARCHAR" />
    <result column="zcfz_amount" property="zcfzAmount" jdbcType="DECIMAL" />
    <result column="etl_date" property="etlDate" jdbcType="DECIMAL" />
    <result column="etl_time" property="etlTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dtime, year_mon, org_code, p_subjcode, subjcode, zcfz_amount, etl_date, etl_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hty_fct_l1_zcfz_subjamt
    where id = #{id,jdbcType=BIGINT}
  </select>

</mapper>