<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.htd.argus.dao.DciDimOrgDTOMapper">
  <resultMap id="BaseResultMap" type="cn.htd.argus.dto.DciDimOrgDTO">
    <result column="ID" jdbcType="BIGINT" property="id" />
    <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="ORG_SNAME" jdbcType="VARCHAR" property="orgSname" />
    <result column="ORG_PCODE" jdbcType="VARCHAR" property="orgPcode" />
    <result column="ORG_PSNAME" jdbcType="VARCHAR" property="orgPsname" />
    <result column="ORG_XZCODE" jdbcType="VARCHAR" property="orgXzcode" />
    <result column="ORG_XZ" jdbcType="VARCHAR" property="orgXz" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORG_CODE, ORG_SNAME, ORG_PCODE, ORG_PSNAME, ORG_XZCODE, ORG_XZ
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dci_dim_org
    where ID = #{id,jdbcType=BIGINT}
  </select>

  <select id="select" resultMap="BaseResultMap" parameterType="cn.htd.argus.dto.DciDimOrgDTO" >
    select
    <include refid="Base_Column_List" />
    from dci_dim_org
    <where>
      <if test="id != null">
        and ID = #{id}
      </if>
      <if test="orgCode != null">
        and ORG_CODE = #{orgCode}
      </if>
      <if test="orgSname != null">
        and ORG_SNAME = #{orgSname}
      </if>
      <if test="orgPcode != null">
        and ORG_PCODE = #{orgPcode}
      </if>
      <if test="orgPsname != null">
        and ORG_PSNAME = #{orgPsname}
      </if>
      <if test="orgXzcode != null">
        and ORG_XZCODE = #{orgXzcode}
      </if>
      <if test="orgXz != null">
        and ORG_XZ = #{orgXz}
      </if>
    </where>
  </select>
  <select id="selectAllNum" resultType="int" >
    select count(1) from dci_dim_org
  </select>
  <select id="selectRegionNum" resultType="java.lang.Integer" parameterType="cn.htd.argus.bean.HtyFctCustAnalysisInDTO">
    SELECT count(1) from DCI_DIM_ORG c where c.ORG_PCODE = 
	(SELECT d.ORG_PCODE from DCI_DIM_ORG d  where d.ORG_CODE = #{userId})
  </select>
</mapper>