<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.argus.dao.HtyFctSaleXzHotDTOMapper" >
  <resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctSaleXzHotDTO" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="DATE_KEY" property="dateKey" jdbcType="VARCHAR" />
    <result column="ORG_XZCODE" property="orgXzcode" jdbcType="VARCHAR" />
    <result column="PL_CODE" property="plCode" jdbcType="VARCHAR" />
    <result column="PL_NAME" property="plName" jdbcType="VARCHAR" />
    <result column="PP_CODE" property="ppCode" jdbcType="VARCHAR" />
    <result column="PP_NAME" property="ppName" jdbcType="VARCHAR" />
    <result column="PROD_CODE" property="prodCode" jdbcType="VARCHAR" />
    <result column="PROD_NAME" property="prodName" jdbcType="VARCHAR" />
    <result column="XS_AMT" property="xsAmt" jdbcType="DECIMAL" />
    <result column="XS_QTY" property="xsQty" jdbcType="DECIMAL" />
    <result column="MAX_XS_AMT" property="maxXsAmt" jdbcType="DECIMAL" />
    <result column="MIN_XS_AMT" property="minXsAmt" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DATE_KEY, ORG_XZCODE, PL_CODE, PL_NAME, PP_CODE, PP_NAME, PROD_CODE, PROD_NAME, 
    XS_AMT, XS_QTY, MAX_XS_AMT, MIN_XS_AMT
  </sql>

  <sql id="where">
    <where>
      <if test="searchDTO.plCode != null and searchDTO.plCode != '' ">
        and  PL_CODE = #{searchDTO.plCode}
      </if>
      <if test="searchDTO.ppCode != null and searchDTO.ppCode != '' ">
        and  PP_CODE = #{searchDTO.ppCode}
      </if>
      <if test="searchDTO.startTime != null and searchDTO.startTime != ''">
        <![CDATA[ and DATE_KEY >= #{startTime} ]]>
      </if>
      <if test="searchDTO.endTime != null and searchDTO.endTime != ''">
        <![CDATA[ and DATE_KEY <= #{endTime} ]]>
      </if>
    </where>
  </sql>

  <select id="queryPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from hty_fct_sale_xz_hot
    <include refid="where"/>
    limit #{pager.pageOffset},#{pager.rows}
  </select>

  <select id="queryPageCount" resultType="long">
    SELECT COUNT(*) FROM (SELECT
    <include refid="Base_Column_List" />
    FROM
    hty_fct_sale_xz_hot
    <include refid="where"/>) a

  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hty_fct_sale_xz_hot
    where ID = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByOrgCode" resultMap="BaseResultMap" parameterType="cn.htd.argus.dto.HtyFctSaleXzHotDTO" >
    select
    <include refid="Base_Column_List" />
    from hty_fct_sale_xz_hot
    where ORG_CODE = #{orgCode} order by YEAR_MON desc limit 1
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hty_fct_sale_xz_hot
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.htd.argus.dto.HtyFctSaleXzHotDTO" >
    insert into hty_fct_sale_xz_hot (ID, DATE_KEY, ORG_XZCODE, 
      PL_CODE, PL_NAME, PP_CODE, 
      PP_NAME, PROD_CODE, PROD_NAME, 
      XS_AMT, XS_QTY, MAX_XS_AMT, 
      MIN_XS_AMT)
    values (#{id,jdbcType=BIGINT}, #{dateKey,jdbcType=VARCHAR}, #{orgXzcode,jdbcType=VARCHAR}, 
      #{plCode,jdbcType=VARCHAR}, #{plName,jdbcType=VARCHAR}, #{ppCode,jdbcType=VARCHAR}, 
      #{ppName,jdbcType=VARCHAR}, #{prodCode,jdbcType=VARCHAR}, #{prodName,jdbcType=VARCHAR}, 
      #{xsAmt,jdbcType=DECIMAL}, #{xsQty,jdbcType=DECIMAL}, #{maxXsAmt,jdbcType=DECIMAL}, 
      #{minXsAmt,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.htd.argus.dto.HtyFctSaleXzHotDTO" >
    insert into hty_fct_sale_xz_hot
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="dateKey != null" >
        DATE_KEY,
      </if>
      <if test="orgXzcode != null" >
        ORG_XZCODE,
      </if>
      <if test="plCode != null" >
        PL_CODE,
      </if>
      <if test="plName != null" >
        PL_NAME,
      </if>
      <if test="ppCode != null" >
        PP_CODE,
      </if>
      <if test="ppName != null" >
        PP_NAME,
      </if>
      <if test="prodCode != null" >
        PROD_CODE,
      </if>
      <if test="prodName != null" >
        PROD_NAME,
      </if>
      <if test="xsAmt != null" >
        XS_AMT,
      </if>
      <if test="xsQty != null" >
        XS_QTY,
      </if>
      <if test="maxXsAmt != null" >
        MAX_XS_AMT,
      </if>
      <if test="minXsAmt != null" >
        MIN_XS_AMT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dateKey != null" >
        #{dateKey,jdbcType=VARCHAR},
      </if>
      <if test="orgXzcode != null" >
        #{orgXzcode,jdbcType=VARCHAR},
      </if>
      <if test="plCode != null" >
        #{plCode,jdbcType=VARCHAR},
      </if>
      <if test="plName != null" >
        #{plName,jdbcType=VARCHAR},
      </if>
      <if test="ppCode != null" >
        #{ppCode,jdbcType=VARCHAR},
      </if>
      <if test="ppName != null" >
        #{ppName,jdbcType=VARCHAR},
      </if>
      <if test="prodCode != null" >
        #{prodCode,jdbcType=VARCHAR},
      </if>
      <if test="prodName != null" >
        #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="xsAmt != null" >
        #{xsAmt,jdbcType=DECIMAL},
      </if>
      <if test="xsQty != null" >
        #{xsQty,jdbcType=DECIMAL},
      </if>
      <if test="maxXsAmt != null" >
        #{maxXsAmt,jdbcType=DECIMAL},
      </if>
      <if test="minXsAmt != null" >
        #{minXsAmt,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.htd.argus.dto.HtyFctSaleXzHotDTO" >
    update hty_fct_sale_xz_hot
    <set >
      <if test="dateKey != null" >
        DATE_KEY = #{dateKey,jdbcType=VARCHAR},
      </if>
      <if test="orgXzcode != null" >
        ORG_XZCODE = #{orgXzcode,jdbcType=VARCHAR},
      </if>
      <if test="plCode != null" >
        PL_CODE = #{plCode,jdbcType=VARCHAR},
      </if>
      <if test="plName != null" >
        PL_NAME = #{plName,jdbcType=VARCHAR},
      </if>
      <if test="ppCode != null" >
        PP_CODE = #{ppCode,jdbcType=VARCHAR},
      </if>
      <if test="ppName != null" >
        PP_NAME = #{ppName,jdbcType=VARCHAR},
      </if>
      <if test="prodCode != null" >
        PROD_CODE = #{prodCode,jdbcType=VARCHAR},
      </if>
      <if test="prodName != null" >
        PROD_NAME = #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="xsAmt != null" >
        XS_AMT = #{xsAmt,jdbcType=DECIMAL},
      </if>
      <if test="xsQty != null" >
        XS_QTY = #{xsQty,jdbcType=DECIMAL},
      </if>
      <if test="maxXsAmt != null" >
        MAX_XS_AMT = #{maxXsAmt,jdbcType=DECIMAL},
      </if>
      <if test="minXsAmt != null" >
        MIN_XS_AMT = #{minXsAmt,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.htd.argus.dto.HtyFctSaleXzHotDTO" >
    update hty_fct_sale_xz_hot
    set DATE_KEY = #{dateKey,jdbcType=VARCHAR},
      ORG_XZCODE = #{orgXzcode,jdbcType=VARCHAR},
      PL_CODE = #{plCode,jdbcType=VARCHAR},
      PL_NAME = #{plName,jdbcType=VARCHAR},
      PP_CODE = #{ppCode,jdbcType=VARCHAR},
      PP_NAME = #{ppName,jdbcType=VARCHAR},
      PROD_CODE = #{prodCode,jdbcType=VARCHAR},
      PROD_NAME = #{prodName,jdbcType=VARCHAR},
      XS_AMT = #{xsAmt,jdbcType=DECIMAL},
      XS_QTY = #{xsQty,jdbcType=DECIMAL},
      MAX_XS_AMT = #{maxXsAmt,jdbcType=DECIMAL},
      MIN_XS_AMT = #{minXsAmt,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>