<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.argus.dao.HtyFctOrgCustDTOMapper" >
  <resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctOrgCustDTO" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
    <result column="YEAR_MON" property="yearMon" jdbcType="VARCHAR" />
    <result column="MON_NEWCUSTNUM" property="monNewcustnum" jdbcType="INTEGER" />
    <result column="LASTMON_NEWCUSTNUM" property="lastmonNewcustnum" jdbcType="INTEGER" />
    <result column="YEAR_NEWCUSTNUM" property="yearNewcustnum" jdbcType="INTEGER" />
    <result column="LASTYEAR_NEWCUSTNUM" property="lastyearNewcustnum" jdbcType="INTEGER" />
    <result column="MON_TRANSCUSTNUM" property="monTranscustnum" jdbcType="INTEGER" />
    <result column="YEAR_TRANSCUSTNUM" property="yearTranscustnum" jdbcType="INTEGER" />
    <result column="ACT_CUSTNUM" property="actCustnum" jdbcType="INTEGER" />
    <result column="MORRUNACT_CUSTNUM" property="morrunactCustnum" jdbcType="INTEGER" />
    <result column="VIP_NUM" property="vipNum" jdbcType="INTEGER" />
    <result column="EXPIRE30_VIP_NUM" property="expire30VipNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORG_CODE, YEAR_MON, MON_NEWCUSTNUM, LASTMON_NEWCUSTNUM, YEAR_NEWCUSTNUM, LASTYEAR_NEWCUSTNUM, 
    MON_TRANSCUSTNUM, YEAR_TRANSCUSTNUM, ACT_CUSTNUM, MORRUNACT_CUSTNUM, VIP_NUM, EXPIRE30_VIP_NUM
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hty_fct_org_cust
    where ID = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByOrgCode" resultMap="BaseResultMap" parameterType="cn.htd.argus.dto.HtyFctOrgCustDTO" >
    select
    <include refid="Base_Column_List" />
    from hty_fct_org_cust
    where ORG_CODE = #{orgCode} order by YEAR_MON desc limit 1
  </select>

  <select id="select" resultMap="BaseResultMap" parameterType="cn.htd.argus.dto.HtyFctOrgCustDTO" >
    select
    <include refid="Base_Column_List" />
    from hty_fct_org_cust
    <where>
      <if test="id != null">
        and ID = #{id}
      </if>
      <if test="orgCode != null">
        and ORG_CODE = #{orgCode}
      </if>
      <if test="yearMon != null">
        and YEAR_MON = #{yearMon}
      </if>
      <if test="monNewcustnum != null">
        and MON_NEWCUSTNUM = #{monNewcustnum}
      </if>
      <if test="lastmonNewcustnum != null">
        and LASTMON_NEWCUSTNUM = #{lastmonNewcustnum}
      </if>
      <if test="yearNewcustnum != null">
        and YEAR_NEWCUSTNUM = #{yearNewcustnum}
      </if>
      <if test="lastyearNewcustnum != null">
        and LASTYEAR_NEWCUSTNUM = #{lastyearNewcustnum}
      </if>
      <if test="monTranscustnum != null">
        and MON_TRANSCUSTNUM = #{monTranscustnum}
      </if>
      <if test="yearTranscustnum != null">
        and YEAR_TRANSCUSTNUM = #{yearTranscustnum}
      </if>
      <if test="actCustnum != null">
        and ACT_CUSTNUM = #{actCustnum}
      </if>
      <if test="morrunactCustnum != null">
        and MORRUNACT_CUSTNUM = #{morrunactCustnum}
      </if>
      <if test="vipNum != null">
        and VIP_NUM = #{vipNum}
      </if>
      <if test="expire30VipNum != null">
        and EXPIRE30_VIP_NUM = #{expire30VipNum}
      </if>
    </where>
  </select>
  
  <select id="selectYear" resultMap="BaseResultMap" parameterType="cn.htd.argus.dto.HtyFctOrgCustDTO" >
    select
    <include refid="Base_Column_List" />
    from hty_fct_org_cust
    where YEAR_MON like CONCAT(#{yearMon},'%') and ORG_CODE = #{orgCode} order by YEAR_MON ASC
  </select>
  
  <select id="selectSortNumForHead" resultType="int" parameterType="cn.htd.argus.dto.HtyFctOrgCustDTO" >
    select u.rowNo from (  
	select ORG_CODE,YEAR_NEWCUSTNUM,YEAR_MON,(@rowNum:=@rowNum+1) as rowNo  
	from hty_fct_org_cust,  
	(select (@rowNum :=0) ) b  where YEAR_MON = #{yearMon} 
	order by hty_fct_org_cust.YEAR_NEWCUSTNUM desc ) u where u.ORG_CODE = #{orgCode}
  </select>
  
  <select id="selectSortNumForBranch" resultType="int" parameterType="cn.htd.argus.dto.HtyFctOrgCustDTO" >
   select u.rowNo from (  
	select t.ORG_CODE,t.YEAR_NEWCUSTNUM,t.YEAR_MON,(@rowNum:=@rowNum+1) as rowNo from (  
	select ORG_CODE,YEAR_NEWCUSTNUM,YEAR_MON 
	from hty_fct_org_cust  
	where YEAR_MON = #{yearMon} and ORG_CODE in 
	(SELECT c.ORG_CODE from DCI_DIM_ORG c where c.ORG_PCODE = 
	(SELECT d.ORG_PCODE from DCI_DIM_ORG d  where d.ORG_CODE = #{orgCode}))
	order by hty_fct_org_cust.YEAR_NEWCUSTNUM desc ) t,(select (@rowNum :=0) ) b 
	) u where u.ORG_CODE = #{orgCode}
  </select>
  
  <select id="selectAvgHead" resultType="int" parameterType="cn.htd.argus.dto.HtyFctOrgSaleDTO" >
   SELECT cast(avg(YEAR_NEWCUSTNUM) as decimal(20,2)) as avgNum FROM hty_fct_org_cust where YEAR_MON=#{yearMon}
  </select>
  
  <select id="selectAvgBrach" resultType="int" parameterType="cn.htd.argus.dto.HtyFctOrgSaleDTO" >
   SELECT cast(avg(YEAR_NEWCUSTNUM) as decimal(20,2)) as avgNum FROM hty_fct_org_cust where YEAR_MON=#{yearMon} 
   and ORG_CODE in (SELECT c.ORG_CODE from DCI_DIM_ORG c where c.ORG_PCODE = 
	(SELECT d.ORG_PCODE from DCI_DIM_ORG d  where d.ORG_CODE=#{orgCode}))
  </select>
  
  <select id="selectCompanySortHead" resultType="String" parameterType="cn.htd.argus.dto.HtyFctOrgSaleDTO" >
   SELECT org.ORG_SNAME FROM hty_fct_org_cust sale,DCI_DIM_ORG org where sale.YEAR_MON=#{yearMon} 
   and org.ORG_CODE=sale.ORG_CODE ORDER BY sale.YEAR_NEWCUSTNUM DESC LIMIT 0,10
  </select>
  
  <select id="selectCompanySortBrach" resultType="String" parameterType="cn.htd.argus.dto.HtyFctOrgSaleDTO" >
   SELECT org.ORG_SNAME FROM hty_fct_org_cust sale,DCI_DIM_ORG org where sale.YEAR_MON=#{yearMon} 
   and org.ORG_CODE=sale.ORG_CODE and sale.ORG_CODE in 
   (SELECT c.ORG_CODE from DCI_DIM_ORG c where c.ORG_PCODE = 
	(SELECT d.ORG_PCODE from DCI_DIM_ORG d  where d.ORG_CODE = #{orgCode})) 
   ORDER BY sale.YEAR_NEWCUSTNUM DESC LIMIT 0,10
  </select>
</mapper>