<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.argus.dao.HtyFctCustAllDTOMapper" >
  <resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctCustAllDto" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="date_key" property="dateKey" jdbcType="VARCHAR" />
    <result column="cust_rq" property="custRq" jdbcType="VARCHAR" />
    <result column="cust_code" property="custCode" jdbcType="VARCHAR" />
    <result column="cust_name" property="custName" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="org_sname" property="orgSname" jdbcType="VARCHAR" />
    <result column="org_fname" property="orgFname" jdbcType="VARCHAR" />
    <result column="area_procode" property="areaProCode" jdbcType="VARCHAR" />
    <result column="area_proname" property="areaProName" jdbcType="VARCHAR" />
    <result column="area_citycode" property="areaCityCode" jdbcType="VARCHAR" />
    <result column="area_cityname" property="areaCityName" jdbcType="VARCHAR" />
    <result column="area_countycode" property="areaCountyCode" jdbcType="VARCHAR" />
    <result column="area_countyname" property="areaCountyName" jdbcType="VARCHAR" />
    <result column="area_towncode" property="areaTownCode" jdbcType="VARCHAR" />
    <result column="area_townname" property="areaTownName" jdbcType="VARCHAR" />
    <result column="cust_managercode" property="custManagerCode" jdbcType="VARCHAR" />
    <result column="cust_managername" property="custManagerName" jdbcType="VARCHAR" />
    <result column="amt_all" property="amtAll" jdbcType="DECIMAL" />
    <result column="amt_online" property="amtOnline" jdbcType="DECIMAL" />
    <result column="amt_online_boss" property="amtOnlineBoss" jdbcType="DECIMAL" />
    <result column="amt_online_b2b" property="amtOnlineB2b" jdbcType="DECIMAL" />
    <result column="amt_online_vms" property="amtOnlineVms" jdbcType="DECIMAL" />
    <result column="amt_dk" property="amtDk" jdbcType="DECIMAL" />
    <result column="qty_b2b" property="qtyB2b" jdbcType="DECIMAL" />
    <result column="qty_boss" property="qtyBoss" jdbcType="DECIMAL" />
    <result column="qty_hzg" property="qtyHzg" jdbcType="DECIMAL" />
    <result column="qty_fs" property="qtyFs" jdbcType="DECIMAL" />
    <result column="is_cust" property="isCust" jdbcType="DECIMAL" />
    <result column="is_hy" property="isHy" jdbcType="DECIMAL" />
    <result column="is_vip" property="isVip" jdbcType="DECIMAL" />
    <result column="is_dk" property="isDk" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, date_key, cust_rq, cust_code, cust_name, org_code, org_sname, org_fname,
     area_procode, area_proname, area_citycode, area_cityname,
     area_countycode, area_countyname, area_towncode, area_townname, cust_managercode,
     cust_managername, amt_all, amt_online, amt_online_boss, amt_online_b2b,
     amt_online_vms, amt_dk, qty_b2b, qty_boss, qty_hzg, qty_fs, is_cust,
     is_hy, is_vip, is_dk 
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hty_fct_cust_all
    where ID = #{id,jdbcType=BIGINT}
  </select>

  <select id="select" resultMap="BaseResultMap" parameterType="cn.htd.argus.dto.DciDimOrgDTO" >
    select
    <include refid="Base_Column_List" />
    from hty_fct_cust_all
    <where>
      <if test="id != null">
        and ID = #{id}
      </if>
      <if test="dateKey != null">
        and date_key = #{dateKey}
      </if>
      <if test="custRq != null">
        and cust_rq = #{custRq}
      </if>
      <if test="custCode != null">
        and cust_code = #{custCode}
      </if>
      <if test="custName != null">
        and cust_name = #{custName}
      </if>
      <if test="orgCode != null">
        and org_code = #{orgCode}
      </if>
      <if test="orgSname != null">
        and org_sname = #{orgSname}
      </if>
      <if test="orgFname != null">
        and org_fname = #{orgFname}
      </if>
      <if test="areaProCode != null">
        and area_procode = #{areaProCode}
      </if>
      <if test="areaProName != null">
        and area_proname = #{areaProName}
      </if>
      <if test="areaCityCode != null">
        and area_citycode = #{areaCityCode}
      </if>
      <if test="areaCityName != null">
        and area_cityname = #{areaCityName}
      </if>
      <if test="areaCountyCode != null">
        and area_countycode = #{areaCountyCode}
      </if>
      <if test="areaCountyName != null">
        and area_countyname = #{areaCountyName}
      </if>
      <if test="areaTownCode != null">
        and area_towncode = #{areaTownCode}
      </if>
      <if test="areaTownName != null">
        and area_townname = #{areaTownName}
      </if>
      <if test="custManagerCode != null">
        and cust_managercode = #{custManagerCode}
      </if>
      <if test="custManagerName != null">
        and cust_managername = #{custManagerName}
      </if>
      <if test="amtAll != null">
        and amt_all = #{amtAll}
      </if>
      <if test="amtOnline != null">
        and amt_online = #{amtOnline}
      </if>
      <if test="amtOnlineBoss != null">
        and amt_online_boss = #{amtOnlineBoss}
      </if>
      <if test="amtOnlineB2b != null">
        and amt_online_b2b = #{amtOnlineB2b}
      </if>
      <if test="amtOnlineVms != null">
        and amt_online_vms = #{amtOnlineVms}
      </if>
      <if test="amtDk != null">
        and amt_dk = #{amtDk}
      </if>
      <if test="qtyB2b != null">
        and qty_b2b = #{qtyB2b}
      </if>
      <if test="qtyBoss != null">
        and qty_boss = #{qtyBoss}
      </if>
      <if test="qtyHzg != null">
        and qty_hzg = #{qtyHzg}
      </if>
      <if test="qtyFs != null">
        and qty_fs = #{qtyFs}
      </if>
      <if test="isCust != null">
        and is_cust = #{isCust}
      </if>
      <if test="isHy != null">
        and is_hy = #{isHy}
      </if>
      <if test="isVip != null">
        and is_vip = #{isVip}
      </if>
      <if test="isDk != null">
        and is_dk = #{isDk}
      </if>
    </where>
  </select>
  <select id="selectByNoPair" resultMap="BaseResultMap" parameterType="cn.htd.argus.bean.HtyFctCustInDto" >
  	select
    <include refid="Base_Column_List" />
    from hty_fct_cust_all
    <where>
   		<if test="userId != null">
        	and org_code = #{userId}
    	</if>
    	<if test="custStartTime != null">
        	and cust_rq &gt;= #{custStartTime}
    	</if>
    	<if test="custEndTime != null">
        	and cust_rq &lt;= #{custEndTime}
    	</if>
    </where>
  </select>
</mapper>