<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.HtyFctOrgCustIncomeSaleDTOMapper">
  <resultMap id="BaseResultMap" type="dto.HtyFctOrgCustIncomeSaleDTO">
    <result column="ID" jdbcType="BIGINT" property="id" />
    <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="YEAR_DATE" jdbcType="VARCHAR" property="yearDate" />
    <result column="CUSTNUM" jdbcType="INTEGER" property="custnum" />
    <result column="TRANSCUSTNUM" jdbcType="INTEGER" property="transcustnum" />
    <result column="ACT_CUSTNUM" jdbcType="INTEGER" property="actCustnum" />
    <result column="VIP_NUM" jdbcType="INTEGER" property="vipNum" />
    <result column="BUSINCOME_AMT" jdbcType="DECIMAL" property="busincomeAmt" />
    <result column="INVOICING_AMT" jdbcType="DECIMAL" property="invoicingAmt" />
    <result column="SERVICE_AMT" jdbcType="DECIMAL" property="serviceAmt" />
    <result column="FINANCE_AMT" jdbcType="DECIMAL" property="financeAmt" />
    <result column="SALE_AMT" jdbcType="DECIMAL" property="saleAmt" />
    <result column="ONLINE_SALEAMT" jdbcType="DECIMAL" property="onlineSaleamt" />
    <result column="PROD_SALEAMT" jdbcType="DECIMAL" property="prodSaleamt" />
    <result column="NONPROD_SALEAMT" jdbcType="DECIMAL" property="nonprodSaleamt" />
  </resultMap>
  <insert id="insert" parameterType="dto.HtyFctOrgCustIncomeSaleDTO">
    insert into hty_fct_org_cust_income_sale (ID, ORG_CODE, YEAR_DATE, 
      CUSTNUM, TRANSCUSTNUM, ACT_CUSTNUM, 
      VIP_NUM, BUSINCOME_AMT, INVOICING_AMT, 
      SERVICE_AMT, FINANCE_AMT, SALE_AMT, 
      ONLINE_SALEAMT, PROD_SALEAMT, NONPROD_SALEAMT
      )
    values (#{id,jdbcType=BIGINT}, #{orgCode,jdbcType=VARCHAR}, #{yearDate,jdbcType=VARCHAR}, 
      #{custnum,jdbcType=INTEGER}, #{transcustnum,jdbcType=INTEGER}, #{actCustnum,jdbcType=INTEGER}, 
      #{vipNum,jdbcType=INTEGER}, #{busincomeAmt,jdbcType=DECIMAL}, #{invoicingAmt,jdbcType=DECIMAL}, 
      #{serviceAmt,jdbcType=DECIMAL}, #{financeAmt,jdbcType=DECIMAL}, #{saleAmt,jdbcType=DECIMAL}, 
      #{onlineSaleamt,jdbcType=DECIMAL}, #{prodSaleamt,jdbcType=DECIMAL}, #{nonprodSaleamt,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="dto.HtyFctOrgCustIncomeSaleDTO">
    insert into hty_fct_org_cust_income_sale
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="orgCode != null">
        ORG_CODE,
      </if>
      <if test="yearDate != null">
        YEAR_DATE,
      </if>
      <if test="custnum != null">
        CUSTNUM,
      </if>
      <if test="transcustnum != null">
        TRANSCUSTNUM,
      </if>
      <if test="actCustnum != null">
        ACT_CUSTNUM,
      </if>
      <if test="vipNum != null">
        VIP_NUM,
      </if>
      <if test="busincomeAmt != null">
        BUSINCOME_AMT,
      </if>
      <if test="invoicingAmt != null">
        INVOICING_AMT,
      </if>
      <if test="serviceAmt != null">
        SERVICE_AMT,
      </if>
      <if test="financeAmt != null">
        FINANCE_AMT,
      </if>
      <if test="saleAmt != null">
        SALE_AMT,
      </if>
      <if test="onlineSaleamt != null">
        ONLINE_SALEAMT,
      </if>
      <if test="prodSaleamt != null">
        PROD_SALEAMT,
      </if>
      <if test="nonprodSaleamt != null">
        NONPROD_SALEAMT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="yearDate != null">
        #{yearDate,jdbcType=VARCHAR},
      </if>
      <if test="custnum != null">
        #{custnum,jdbcType=INTEGER},
      </if>
      <if test="transcustnum != null">
        #{transcustnum,jdbcType=INTEGER},
      </if>
      <if test="actCustnum != null">
        #{actCustnum,jdbcType=INTEGER},
      </if>
      <if test="vipNum != null">
        #{vipNum,jdbcType=INTEGER},
      </if>
      <if test="busincomeAmt != null">
        #{busincomeAmt,jdbcType=DECIMAL},
      </if>
      <if test="invoicingAmt != null">
        #{invoicingAmt,jdbcType=DECIMAL},
      </if>
      <if test="serviceAmt != null">
        #{serviceAmt,jdbcType=DECIMAL},
      </if>
      <if test="financeAmt != null">
        #{financeAmt,jdbcType=DECIMAL},
      </if>
      <if test="saleAmt != null">
        #{saleAmt,jdbcType=DECIMAL},
      </if>
      <if test="onlineSaleamt != null">
        #{onlineSaleamt,jdbcType=DECIMAL},
      </if>
      <if test="prodSaleamt != null">
        #{prodSaleamt,jdbcType=DECIMAL},
      </if>
      <if test="nonprodSaleamt != null">
        #{nonprodSaleamt,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="dto.HtyFctOrgCustIncomeSaleDTO">
    <result column="ID" jdbcType="BIGINT" property="id" />
    <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="YEAR_DATE" jdbcType="VARCHAR" property="yearDate" />
    <result column="CUSTNUM" jdbcType="INTEGER" property="custnum" />
    <result column="TRANSCUSTNUM" jdbcType="INTEGER" property="transcustnum" />
    <result column="ACT_CUSTNUM" jdbcType="INTEGER" property="actCustnum" />
    <result column="VIP_NUM" jdbcType="INTEGER" property="vipNum" />
    <result column="BUSINCOME_AMT" jdbcType="DECIMAL" property="busincomeAmt" />
    <result column="INVOICING_AMT" jdbcType="DECIMAL" property="invoicingAmt" />
    <result column="SERVICE_AMT" jdbcType="DECIMAL" property="serviceAmt" />
    <result column="FINANCE_AMT" jdbcType="DECIMAL" property="financeAmt" />
    <result column="SALE_AMT" jdbcType="DECIMAL" property="saleAmt" />
    <result column="ONLINE_SALEAMT" jdbcType="DECIMAL" property="onlineSaleamt" />
    <result column="PROD_SALEAMT" jdbcType="DECIMAL" property="prodSaleamt" />
    <result column="NONPROD_SALEAMT" jdbcType="DECIMAL" property="nonprodSaleamt" />
  </resultMap>
  <insert id="insert" parameterType="dto.HtyFctOrgCustIncomeSaleDTO">
    insert into hty_fct_org_cust_income_sale (ID, ORG_CODE, YEAR_DATE, 
      CUSTNUM, TRANSCUSTNUM, ACT_CUSTNUM, 
      VIP_NUM, BUSINCOME_AMT, INVOICING_AMT, 
      SERVICE_AMT, FINANCE_AMT, SALE_AMT, 
      ONLINE_SALEAMT, PROD_SALEAMT, NONPROD_SALEAMT
      )
    values (#{id,jdbcType=BIGINT}, #{orgCode,jdbcType=VARCHAR}, #{yearDate,jdbcType=VARCHAR}, 
      #{custnum,jdbcType=INTEGER}, #{transcustnum,jdbcType=INTEGER}, #{actCustnum,jdbcType=INTEGER}, 
      #{vipNum,jdbcType=INTEGER}, #{busincomeAmt,jdbcType=DECIMAL}, #{invoicingAmt,jdbcType=DECIMAL}, 
      #{serviceAmt,jdbcType=DECIMAL}, #{financeAmt,jdbcType=DECIMAL}, #{saleAmt,jdbcType=DECIMAL}, 
      #{onlineSaleamt,jdbcType=DECIMAL}, #{prodSaleamt,jdbcType=DECIMAL}, #{nonprodSaleamt,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="dto.HtyFctOrgCustIncomeSaleDTO">
    insert into hty_fct_org_cust_income_sale
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="orgCode != null">
        ORG_CODE,
      </if>
      <if test="yearDate != null">
        YEAR_DATE,
      </if>
      <if test="custnum != null">
        CUSTNUM,
      </if>
      <if test="transcustnum != null">
        TRANSCUSTNUM,
      </if>
      <if test="actCustnum != null">
        ACT_CUSTNUM,
      </if>
      <if test="vipNum != null">
        VIP_NUM,
      </if>
      <if test="busincomeAmt != null">
        BUSINCOME_AMT,
      </if>
      <if test="invoicingAmt != null">
        INVOICING_AMT,
      </if>
      <if test="serviceAmt != null">
        SERVICE_AMT,
      </if>
      <if test="financeAmt != null">
        FINANCE_AMT,
      </if>
      <if test="saleAmt != null">
        SALE_AMT,
      </if>
      <if test="onlineSaleamt != null">
        ONLINE_SALEAMT,
      </if>
      <if test="prodSaleamt != null">
        PROD_SALEAMT,
      </if>
      <if test="nonprodSaleamt != null">
        NONPROD_SALEAMT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="yearDate != null">
        #{yearDate,jdbcType=VARCHAR},
      </if>
      <if test="custnum != null">
        #{custnum,jdbcType=INTEGER},
      </if>
      <if test="transcustnum != null">
        #{transcustnum,jdbcType=INTEGER},
      </if>
      <if test="actCustnum != null">
        #{actCustnum,jdbcType=INTEGER},
      </if>
      <if test="vipNum != null">
        #{vipNum,jdbcType=INTEGER},
      </if>
      <if test="busincomeAmt != null">
        #{busincomeAmt,jdbcType=DECIMAL},
      </if>
      <if test="invoicingAmt != null">
        #{invoicingAmt,jdbcType=DECIMAL},
      </if>
      <if test="serviceAmt != null">
        #{serviceAmt,jdbcType=DECIMAL},
      </if>
      <if test="financeAmt != null">
        #{financeAmt,jdbcType=DECIMAL},
      </if>
      <if test="saleAmt != null">
        #{saleAmt,jdbcType=DECIMAL},
      </if>
      <if test="onlineSaleamt != null">
        #{onlineSaleamt,jdbcType=DECIMAL},
      </if>
      <if test="prodSaleamt != null">
        #{prodSaleamt,jdbcType=DECIMAL},
      </if>
      <if test="nonprodSaleamt != null">
        #{nonprodSaleamt,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="DTO.HtyFctOrgCustIncomeSaleDTO">
    <result column="ID" jdbcType="BIGINT" property="id" />
    <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="YEAR_DATE" jdbcType="VARCHAR" property="yearDate" />
    <result column="CUSTNUM" jdbcType="INTEGER" property="custnum" />
    <result column="TRANSCUSTNUM" jdbcType="INTEGER" property="transcustnum" />
    <result column="ACT_CUSTNUM" jdbcType="INTEGER" property="actCustnum" />
    <result column="VIP_NUM" jdbcType="INTEGER" property="vipNum" />
    <result column="BUSINCOME_AMT" jdbcType="DECIMAL" property="busincomeAmt" />
    <result column="INVOICING_AMT" jdbcType="DECIMAL" property="invoicingAmt" />
    <result column="SERVICE_AMT" jdbcType="DECIMAL" property="serviceAmt" />
    <result column="FINANCE_AMT" jdbcType="DECIMAL" property="financeAmt" />
    <result column="SALE_AMT" jdbcType="DECIMAL" property="saleAmt" />
    <result column="ONLINE_SALEAMT" jdbcType="DECIMAL" property="onlineSaleamt" />
    <result column="PROD_SALEAMT" jdbcType="DECIMAL" property="prodSaleamt" />
    <result column="NONPROD_SALEAMT" jdbcType="DECIMAL" property="nonprodSaleamt" />
  </resultMap>
  <insert id="insert" parameterType="DTO.HtyFctOrgCustIncomeSaleDTO">
    insert into hty_fct_org_cust_income_sale (ID, ORG_CODE, YEAR_DATE, 
      CUSTNUM, TRANSCUSTNUM, ACT_CUSTNUM, 
      VIP_NUM, BUSINCOME_AMT, INVOICING_AMT, 
      SERVICE_AMT, FINANCE_AMT, SALE_AMT, 
      ONLINE_SALEAMT, PROD_SALEAMT, NONPROD_SALEAMT
      )
    values (#{id,jdbcType=BIGINT}, #{orgCode,jdbcType=VARCHAR}, #{yearDate,jdbcType=VARCHAR}, 
      #{custnum,jdbcType=INTEGER}, #{transcustnum,jdbcType=INTEGER}, #{actCustnum,jdbcType=INTEGER}, 
      #{vipNum,jdbcType=INTEGER}, #{busincomeAmt,jdbcType=DECIMAL}, #{invoicingAmt,jdbcType=DECIMAL}, 
      #{serviceAmt,jdbcType=DECIMAL}, #{financeAmt,jdbcType=DECIMAL}, #{saleAmt,jdbcType=DECIMAL}, 
      #{onlineSaleamt,jdbcType=DECIMAL}, #{prodSaleamt,jdbcType=DECIMAL}, #{nonprodSaleamt,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="DTO.HtyFctOrgCustIncomeSaleDTO">
    insert into hty_fct_org_cust_income_sale
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="orgCode != null">
        ORG_CODE,
      </if>
      <if test="yearDate != null">
        YEAR_DATE,
      </if>
      <if test="custnum != null">
        CUSTNUM,
      </if>
      <if test="transcustnum != null">
        TRANSCUSTNUM,
      </if>
      <if test="actCustnum != null">
        ACT_CUSTNUM,
      </if>
      <if test="vipNum != null">
        VIP_NUM,
      </if>
      <if test="busincomeAmt != null">
        BUSINCOME_AMT,
      </if>
      <if test="invoicingAmt != null">
        INVOICING_AMT,
      </if>
      <if test="serviceAmt != null">
        SERVICE_AMT,
      </if>
      <if test="financeAmt != null">
        FINANCE_AMT,
      </if>
      <if test="saleAmt != null">
        SALE_AMT,
      </if>
      <if test="onlineSaleamt != null">
        ONLINE_SALEAMT,
      </if>
      <if test="prodSaleamt != null">
        PROD_SALEAMT,
      </if>
      <if test="nonprodSaleamt != null">
        NONPROD_SALEAMT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="yearDate != null">
        #{yearDate,jdbcType=VARCHAR},
      </if>
      <if test="custnum != null">
        #{custnum,jdbcType=INTEGER},
      </if>
      <if test="transcustnum != null">
        #{transcustnum,jdbcType=INTEGER},
      </if>
      <if test="actCustnum != null">
        #{actCustnum,jdbcType=INTEGER},
      </if>
      <if test="vipNum != null">
        #{vipNum,jdbcType=INTEGER},
      </if>
      <if test="busincomeAmt != null">
        #{busincomeAmt,jdbcType=DECIMAL},
      </if>
      <if test="invoicingAmt != null">
        #{invoicingAmt,jdbcType=DECIMAL},
      </if>
      <if test="serviceAmt != null">
        #{serviceAmt,jdbcType=DECIMAL},
      </if>
      <if test="financeAmt != null">
        #{financeAmt,jdbcType=DECIMAL},
      </if>
      <if test="saleAmt != null">
        #{saleAmt,jdbcType=DECIMAL},
      </if>
      <if test="onlineSaleamt != null">
        #{onlineSaleamt,jdbcType=DECIMAL},
      </if>
      <if test="prodSaleamt != null">
        #{prodSaleamt,jdbcType=DECIMAL},
      </if>
      <if test="nonprodSaleamt != null">
        #{nonprodSaleamt,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="DTO.HtyFctOrgCustIncomeSaleDTO">
    <result column="ID" jdbcType="BIGINT" property="id" />
    <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="YEAR_DATE" jdbcType="VARCHAR" property="yearDate" />
    <result column="CUSTNUM" jdbcType="INTEGER" property="custnum" />
    <result column="TRANSCUSTNUM" jdbcType="INTEGER" property="transcustnum" />
    <result column="ACT_CUSTNUM" jdbcType="INTEGER" property="actCustnum" />
    <result column="VIP_NUM" jdbcType="INTEGER" property="vipNum" />
    <result column="BUSINCOME_AMT" jdbcType="DECIMAL" property="busincomeAmt" />
    <result column="INVOICING_AMT" jdbcType="DECIMAL" property="invoicingAmt" />
    <result column="SERVICE_AMT" jdbcType="DECIMAL" property="serviceAmt" />
    <result column="FINANCE_AMT" jdbcType="DECIMAL" property="financeAmt" />
    <result column="SALE_AMT" jdbcType="DECIMAL" property="saleAmt" />
    <result column="ONLINE_SALEAMT" jdbcType="DECIMAL" property="onlineSaleamt" />
    <result column="PROD_SALEAMT" jdbcType="DECIMAL" property="prodSaleamt" />
    <result column="NONPROD_SALEAMT" jdbcType="DECIMAL" property="nonprodSaleamt" />
  </resultMap>
  <insert id="insert" parameterType="DTO.HtyFctOrgCustIncomeSaleDTO">
    insert into hty_fct_org_cust_income_sale (ID, ORG_CODE, YEAR_DATE, 
      CUSTNUM, TRANSCUSTNUM, ACT_CUSTNUM, 
      VIP_NUM, BUSINCOME_AMT, INVOICING_AMT, 
      SERVICE_AMT, FINANCE_AMT, SALE_AMT, 
      ONLINE_SALEAMT, PROD_SALEAMT, NONPROD_SALEAMT
      )
    values (#{id,jdbcType=BIGINT}, #{orgCode,jdbcType=VARCHAR}, #{yearDate,jdbcType=VARCHAR}, 
      #{custnum,jdbcType=INTEGER}, #{transcustnum,jdbcType=INTEGER}, #{actCustnum,jdbcType=INTEGER}, 
      #{vipNum,jdbcType=INTEGER}, #{busincomeAmt,jdbcType=DECIMAL}, #{invoicingAmt,jdbcType=DECIMAL}, 
      #{serviceAmt,jdbcType=DECIMAL}, #{financeAmt,jdbcType=DECIMAL}, #{saleAmt,jdbcType=DECIMAL}, 
      #{onlineSaleamt,jdbcType=DECIMAL}, #{prodSaleamt,jdbcType=DECIMAL}, #{nonprodSaleamt,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="DTO.HtyFctOrgCustIncomeSaleDTO">
    insert into hty_fct_org_cust_income_sale
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="orgCode != null">
        ORG_CODE,
      </if>
      <if test="yearDate != null">
        YEAR_DATE,
      </if>
      <if test="custnum != null">
        CUSTNUM,
      </if>
      <if test="transcustnum != null">
        TRANSCUSTNUM,
      </if>
      <if test="actCustnum != null">
        ACT_CUSTNUM,
      </if>
      <if test="vipNum != null">
        VIP_NUM,
      </if>
      <if test="busincomeAmt != null">
        BUSINCOME_AMT,
      </if>
      <if test="invoicingAmt != null">
        INVOICING_AMT,
      </if>
      <if test="serviceAmt != null">
        SERVICE_AMT,
      </if>
      <if test="financeAmt != null">
        FINANCE_AMT,
      </if>
      <if test="saleAmt != null">
        SALE_AMT,
      </if>
      <if test="onlineSaleamt != null">
        ONLINE_SALEAMT,
      </if>
      <if test="prodSaleamt != null">
        PROD_SALEAMT,
      </if>
      <if test="nonprodSaleamt != null">
        NONPROD_SALEAMT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="yearDate != null">
        #{yearDate,jdbcType=VARCHAR},
      </if>
      <if test="custnum != null">
        #{custnum,jdbcType=INTEGER},
      </if>
      <if test="transcustnum != null">
        #{transcustnum,jdbcType=INTEGER},
      </if>
      <if test="actCustnum != null">
        #{actCustnum,jdbcType=INTEGER},
      </if>
      <if test="vipNum != null">
        #{vipNum,jdbcType=INTEGER},
      </if>
      <if test="busincomeAmt != null">
        #{busincomeAmt,jdbcType=DECIMAL},
      </if>
      <if test="invoicingAmt != null">
        #{invoicingAmt,jdbcType=DECIMAL},
      </if>
      <if test="serviceAmt != null">
        #{serviceAmt,jdbcType=DECIMAL},
      </if>
      <if test="financeAmt != null">
        #{financeAmt,jdbcType=DECIMAL},
      </if>
      <if test="saleAmt != null">
        #{saleAmt,jdbcType=DECIMAL},
      </if>
      <if test="onlineSaleamt != null">
        #{onlineSaleamt,jdbcType=DECIMAL},
      </if>
      <if test="prodSaleamt != null">
        #{prodSaleamt,jdbcType=DECIMAL},
      </if>
      <if test="nonprodSaleamt != null">
        #{nonprodSaleamt,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>