<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.argus.dao.HtyFctL1ZcfzSubjamtDTOMapper" >
  <resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctL1ZcfzSubjamtDTO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="dtime" property="dtime" jdbcType="CHAR" />
    <result column="year_mon" property="yearMon" jdbcType="CHAR" />
    <result column="org_code" property="orgCode" jdbcType="CHAR" />
    <result column="p_subjcode" property="pSubjcode" jdbcType="VARCHAR" />
    <result column="subjcode" property="subjcode" jdbcType="VARCHAR" />
    <result column="zcfz_amount" property="zcfzAmount" jdbcType="DECIMAL" />
    <result column="etl_date" property="etlDate" jdbcType="DECIMAL" />
    <result column="etl_time" property="etlTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dtime, year_mon, org_code, p_subjcode, subjcode, zcfz_amount, etl_date, etl_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hty_fct_l1_zcfz_subjamt
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hty_fct_l1_zcfz_subjamt
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.htd.argus.dto.HtyFctL1ZcfzSubjamtDTO" >
    insert into hty_fct_l1_zcfz_subjamt (id, dtime, year_mon, 
      org_code, p_subjcode, subjcode, 
      zcfz_amount, etl_date, etl_time
      )
    values (#{id,jdbcType=BIGINT}, #{dtime,jdbcType=CHAR}, #{yearMon,jdbcType=CHAR}, 
      #{orgCode,jdbcType=CHAR}, #{pSubjcode,jdbcType=VARCHAR}, #{subjcode,jdbcType=VARCHAR}, 
      #{zcfzAmount,jdbcType=DECIMAL}, #{etlDate,jdbcType=DECIMAL}, #{etlTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.htd.argus.dto.HtyFctL1ZcfzSubjamtDTO" >
    insert into hty_fct_l1_zcfz_subjamt
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dtime != null" >
        dtime,
      </if>
      <if test="yearMon != null" >
        year_mon,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="pSubjcode != null" >
        p_subjcode,
      </if>
      <if test="subjcode != null" >
        subjcode,
      </if>
      <if test="zcfzAmount != null" >
        zcfz_amount,
      </if>
      <if test="etlDate != null" >
        etl_date,
      </if>
      <if test="etlTime != null" >
        etl_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dtime != null" >
        #{dtime,jdbcType=CHAR},
      </if>
      <if test="yearMon != null" >
        #{yearMon,jdbcType=CHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=CHAR},
      </if>
      <if test="pSubjcode != null" >
        #{pSubjcode,jdbcType=VARCHAR},
      </if>
      <if test="subjcode != null" >
        #{subjcode,jdbcType=VARCHAR},
      </if>
      <if test="zcfzAmount != null" >
        #{zcfzAmount,jdbcType=DECIMAL},
      </if>
      <if test="etlDate != null" >
        #{etlDate,jdbcType=DECIMAL},
      </if>
      <if test="etlTime != null" >
        #{etlTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.htd.argus.dto.HtyFctL1ZcfzSubjamtDTO" >
    update hty_fct_l1_zcfz_subjamt
    <set >
      <if test="dtime != null" >
        dtime = #{dtime,jdbcType=CHAR},
      </if>
      <if test="yearMon != null" >
        year_mon = #{yearMon,jdbcType=CHAR},
      </if>
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=CHAR},
      </if>
      <if test="pSubjcode != null" >
        p_subjcode = #{pSubjcode,jdbcType=VARCHAR},
      </if>
      <if test="subjcode != null" >
        subjcode = #{subjcode,jdbcType=VARCHAR},
      </if>
      <if test="zcfzAmount != null" >
        zcfz_amount = #{zcfzAmount,jdbcType=DECIMAL},
      </if>
      <if test="etlDate != null" >
        etl_date = #{etlDate,jdbcType=DECIMAL},
      </if>
      <if test="etlTime != null" >
        etl_time = #{etlTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.htd.argus.dto.HtyFctL1ZcfzSubjamtDTO" >
    update hty_fct_l1_zcfz_subjamt
    set dtime = #{dtime,jdbcType=CHAR},
      year_mon = #{yearMon,jdbcType=CHAR},
      org_code = #{orgCode,jdbcType=CHAR},
      p_subjcode = #{pSubjcode,jdbcType=VARCHAR},
      subjcode = #{subjcode,jdbcType=VARCHAR},
      zcfz_amount = #{zcfzAmount,jdbcType=DECIMAL},
      etl_date = #{etlDate,jdbcType=DECIMAL},
      etl_time = #{etlTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>