<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.argus.dao.HtyFctXwB2bConvFunnelDTOMapper" >
 <resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctXwB2bConvFunnelDTO" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="DATE_KEY" property="dateKey" jdbcType="VARCHAR" />
    <result column="STEP_NAME" property="stepName" jdbcType="VARCHAR" />
    <result column="STEP_SEQUENCE" property="stepSequence" jdbcType="DECIMAL" />
    <result column="CUST_ID" property="custId" jdbcType="VARCHAR" />
    <result column="COUNTRY_NAME" property="countryName" jdbcType="VARCHAR" />
    <result column="PROVINCE_NAME" property="provinceName" jdbcType="VARCHAR" />
    <result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
    <result column="ETL_DATE" property="etlDate" jdbcType="DECIMAL" />
    <result column="ETL_TIME" property="etlTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
  ID,DATE_KEY,STEP_NAME,STEP_SEQUENCE,CUST_ID,COUNTRY_NAME,PROVINCE_NAME,CITY_NAME,ETL_DATE,ETL_TIME
  </sql>
  <sql id="where">
		<where>
			<if
				test="htyUserBeHaviorSearchDTO.countryName !=null and htyUserBeHaviorSearchDTO.countryName !=''">
			    and	COUNTRY_NAME=#{htyUserBeHaviorSearchDTO.countryName}
			</if>
			<if
				test="htyUserBeHaviorSearchDTO.provinceName!=null and htyUserBeHaviorSearchDTO.provinceName !=''">
				and	PROVINCE_NAME=#{htyUserBeHaviorSearchDTO.provinceName}
			</if>
			<if
				test="htyUserBeHaviorSearchDTO.cityName !=null and htyUserBeHaviorSearchDTO.cityName !=''">
				and	CITY_NAME=#{htyUserBeHaviorSearchDTO.cityName}
			</if>
			<if test="htyUserBeHaviorSearchDTO.startTime !=null and htyUserBeHaviorSearchDTO.startTime !=''">
				<![CDATA[and DATE_KEY >=#{htyUserBeHaviorSearchDTO.startTime}]]>
			</if>
			<if test="htyUserBeHaviorSearchDTO.endTime !=null and htyUserBeHaviorSearchDTO.endTime!=''">
			 <![CDATA[and DATE_KEY<=#{htyUserBeHaviorSearchDTO.endTime}]]>
			</if>
		</where>
	</sql>
  <!--用户购买漏斗  -->
  <select id="queryStepSequenceNum" resultMap="BaseResultMap" resultType="cn.htd.argus.dto.HtyFctXwB2bConvFunnelDTO">
  	  select
      DISTINCT STEP_SEQUENCE,
      ID,DATE_KEY,STEP_NAME,CUST_ID,COUNTRY_NAME,PROVINCE_NAME,CITY_NAME,ETL_DATE,ETL_TIME
      from hty_fct_xw_b2b_conv_funnel
  	  <include refid="where" />
  	  group by STEP_NAME,STEP_SEQUENCE order by  STEP_SEQUENCE DESC
  </select>
  <!--客户的复购  支付成功后隔一天再购买-->
  <select id="queryByPaySuccessNextDay" resultMap="BaseResultMap" >
    select
    DISTINCT STEP_SEQUENCE,
    ID,DATE_KEY,STEP_NAME,CUST_ID,COUNTRY_NAME,PROVINCE_NAME,CITY_NAME,ETL_DATE,ETL_TIME
    from hty_fct_xw_b2b_conv_funnel
    where STEP_SEQUENCE=4
    group by CUST_ID,STEP_NAME,STEP_SEQUENCE
    HAVING count(DISTINCT DATE_KEY)>1 order by CUST_ID DESC
  </select>
</mapper>