<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.argus.dao.HtyFctOrgMemberDetailMapper" >
  <resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctOrgMemberDetailDTO" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="date_key" property="dateKey" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="cust_code" property="custCode" jdbcType="VARCHAR" />
    <result column="xs_amt" property="xsAmt" jdbcType="DECIMAL" />
    <result column="xs_qty" property="xsQty" jdbcType="DECIMAL" />
    <result column="last_date" property="lastDate" jdbcType="VARCHAR" />
    <result column="cust_name" property="custName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, date_key, org_code, cust_code, xs_amt, xs_qty, last_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hty_fct_member_org_detail
    where ID = #{id,jdbcType=BIGINT}
  </select>

  <select id="select" resultMap="BaseResultMap" parameterType="cn.htd.argus.dto.HtyFctOrgMemberDetailDTO" >
    select
    <include refid="Base_Column_List" />
    from hty_fct_member_org_detail
    <where>
      <if test="id != null">
        and ID = #{id}
      </if>
      <if test="dateKey != null">
        and date_key = #{dateKey}
      </if>
      <if test="orgCode != null">
        and org_code = #{orgCode}
      </if>
      <if test="custCode != null">
        and cust_code = #{custCode}
      </if>
      <if test="xsAmt != null">
        and xs_amt = #{xsAmt}
      </if>
      <if test="xsQty != null">
        and xs_qty = #{xsQty}
      </if>
      <if test="lastDate != null">
        and last_date = #{lastDate}
      </if>
    </where>
  </select>
  <select id="selectWithName" resultMap="BaseResultMap" parameterType="cn.htd.argus.dto.HtyFctOrgMemberDetailDTO" >
   select
   	mem.date_key, mem.org_code, mem.cust_code, mem.xs_amt, mem.xs_qty, mem.last_date
    from hty_fct_member_org_detail mem 
  	where mem.date_key = #{dateKey} and mem.org_code = #{orgCode} 
  	<choose>
  		<when test="sortType == 0">
  			order by mem.xs_amt desc
  		</when>
  		<when test="sortType == 1">
  			order by mem.xs_qty desc
  		</when>
  		<when test="sortType == 2">
  			order by mem.last_date desc
  		</when>
  	</choose>
  	<if test="outType == 1">LIMIT 10</if>
  </select>
  
   <select id="selectSixMonth" resultMap="BaseResultMap" parameterType="cn.htd.argus.bean.HtyFctOrgMemberSixMonthDTO" >
   select
   <include refid="Base_Column_List" />
    from hty_fct_member_org_detail
  	where  date_key &gt;= #{startTime} and date_key &lt;= #{endTime} and cust_code = #{custCode} 
  </select>
  
  <select id="selectSixMonthsAll" resultMap="BaseResultMap" parameterType="cn.htd.argus.bean.HtyFctOrgMemberSixMonthDTO" >
   select 
   SUM(xs_amt) as xs_amt,cust_code,cust_name 
    from hty_fct_member_org_detail
  	where  date_key &gt;= #{startTime} and date_key &lt;= #{endTime} and org_code = #{custCode}  GROUP BY cust_code ORDER BY xs_amt DESC LIMIT 10
  </select>
  
  <select id="selectSumAmt" resultType="java.math.BigDecimal" parameterType="cn.htd.argus.dto.HtyFctOrgMemberDetailDTO" >
  	SELECT sum(xs_amt) FROM hty_fct_member_org_detail where org_code=#{orgCode} and date_key=#{dateKey} and xs_amt &gt;= 0;
  </select>
  
  <select id="selectSumAmtSixMonth" resultType="java.math.BigDecimal" parameterType="cn.htd.argus.bean.HtyFctOrgMemberSixMonthDTO" >
  	SELECT sum(xs_amt) FROM hty_fct_member_org_detail where org_code=#{custCode} and date_key &gt;= #{startTime} and date_key &lt;= #{endTime}  and xs_amt &gt;= 0;
  </select>
</mapper>