<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.argus.dao.HtyFctOrgSaleDTOMapper" >
  <resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctOrgSaleDTO" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
    <result column="YEAR_MON" property="yearMon" jdbcType="VARCHAR" />
    <result column="MON_AMT" property="monAmt" jdbcType="DECIMAL" />
    <result column="LASTMON_AMT" property="lastmonAmt" jdbcType="DECIMAL" />
    <result column="YEAR_AMT" property="yearAmt" jdbcType="DECIMAL" />
    <result column="LASTYEAR_AMT" property="lastyearAmt" jdbcType="DECIMAL" />
    <result column="MON_ONLINE_SALEAMT" property="monOnlineSaleamt" jdbcType="DECIMAL" />
    <result column="YEAR_ONLINE_SALEAMT" property="yearOnlineSaleamt" jdbcType="DECIMAL" />
    <result column="MON_WAIT_SALEAMT" property="monWaitSaleamt" jdbcType="DECIMAL" />
    <result column="YEAR_WAIT_SALEAMT" property="yearWaitSaleamt" jdbcType="DECIMAL" />
    <result column="MON_SP_SALEAMT" property="monSpSaleamt" jdbcType="DECIMAL" />
    <result column="YEAR_SP_SALEAMT" property="yearSpSaleamt" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORG_CODE, YEAR_MON, MON_AMT, LASTMON_AMT, YEAR_AMT, LASTYEAR_AMT, MON_ONLINE_SALEAMT, 
    YEAR_ONLINE_SALEAMT, MON_WAIT_SALEAMT, YEAR_WAIT_SALEAMT, MON_SP_SALEAMT, YEAR_SP_SALEAMT
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hty_fct_org_sale
    where ID = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectByOrgCode" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from hty_fct_org_sale
    where ORG_CODE = #{orgCode,jdbcType=BIGINT}
  </select>

  <select id="select" resultMap="BaseResultMap" parameterType="cn.htd.argus.dto.HtyFctOrgSaleDTO" >
    select
    <include refid="Base_Column_List" />
    from hty_fct_org_sale
    <where>
      <if test="id != null">
        and ID = #{id}
      </if>
      <if test="orgCode != null" >
        and ORG_CODE = #{orgCode,jdbcType=VARCHAR}
      </if>
      <if test="yearMon != null" >
        and YEAR_MON = #{yearMon,jdbcType=VARCHAR}
      </if>
      <if test="monAmt != null" >
        and MON_AMT = #{monAmt,jdbcType=DECIMAL}
      </if>
      <if test="lastmonAmt != null" >
        and LASTMON_AMT = #{lastmonAmt,jdbcType=DECIMAL}
      </if>
      <if test="yearAmt != null" >
        and YEAR_AMT = #{yearAmt,jdbcType=DECIMAL}
      </if>
      <if test="lastyearAmt != null" >
        and LASTYEAR_AMT = #{lastyearAmt,jdbcType=DECIMAL}
      </if>
      <if test="monOnlineSaleamt != null" >
        and MON_ONLINE_SALEAMT = #{monOnlineSaleamt,jdbcType=DECIMAL}
      </if>
      <if test="yearOnlineSaleamt != null" >
        and YEAR_ONLINE_SALEAMT = #{yearOnlineSaleamt,jdbcType=DECIMAL}
      </if>
      <if test="monWaitSaleamt != null" >
        and MON_WAIT_SALEAMT = #{monWaitSaleamt,jdbcType=DECIMAL}
      </if>
      <if test="yearWaitSaleamt != null" >
        and YEAR_WAIT_SALEAMT = #{yearWaitSaleamt,jdbcType=DECIMAL}
      </if>
      <if test="monSpSaleamt != null" >
        and MON_SP_SALEAMT = #{monSpSaleamt,jdbcType=DECIMAL}
      </if>
      <if test="yearSpSaleamt != null" >
        and YEAR_SP_SALEAMT = #{yearSpSaleamt,jdbcType=DECIMAL}
      </if>
    </where>
  </select>
</mapper>