<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.argus.dao.HtyFctL2DupontDTOMapper" >
  <resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctL2DupontDTO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="dtime" property="dtime" jdbcType="VARCHAR" />
    <result column="year_mon" property="yearMon" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="dq_current_ratio" property="dqCurrentRatio" jdbcType="DECIMAL" />
    <result column="tq_current_ratio" property="tqCurrentRatio" jdbcType="DECIMAL" />
    <result column="sn_current_ratio" property="snCurrentRatio" jdbcType="DECIMAL" />
    <result column="dq_quick_ratio" property="dqQuickRatio" jdbcType="DECIMAL" />
    <result column="tq_quick_ratio" property="tqQuickRatio" jdbcType="DECIMAL" />
    <result column="sn_quick_ratio" property="snQuickRatio" jdbcType="DECIMAL" />
    <result column="dq_debt_assets_ratio" property="dqDebtAssetsRatio" jdbcType="DECIMAL" />
    <result column="tq_debt_assets_ratio" property="tqDebtAssetsRatio" jdbcType="DECIMAL" />
    <result column="sn_debt_assets_ratio" property="snDebtAssetsRatio" jdbcType="DECIMAL" />
    <result column="dq_sup_exposure_days" property="dqSupExposureDays" jdbcType="DECIMAL" />
    <result column="tq_sup_exposure_days" property="tqSupExposureDays" jdbcType="DECIMAL" />
    <result column="sn_sup_exposure_days" property="snSupExposureDays" jdbcType="DECIMAL" />
    <result column="dq_receive_conv_ratio" property="dqReceiveConvRatio" jdbcType="DECIMAL" />
    <result column="tq_receive_conv_ratio" property="tqReceiveConvRatio" jdbcType="DECIMAL" />
    <result column="sn_receive_conv_ratio" property="snReceiveConvRatio" jdbcType="DECIMAL" />
    <result column="dq_receive_conv_days" property="dqReceiveConvDays" jdbcType="DECIMAL" />
    <result column="tq_receive_conv_days" property="tqReceiveConvDays" jdbcType="DECIMAL" />
    <result column="sn_receive_conv_days" property="snReceiveConvDays" jdbcType="DECIMAL" />
    <result column="dq_dep_rec_conv_ratio" property="dqDepRecConvRatio" jdbcType="DECIMAL" />
    <result column="tq_dep_rec_conv_ratio" property="tqDepRecConvRatio" jdbcType="DECIMAL" />
    <result column="sn_dep_rec_conv_ratio" property="snDepRecConvRatio" jdbcType="DECIMAL" />
    <result column="dq_dep_rec_conv_days" property="dqDepRecConvDays" jdbcType="DECIMAL" />
    <result column="tq_dep_rec_conv_days" property="tqDepRecConvDays" jdbcType="DECIMAL" />
    <result column="sn_dep_rec_conv_days" property="snDepRecConvDays" jdbcType="DECIMAL" />
    <result column="dq_inventory_conv_ratio" property="dqInventoryConvRatio" jdbcType="DECIMAL" />
    <result column="tq_inventory_conv_ratio" property="tqInventoryConvRatio" jdbcType="DECIMAL" />
    <result column="sn_inventory_conv_ratio" property="snInventoryConvRatio" jdbcType="DECIMAL" />
    <result column="dq_inventory_conv_days" property="dqInventoryConvDays" jdbcType="DECIMAL" />
    <result column="tq_inventory_conv_days" property="tqInventoryConvDays" jdbcType="DECIMAL" />
    <result column="sn_inventory_conv_days" property="snInventoryConvDays" jdbcType="DECIMAL" />
    <result column="dq_dep_pay_conv_ratio" property="dqDepPayConvRatio" jdbcType="DECIMAL" />
    <result column="tq_dep_pay_conv_ratio" property="tqDepPayConvRatio" jdbcType="DECIMAL" />
    <result column="sn_dep_pay_conv_ratio" property="snDepPayConvRatio" jdbcType="DECIMAL" />
    <result column="dq_dep_pay_conv_days" property="dqDepPayConvDays" jdbcType="DECIMAL" />
    <result column="tq_dep_pay_conv_days" property="tqDepPayConvDays" jdbcType="DECIMAL" />
    <result column="sn_dep_pay_conv_days" property="snDepPayConvDays" jdbcType="DECIMAL" />
    <result column="dq_acc_pay_conv_ratio" property="dqAccPayConvRatio" jdbcType="DECIMAL" />
    <result column="tq_acc_pay_conv_ratio" property="tqAccPayConvRatio" jdbcType="DECIMAL" />
    <result column="sn_acc_pay_conv_ratio" property="snAccPayConvRatio" jdbcType="DECIMAL" />
    <result column="dq_acc_pay_conv_days" property="dqAccPayConvDays" jdbcType="DECIMAL" />
    <result column="tq_acc_pay_conv_days" property="tqAccPayConvDays" jdbcType="DECIMAL" />
    <result column="sn_acc_pay_conv_days" property="snAccPayConvDays" jdbcType="DECIMAL" />
    <result column="dq_operate_cycle" property="dqOperateCycle" jdbcType="DECIMAL" />
    <result column="tq_operate_cycle" property="tqOperateCycle" jdbcType="DECIMAL" />
    <result column="sn_operate_cycle" property="snOperateCycle" jdbcType="DECIMAL" />
    <result column="dq_cash_cycle" property="dqCashCycle" jdbcType="DECIMAL" />
    <result column="tq_cash_cycle" property="tqCashCycle" jdbcType="DECIMAL" />
    <result column="sn_cash_cycle" property="snCashCycle" jdbcType="DECIMAL" />
    <result column="dq_rota" property="dqRota" jdbcType="DECIMAL" />
    <result column="tq_rota" property="tqRota" jdbcType="DECIMAL" />
    <result column="sn_rota" property="snRota" jdbcType="DECIMAL" />
    <result column="dq_roe" property="dqRoe" jdbcType="DECIMAL" />
    <result column="tq_roe" property="tqRoe" jdbcType="DECIMAL" />
    <result column="sn_roe" property="snRoe" jdbcType="DECIMAL" />
    <result column="dq_gross_profit_ratio" property="dqGrossProfitRatio" jdbcType="DECIMAL" />
    <result column="tq_gross_profit_ratio" property="tqGrossProfitRatio" jdbcType="DECIMAL" />
    <result column="sn_gross_profit_ratio" property="snGrossProfitRatio" jdbcType="DECIMAL" />
    <result column="dq_sale_growth_ratio" property="dqSaleGrowthRatio" jdbcType="DECIMAL" />
    <result column="tq_sale_growth_ratio" property="tqSaleGrowthRatio" jdbcType="DECIMAL" />
    <result column="sn_sale_growth_ratio" property="snSaleGrowthRatio" jdbcType="DECIMAL" />
    <result column="dq_net_growth_ratio" property="dqNetGrowthRatio" jdbcType="DECIMAL" />
    <result column="tq_net_growth_ratio" property="tqNetGrowthRatio" jdbcType="DECIMAL" />
    <result column="sn_net_growth_ratio" property="snNetGrowthRatio" jdbcType="DECIMAL" />
    <result column="dq_operate_profit_ratio" property="dqOperateProfitRatio" jdbcType="DECIMAL" />
    <result column="tq_operate_profit_ratio" property="tqOperateProfitRatio" jdbcType="DECIMAL" />
    <result column="sn_operate_profit_ratio" property="snOperateProfitRatio" jdbcType="DECIMAL" />
    <result column="dq_sale_net_ratio" property="dqSaleNetRatio" jdbcType="DECIMAL" />
    <result column="tq_sale_net_ratio" property="tqSaleNetRatio" jdbcType="DECIMAL" />
    <result column="sn_sale_net_ratio" property="snSaleNetRatio" jdbcType="DECIMAL" />
    <result column="dq_third_ratio" property="dqThirdRatio" jdbcType="DECIMAL" />
    <result column="tq_third_ratio" property="tqThirdRatio" jdbcType="DECIMAL" />
    <result column="sn_third_ratio" property="snThirdRatio" jdbcType="DECIMAL" />
    <result column="lvl" property="lvl" jdbcType="VARCHAR" />
    <result column="etl_date" property="etlDate" jdbcType="DECIMAL" />
    <result column="etl_time" property="etlTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dtime, year_mon, org_code, dq_current_ratio, tq_current_ratio, sn_current_ratio, 
    dq_quick_ratio, tq_quick_ratio, sn_quick_ratio, dq_debt_assets_ratio, tq_debt_assets_ratio, 
    sn_debt_assets_ratio, dq_sup_exposure_days, tq_sup_exposure_days, sn_sup_exposure_days, 
    dq_receive_conv_ratio, tq_receive_conv_ratio, sn_receive_conv_ratio, dq_receive_conv_days, 
    tq_receive_conv_days, sn_receive_conv_days, dq_dep_rec_conv_ratio, tq_dep_rec_conv_ratio, 
    sn_dep_rec_conv_ratio, dq_dep_rec_conv_days, tq_dep_rec_conv_days, sn_dep_rec_conv_days, 
    dq_inventory_conv_ratio, tq_inventory_conv_ratio, sn_inventory_conv_ratio, dq_inventory_conv_days, 
    tq_inventory_conv_days, sn_inventory_conv_days, dq_dep_pay_conv_ratio, tq_dep_pay_conv_ratio, 
    sn_dep_pay_conv_ratio, dq_dep_pay_conv_days, tq_dep_pay_conv_days, sn_dep_pay_conv_days, 
    dq_acc_pay_conv_ratio, tq_acc_pay_conv_ratio, sn_acc_pay_conv_ratio, dq_acc_pay_conv_days, 
    tq_acc_pay_conv_days, sn_acc_pay_conv_days, dq_operate_cycle, tq_operate_cycle, sn_operate_cycle, 
    dq_cash_cycle, tq_cash_cycle, sn_cash_cycle, dq_rota, tq_rota, sn_rota, dq_roe, tq_roe, 
    sn_roe, dq_gross_profit_ratio, tq_gross_profit_ratio, sn_gross_profit_ratio, dq_sale_growth_ratio, 
    tq_sale_growth_ratio, sn_sale_growth_ratio, dq_net_growth_ratio, tq_net_growth_ratio, 
    sn_net_growth_ratio, dq_operate_profit_ratio, tq_operate_profit_ratio, sn_operate_profit_ratio, 
    dq_sale_net_ratio, tq_sale_net_ratio, sn_sale_net_ratio, dq_third_ratio, tq_third_ratio, 
    sn_third_ratio, lvl, etl_date, etl_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hty_fct_l2_dupont
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hty_fct_l2_dupont
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.htd.argus.dto.HtyFctL2DupontDTO" >
    insert into hty_fct_l2_dupont (id, dtime, year_mon, 
      org_code, dq_current_ratio, tq_current_ratio, 
      sn_current_ratio, dq_quick_ratio, tq_quick_ratio, 
      sn_quick_ratio, dq_debt_assets_ratio, tq_debt_assets_ratio, 
      sn_debt_assets_ratio, dq_sup_exposure_days, tq_sup_exposure_days, 
      sn_sup_exposure_days, dq_receive_conv_ratio, 
      tq_receive_conv_ratio, sn_receive_conv_ratio, 
      dq_receive_conv_days, tq_receive_conv_days, sn_receive_conv_days, 
      dq_dep_rec_conv_ratio, tq_dep_rec_conv_ratio, sn_dep_rec_conv_ratio, 
      dq_dep_rec_conv_days, tq_dep_rec_conv_days, sn_dep_rec_conv_days, 
      dq_inventory_conv_ratio, tq_inventory_conv_ratio, 
      sn_inventory_conv_ratio, dq_inventory_conv_days, 
      tq_inventory_conv_days, sn_inventory_conv_days, 
      dq_dep_pay_conv_ratio, tq_dep_pay_conv_ratio, sn_dep_pay_conv_ratio, 
      dq_dep_pay_conv_days, tq_dep_pay_conv_days, sn_dep_pay_conv_days, 
      dq_acc_pay_conv_ratio, tq_acc_pay_conv_ratio, sn_acc_pay_conv_ratio, 
      dq_acc_pay_conv_days, tq_acc_pay_conv_days, sn_acc_pay_conv_days, 
      dq_operate_cycle, tq_operate_cycle, sn_operate_cycle, 
      dq_cash_cycle, tq_cash_cycle, sn_cash_cycle, 
      dq_rota, tq_rota, sn_rota, 
      dq_roe, tq_roe, sn_roe, 
      dq_gross_profit_ratio, tq_gross_profit_ratio, 
      sn_gross_profit_ratio, dq_sale_growth_ratio, 
      tq_sale_growth_ratio, sn_sale_growth_ratio, dq_net_growth_ratio, 
      tq_net_growth_ratio, sn_net_growth_ratio, dq_operate_profit_ratio, 
      tq_operate_profit_ratio, sn_operate_profit_ratio, 
      dq_sale_net_ratio, tq_sale_net_ratio, sn_sale_net_ratio, 
      dq_third_ratio, tq_third_ratio, sn_third_ratio, 
      lvl, etl_date, etl_time
      )
    values (#{id,jdbcType=BIGINT}, #{dtime,jdbcType=VARCHAR}, #{yearMon,jdbcType=VARCHAR}, 
      #{orgCode,jdbcType=VARCHAR}, #{dqCurrentRatio,jdbcType=DECIMAL}, #{tqCurrentRatio,jdbcType=DECIMAL}, 
      #{snCurrentRatio,jdbcType=DECIMAL}, #{dqQuickRatio,jdbcType=DECIMAL}, #{tqQuickRatio,jdbcType=DECIMAL}, 
      #{snQuickRatio,jdbcType=DECIMAL}, #{dqDebtAssetsRatio,jdbcType=DECIMAL}, #{tqDebtAssetsRatio,jdbcType=DECIMAL}, 
      #{snDebtAssetsRatio,jdbcType=DECIMAL}, #{dqSupExposureDays,jdbcType=DECIMAL}, #{tqSupExposureDays,jdbcType=DECIMAL}, 
      #{snSupExposureDays,jdbcType=DECIMAL}, #{dqReceiveConvRatio,jdbcType=DECIMAL}, 
      #{tqReceiveConvRatio,jdbcType=DECIMAL}, #{snReceiveConvRatio,jdbcType=DECIMAL}, 
      #{dqReceiveConvDays,jdbcType=DECIMAL}, #{tqReceiveConvDays,jdbcType=DECIMAL}, #{snReceiveConvDays,jdbcType=DECIMAL}, 
      #{dqDepRecConvRatio,jdbcType=DECIMAL}, #{tqDepRecConvRatio,jdbcType=DECIMAL}, #{snDepRecConvRatio,jdbcType=DECIMAL}, 
      #{dqDepRecConvDays,jdbcType=DECIMAL}, #{tqDepRecConvDays,jdbcType=DECIMAL}, #{snDepRecConvDays,jdbcType=DECIMAL}, 
      #{dqInventoryConvRatio,jdbcType=DECIMAL}, #{tqInventoryConvRatio,jdbcType=DECIMAL}, 
      #{snInventoryConvRatio,jdbcType=DECIMAL}, #{dqInventoryConvDays,jdbcType=DECIMAL}, 
      #{tqInventoryConvDays,jdbcType=DECIMAL}, #{snInventoryConvDays,jdbcType=DECIMAL}, 
      #{dqDepPayConvRatio,jdbcType=DECIMAL}, #{tqDepPayConvRatio,jdbcType=DECIMAL}, #{snDepPayConvRatio,jdbcType=DECIMAL}, 
      #{dqDepPayConvDays,jdbcType=DECIMAL}, #{tqDepPayConvDays,jdbcType=DECIMAL}, #{snDepPayConvDays,jdbcType=DECIMAL}, 
      #{dqAccPayConvRatio,jdbcType=DECIMAL}, #{tqAccPayConvRatio,jdbcType=DECIMAL}, #{snAccPayConvRatio,jdbcType=DECIMAL}, 
      #{dqAccPayConvDays,jdbcType=DECIMAL}, #{tqAccPayConvDays,jdbcType=DECIMAL}, #{snAccPayConvDays,jdbcType=DECIMAL}, 
      #{dqOperateCycle,jdbcType=DECIMAL}, #{tqOperateCycle,jdbcType=DECIMAL}, #{snOperateCycle,jdbcType=DECIMAL}, 
      #{dqCashCycle,jdbcType=DECIMAL}, #{tqCashCycle,jdbcType=DECIMAL}, #{snCashCycle,jdbcType=DECIMAL}, 
      #{dqRota,jdbcType=DECIMAL}, #{tqRota,jdbcType=DECIMAL}, #{snRota,jdbcType=DECIMAL}, 
      #{dqRoe,jdbcType=DECIMAL}, #{tqRoe,jdbcType=DECIMAL}, #{snRoe,jdbcType=DECIMAL}, 
      #{dqGrossProfitRatio,jdbcType=DECIMAL}, #{tqGrossProfitRatio,jdbcType=DECIMAL}, 
      #{snGrossProfitRatio,jdbcType=DECIMAL}, #{dqSaleGrowthRatio,jdbcType=DECIMAL}, 
      #{tqSaleGrowthRatio,jdbcType=DECIMAL}, #{snSaleGrowthRatio,jdbcType=DECIMAL}, #{dqNetGrowthRatio,jdbcType=DECIMAL}, 
      #{tqNetGrowthRatio,jdbcType=DECIMAL}, #{snNetGrowthRatio,jdbcType=DECIMAL}, #{dqOperateProfitRatio,jdbcType=DECIMAL}, 
      #{tqOperateProfitRatio,jdbcType=DECIMAL}, #{snOperateProfitRatio,jdbcType=DECIMAL}, 
      #{dqSaleNetRatio,jdbcType=DECIMAL}, #{tqSaleNetRatio,jdbcType=DECIMAL}, #{snSaleNetRatio,jdbcType=DECIMAL}, 
      #{dqThirdRatio,jdbcType=DECIMAL}, #{tqThirdRatio,jdbcType=DECIMAL}, #{snThirdRatio,jdbcType=DECIMAL}, 
      #{lvl,jdbcType=VARCHAR}, #{etlDate,jdbcType=DECIMAL}, #{etlTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.htd.argus.dto.HtyFctL2DupontDTO" >
    insert into hty_fct_l2_dupont
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dtime != null" >
        dtime,
      </if>
      <if test="yearMon != null" >
        year_mon,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="dqCurrentRatio != null" >
        dq_current_ratio,
      </if>
      <if test="tqCurrentRatio != null" >
        tq_current_ratio,
      </if>
      <if test="snCurrentRatio != null" >
        sn_current_ratio,
      </if>
      <if test="dqQuickRatio != null" >
        dq_quick_ratio,
      </if>
      <if test="tqQuickRatio != null" >
        tq_quick_ratio,
      </if>
      <if test="snQuickRatio != null" >
        sn_quick_ratio,
      </if>
      <if test="dqDebtAssetsRatio != null" >
        dq_debt_assets_ratio,
      </if>
      <if test="tqDebtAssetsRatio != null" >
        tq_debt_assets_ratio,
      </if>
      <if test="snDebtAssetsRatio != null" >
        sn_debt_assets_ratio,
      </if>
      <if test="dqSupExposureDays != null" >
        dq_sup_exposure_days,
      </if>
      <if test="tqSupExposureDays != null" >
        tq_sup_exposure_days,
      </if>
      <if test="snSupExposureDays != null" >
        sn_sup_exposure_days,
      </if>
      <if test="dqReceiveConvRatio != null" >
        dq_receive_conv_ratio,
      </if>
      <if test="tqReceiveConvRatio != null" >
        tq_receive_conv_ratio,
      </if>
      <if test="snReceiveConvRatio != null" >
        sn_receive_conv_ratio,
      </if>
      <if test="dqReceiveConvDays != null" >
        dq_receive_conv_days,
      </if>
      <if test="tqReceiveConvDays != null" >
        tq_receive_conv_days,
      </if>
      <if test="snReceiveConvDays != null" >
        sn_receive_conv_days,
      </if>
      <if test="dqDepRecConvRatio != null" >
        dq_dep_rec_conv_ratio,
      </if>
      <if test="tqDepRecConvRatio != null" >
        tq_dep_rec_conv_ratio,
      </if>
      <if test="snDepRecConvRatio != null" >
        sn_dep_rec_conv_ratio,
      </if>
      <if test="dqDepRecConvDays != null" >
        dq_dep_rec_conv_days,
      </if>
      <if test="tqDepRecConvDays != null" >
        tq_dep_rec_conv_days,
      </if>
      <if test="snDepRecConvDays != null" >
        sn_dep_rec_conv_days,
      </if>
      <if test="dqInventoryConvRatio != null" >
        dq_inventory_conv_ratio,
      </if>
      <if test="tqInventoryConvRatio != null" >
        tq_inventory_conv_ratio,
      </if>
      <if test="snInventoryConvRatio != null" >
        sn_inventory_conv_ratio,
      </if>
      <if test="dqInventoryConvDays != null" >
        dq_inventory_conv_days,
      </if>
      <if test="tqInventoryConvDays != null" >
        tq_inventory_conv_days,
      </if>
      <if test="snInventoryConvDays != null" >
        sn_inventory_conv_days,
      </if>
      <if test="dqDepPayConvRatio != null" >
        dq_dep_pay_conv_ratio,
      </if>
      <if test="tqDepPayConvRatio != null" >
        tq_dep_pay_conv_ratio,
      </if>
      <if test="snDepPayConvRatio != null" >
        sn_dep_pay_conv_ratio,
      </if>
      <if test="dqDepPayConvDays != null" >
        dq_dep_pay_conv_days,
      </if>
      <if test="tqDepPayConvDays != null" >
        tq_dep_pay_conv_days,
      </if>
      <if test="snDepPayConvDays != null" >
        sn_dep_pay_conv_days,
      </if>
      <if test="dqAccPayConvRatio != null" >
        dq_acc_pay_conv_ratio,
      </if>
      <if test="tqAccPayConvRatio != null" >
        tq_acc_pay_conv_ratio,
      </if>
      <if test="snAccPayConvRatio != null" >
        sn_acc_pay_conv_ratio,
      </if>
      <if test="dqAccPayConvDays != null" >
        dq_acc_pay_conv_days,
      </if>
      <if test="tqAccPayConvDays != null" >
        tq_acc_pay_conv_days,
      </if>
      <if test="snAccPayConvDays != null" >
        sn_acc_pay_conv_days,
      </if>
      <if test="dqOperateCycle != null" >
        dq_operate_cycle,
      </if>
      <if test="tqOperateCycle != null" >
        tq_operate_cycle,
      </if>
      <if test="snOperateCycle != null" >
        sn_operate_cycle,
      </if>
      <if test="dqCashCycle != null" >
        dq_cash_cycle,
      </if>
      <if test="tqCashCycle != null" >
        tq_cash_cycle,
      </if>
      <if test="snCashCycle != null" >
        sn_cash_cycle,
      </if>
      <if test="dqRota != null" >
        dq_rota,
      </if>
      <if test="tqRota != null" >
        tq_rota,
      </if>
      <if test="snRota != null" >
        sn_rota,
      </if>
      <if test="dqRoe != null" >
        dq_roe,
      </if>
      <if test="tqRoe != null" >
        tq_roe,
      </if>
      <if test="snRoe != null" >
        sn_roe,
      </if>
      <if test="dqGrossProfitRatio != null" >
        dq_gross_profit_ratio,
      </if>
      <if test="tqGrossProfitRatio != null" >
        tq_gross_profit_ratio,
      </if>
      <if test="snGrossProfitRatio != null" >
        sn_gross_profit_ratio,
      </if>
      <if test="dqSaleGrowthRatio != null" >
        dq_sale_growth_ratio,
      </if>
      <if test="tqSaleGrowthRatio != null" >
        tq_sale_growth_ratio,
      </if>
      <if test="snSaleGrowthRatio != null" >
        sn_sale_growth_ratio,
      </if>
      <if test="dqNetGrowthRatio != null" >
        dq_net_growth_ratio,
      </if>
      <if test="tqNetGrowthRatio != null" >
        tq_net_growth_ratio,
      </if>
      <if test="snNetGrowthRatio != null" >
        sn_net_growth_ratio,
      </if>
      <if test="dqOperateProfitRatio != null" >
        dq_operate_profit_ratio,
      </if>
      <if test="tqOperateProfitRatio != null" >
        tq_operate_profit_ratio,
      </if>
      <if test="snOperateProfitRatio != null" >
        sn_operate_profit_ratio,
      </if>
      <if test="dqSaleNetRatio != null" >
        dq_sale_net_ratio,
      </if>
      <if test="tqSaleNetRatio != null" >
        tq_sale_net_ratio,
      </if>
      <if test="snSaleNetRatio != null" >
        sn_sale_net_ratio,
      </if>
      <if test="dqThirdRatio != null" >
        dq_third_ratio,
      </if>
      <if test="tqThirdRatio != null" >
        tq_third_ratio,
      </if>
      <if test="snThirdRatio != null" >
        sn_third_ratio,
      </if>
      <if test="lvl != null" >
        lvl,
      </if>
      <if test="etlDate != null" >
        etl_date,
      </if>
      <if test="etlTime != null" >
        etl_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dtime != null" >
        #{dtime,jdbcType=VARCHAR},
      </if>
      <if test="yearMon != null" >
        #{yearMon,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="dqCurrentRatio != null" >
        #{dqCurrentRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqCurrentRatio != null" >
        #{tqCurrentRatio,jdbcType=DECIMAL},
      </if>
      <if test="snCurrentRatio != null" >
        #{snCurrentRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqQuickRatio != null" >
        #{dqQuickRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqQuickRatio != null" >
        #{tqQuickRatio,jdbcType=DECIMAL},
      </if>
      <if test="snQuickRatio != null" >
        #{snQuickRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqDebtAssetsRatio != null" >
        #{dqDebtAssetsRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqDebtAssetsRatio != null" >
        #{tqDebtAssetsRatio,jdbcType=DECIMAL},
      </if>
      <if test="snDebtAssetsRatio != null" >
        #{snDebtAssetsRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqSupExposureDays != null" >
        #{dqSupExposureDays,jdbcType=DECIMAL},
      </if>
      <if test="tqSupExposureDays != null" >
        #{tqSupExposureDays,jdbcType=DECIMAL},
      </if>
      <if test="snSupExposureDays != null" >
        #{snSupExposureDays,jdbcType=DECIMAL},
      </if>
      <if test="dqReceiveConvRatio != null" >
        #{dqReceiveConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqReceiveConvRatio != null" >
        #{tqReceiveConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="snReceiveConvRatio != null" >
        #{snReceiveConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqReceiveConvDays != null" >
        #{dqReceiveConvDays,jdbcType=DECIMAL},
      </if>
      <if test="tqReceiveConvDays != null" >
        #{tqReceiveConvDays,jdbcType=DECIMAL},
      </if>
      <if test="snReceiveConvDays != null" >
        #{snReceiveConvDays,jdbcType=DECIMAL},
      </if>
      <if test="dqDepRecConvRatio != null" >
        #{dqDepRecConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqDepRecConvRatio != null" >
        #{tqDepRecConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="snDepRecConvRatio != null" >
        #{snDepRecConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqDepRecConvDays != null" >
        #{dqDepRecConvDays,jdbcType=DECIMAL},
      </if>
      <if test="tqDepRecConvDays != null" >
        #{tqDepRecConvDays,jdbcType=DECIMAL},
      </if>
      <if test="snDepRecConvDays != null" >
        #{snDepRecConvDays,jdbcType=DECIMAL},
      </if>
      <if test="dqInventoryConvRatio != null" >
        #{dqInventoryConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqInventoryConvRatio != null" >
        #{tqInventoryConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="snInventoryConvRatio != null" >
        #{snInventoryConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqInventoryConvDays != null" >
        #{dqInventoryConvDays,jdbcType=DECIMAL},
      </if>
      <if test="tqInventoryConvDays != null" >
        #{tqInventoryConvDays,jdbcType=DECIMAL},
      </if>
      <if test="snInventoryConvDays != null" >
        #{snInventoryConvDays,jdbcType=DECIMAL},
      </if>
      <if test="dqDepPayConvRatio != null" >
        #{dqDepPayConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqDepPayConvRatio != null" >
        #{tqDepPayConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="snDepPayConvRatio != null" >
        #{snDepPayConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqDepPayConvDays != null" >
        #{dqDepPayConvDays,jdbcType=DECIMAL},
      </if>
      <if test="tqDepPayConvDays != null" >
        #{tqDepPayConvDays,jdbcType=DECIMAL},
      </if>
      <if test="snDepPayConvDays != null" >
        #{snDepPayConvDays,jdbcType=DECIMAL},
      </if>
      <if test="dqAccPayConvRatio != null" >
        #{dqAccPayConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqAccPayConvRatio != null" >
        #{tqAccPayConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="snAccPayConvRatio != null" >
        #{snAccPayConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqAccPayConvDays != null" >
        #{dqAccPayConvDays,jdbcType=DECIMAL},
      </if>
      <if test="tqAccPayConvDays != null" >
        #{tqAccPayConvDays,jdbcType=DECIMAL},
      </if>
      <if test="snAccPayConvDays != null" >
        #{snAccPayConvDays,jdbcType=DECIMAL},
      </if>
      <if test="dqOperateCycle != null" >
        #{dqOperateCycle,jdbcType=DECIMAL},
      </if>
      <if test="tqOperateCycle != null" >
        #{tqOperateCycle,jdbcType=DECIMAL},
      </if>
      <if test="snOperateCycle != null" >
        #{snOperateCycle,jdbcType=DECIMAL},
      </if>
      <if test="dqCashCycle != null" >
        #{dqCashCycle,jdbcType=DECIMAL},
      </if>
      <if test="tqCashCycle != null" >
        #{tqCashCycle,jdbcType=DECIMAL},
      </if>
      <if test="snCashCycle != null" >
        #{snCashCycle,jdbcType=DECIMAL},
      </if>
      <if test="dqRota != null" >
        #{dqRota,jdbcType=DECIMAL},
      </if>
      <if test="tqRota != null" >
        #{tqRota,jdbcType=DECIMAL},
      </if>
      <if test="snRota != null" >
        #{snRota,jdbcType=DECIMAL},
      </if>
      <if test="dqRoe != null" >
        #{dqRoe,jdbcType=DECIMAL},
      </if>
      <if test="tqRoe != null" >
        #{tqRoe,jdbcType=DECIMAL},
      </if>
      <if test="snRoe != null" >
        #{snRoe,jdbcType=DECIMAL},
      </if>
      <if test="dqGrossProfitRatio != null" >
        #{dqGrossProfitRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqGrossProfitRatio != null" >
        #{tqGrossProfitRatio,jdbcType=DECIMAL},
      </if>
      <if test="snGrossProfitRatio != null" >
        #{snGrossProfitRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqSaleGrowthRatio != null" >
        #{dqSaleGrowthRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqSaleGrowthRatio != null" >
        #{tqSaleGrowthRatio,jdbcType=DECIMAL},
      </if>
      <if test="snSaleGrowthRatio != null" >
        #{snSaleGrowthRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqNetGrowthRatio != null" >
        #{dqNetGrowthRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqNetGrowthRatio != null" >
        #{tqNetGrowthRatio,jdbcType=DECIMAL},
      </if>
      <if test="snNetGrowthRatio != null" >
        #{snNetGrowthRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqOperateProfitRatio != null" >
        #{dqOperateProfitRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqOperateProfitRatio != null" >
        #{tqOperateProfitRatio,jdbcType=DECIMAL},
      </if>
      <if test="snOperateProfitRatio != null" >
        #{snOperateProfitRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqSaleNetRatio != null" >
        #{dqSaleNetRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqSaleNetRatio != null" >
        #{tqSaleNetRatio,jdbcType=DECIMAL},
      </if>
      <if test="snSaleNetRatio != null" >
        #{snSaleNetRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqThirdRatio != null" >
        #{dqThirdRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqThirdRatio != null" >
        #{tqThirdRatio,jdbcType=DECIMAL},
      </if>
      <if test="snThirdRatio != null" >
        #{snThirdRatio,jdbcType=DECIMAL},
      </if>
      <if test="lvl != null" >
        #{lvl,jdbcType=VARCHAR},
      </if>
      <if test="etlDate != null" >
        #{etlDate,jdbcType=DECIMAL},
      </if>
      <if test="etlTime != null" >
        #{etlTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.htd.argus.dto.HtyFctL2DupontDTO" >
    update hty_fct_l2_dupont
    <set >
      <if test="dtime != null" >
        dtime = #{dtime,jdbcType=VARCHAR},
      </if>
      <if test="yearMon != null" >
        year_mon = #{yearMon,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="dqCurrentRatio != null" >
        dq_current_ratio = #{dqCurrentRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqCurrentRatio != null" >
        tq_current_ratio = #{tqCurrentRatio,jdbcType=DECIMAL},
      </if>
      <if test="snCurrentRatio != null" >
        sn_current_ratio = #{snCurrentRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqQuickRatio != null" >
        dq_quick_ratio = #{dqQuickRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqQuickRatio != null" >
        tq_quick_ratio = #{tqQuickRatio,jdbcType=DECIMAL},
      </if>
      <if test="snQuickRatio != null" >
        sn_quick_ratio = #{snQuickRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqDebtAssetsRatio != null" >
        dq_debt_assets_ratio = #{dqDebtAssetsRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqDebtAssetsRatio != null" >
        tq_debt_assets_ratio = #{tqDebtAssetsRatio,jdbcType=DECIMAL},
      </if>
      <if test="snDebtAssetsRatio != null" >
        sn_debt_assets_ratio = #{snDebtAssetsRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqSupExposureDays != null" >
        dq_sup_exposure_days = #{dqSupExposureDays,jdbcType=DECIMAL},
      </if>
      <if test="tqSupExposureDays != null" >
        tq_sup_exposure_days = #{tqSupExposureDays,jdbcType=DECIMAL},
      </if>
      <if test="snSupExposureDays != null" >
        sn_sup_exposure_days = #{snSupExposureDays,jdbcType=DECIMAL},
      </if>
      <if test="dqReceiveConvRatio != null" >
        dq_receive_conv_ratio = #{dqReceiveConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqReceiveConvRatio != null" >
        tq_receive_conv_ratio = #{tqReceiveConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="snReceiveConvRatio != null" >
        sn_receive_conv_ratio = #{snReceiveConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqReceiveConvDays != null" >
        dq_receive_conv_days = #{dqReceiveConvDays,jdbcType=DECIMAL},
      </if>
      <if test="tqReceiveConvDays != null" >
        tq_receive_conv_days = #{tqReceiveConvDays,jdbcType=DECIMAL},
      </if>
      <if test="snReceiveConvDays != null" >
        sn_receive_conv_days = #{snReceiveConvDays,jdbcType=DECIMAL},
      </if>
      <if test="dqDepRecConvRatio != null" >
        dq_dep_rec_conv_ratio = #{dqDepRecConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqDepRecConvRatio != null" >
        tq_dep_rec_conv_ratio = #{tqDepRecConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="snDepRecConvRatio != null" >
        sn_dep_rec_conv_ratio = #{snDepRecConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqDepRecConvDays != null" >
        dq_dep_rec_conv_days = #{dqDepRecConvDays,jdbcType=DECIMAL},
      </if>
      <if test="tqDepRecConvDays != null" >
        tq_dep_rec_conv_days = #{tqDepRecConvDays,jdbcType=DECIMAL},
      </if>
      <if test="snDepRecConvDays != null" >
        sn_dep_rec_conv_days = #{snDepRecConvDays,jdbcType=DECIMAL},
      </if>
      <if test="dqInventoryConvRatio != null" >
        dq_inventory_conv_ratio = #{dqInventoryConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqInventoryConvRatio != null" >
        tq_inventory_conv_ratio = #{tqInventoryConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="snInventoryConvRatio != null" >
        sn_inventory_conv_ratio = #{snInventoryConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqInventoryConvDays != null" >
        dq_inventory_conv_days = #{dqInventoryConvDays,jdbcType=DECIMAL},
      </if>
      <if test="tqInventoryConvDays != null" >
        tq_inventory_conv_days = #{tqInventoryConvDays,jdbcType=DECIMAL},
      </if>
      <if test="snInventoryConvDays != null" >
        sn_inventory_conv_days = #{snInventoryConvDays,jdbcType=DECIMAL},
      </if>
      <if test="dqDepPayConvRatio != null" >
        dq_dep_pay_conv_ratio = #{dqDepPayConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqDepPayConvRatio != null" >
        tq_dep_pay_conv_ratio = #{tqDepPayConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="snDepPayConvRatio != null" >
        sn_dep_pay_conv_ratio = #{snDepPayConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqDepPayConvDays != null" >
        dq_dep_pay_conv_days = #{dqDepPayConvDays,jdbcType=DECIMAL},
      </if>
      <if test="tqDepPayConvDays != null" >
        tq_dep_pay_conv_days = #{tqDepPayConvDays,jdbcType=DECIMAL},
      </if>
      <if test="snDepPayConvDays != null" >
        sn_dep_pay_conv_days = #{snDepPayConvDays,jdbcType=DECIMAL},
      </if>
      <if test="dqAccPayConvRatio != null" >
        dq_acc_pay_conv_ratio = #{dqAccPayConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqAccPayConvRatio != null" >
        tq_acc_pay_conv_ratio = #{tqAccPayConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="snAccPayConvRatio != null" >
        sn_acc_pay_conv_ratio = #{snAccPayConvRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqAccPayConvDays != null" >
        dq_acc_pay_conv_days = #{dqAccPayConvDays,jdbcType=DECIMAL},
      </if>
      <if test="tqAccPayConvDays != null" >
        tq_acc_pay_conv_days = #{tqAccPayConvDays,jdbcType=DECIMAL},
      </if>
      <if test="snAccPayConvDays != null" >
        sn_acc_pay_conv_days = #{snAccPayConvDays,jdbcType=DECIMAL},
      </if>
      <if test="dqOperateCycle != null" >
        dq_operate_cycle = #{dqOperateCycle,jdbcType=DECIMAL},
      </if>
      <if test="tqOperateCycle != null" >
        tq_operate_cycle = #{tqOperateCycle,jdbcType=DECIMAL},
      </if>
      <if test="snOperateCycle != null" >
        sn_operate_cycle = #{snOperateCycle,jdbcType=DECIMAL},
      </if>
      <if test="dqCashCycle != null" >
        dq_cash_cycle = #{dqCashCycle,jdbcType=DECIMAL},
      </if>
      <if test="tqCashCycle != null" >
        tq_cash_cycle = #{tqCashCycle,jdbcType=DECIMAL},
      </if>
      <if test="snCashCycle != null" >
        sn_cash_cycle = #{snCashCycle,jdbcType=DECIMAL},
      </if>
      <if test="dqRota != null" >
        dq_rota = #{dqRota,jdbcType=DECIMAL},
      </if>
      <if test="tqRota != null" >
        tq_rota = #{tqRota,jdbcType=DECIMAL},
      </if>
      <if test="snRota != null" >
        sn_rota = #{snRota,jdbcType=DECIMAL},
      </if>
      <if test="dqRoe != null" >
        dq_roe = #{dqRoe,jdbcType=DECIMAL},
      </if>
      <if test="tqRoe != null" >
        tq_roe = #{tqRoe,jdbcType=DECIMAL},
      </if>
      <if test="snRoe != null" >
        sn_roe = #{snRoe,jdbcType=DECIMAL},
      </if>
      <if test="dqGrossProfitRatio != null" >
        dq_gross_profit_ratio = #{dqGrossProfitRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqGrossProfitRatio != null" >
        tq_gross_profit_ratio = #{tqGrossProfitRatio,jdbcType=DECIMAL},
      </if>
      <if test="snGrossProfitRatio != null" >
        sn_gross_profit_ratio = #{snGrossProfitRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqSaleGrowthRatio != null" >
        dq_sale_growth_ratio = #{dqSaleGrowthRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqSaleGrowthRatio != null" >
        tq_sale_growth_ratio = #{tqSaleGrowthRatio,jdbcType=DECIMAL},
      </if>
      <if test="snSaleGrowthRatio != null" >
        sn_sale_growth_ratio = #{snSaleGrowthRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqNetGrowthRatio != null" >
        dq_net_growth_ratio = #{dqNetGrowthRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqNetGrowthRatio != null" >
        tq_net_growth_ratio = #{tqNetGrowthRatio,jdbcType=DECIMAL},
      </if>
      <if test="snNetGrowthRatio != null" >
        sn_net_growth_ratio = #{snNetGrowthRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqOperateProfitRatio != null" >
        dq_operate_profit_ratio = #{dqOperateProfitRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqOperateProfitRatio != null" >
        tq_operate_profit_ratio = #{tqOperateProfitRatio,jdbcType=DECIMAL},
      </if>
      <if test="snOperateProfitRatio != null" >
        sn_operate_profit_ratio = #{snOperateProfitRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqSaleNetRatio != null" >
        dq_sale_net_ratio = #{dqSaleNetRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqSaleNetRatio != null" >
        tq_sale_net_ratio = #{tqSaleNetRatio,jdbcType=DECIMAL},
      </if>
      <if test="snSaleNetRatio != null" >
        sn_sale_net_ratio = #{snSaleNetRatio,jdbcType=DECIMAL},
      </if>
      <if test="dqThirdRatio != null" >
        dq_third_ratio = #{dqThirdRatio,jdbcType=DECIMAL},
      </if>
      <if test="tqThirdRatio != null" >
        tq_third_ratio = #{tqThirdRatio,jdbcType=DECIMAL},
      </if>
      <if test="snThirdRatio != null" >
        sn_third_ratio = #{snThirdRatio,jdbcType=DECIMAL},
      </if>
      <if test="lvl != null" >
        lvl = #{lvl,jdbcType=VARCHAR},
      </if>
      <if test="etlDate != null" >
        etl_date = #{etlDate,jdbcType=DECIMAL},
      </if>
      <if test="etlTime != null" >
        etl_time = #{etlTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.htd.argus.dto.HtyFctL2DupontDTO" >
    update hty_fct_l2_dupont
    set dtime = #{dtime,jdbcType=VARCHAR},
      year_mon = #{yearMon,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      dq_current_ratio = #{dqCurrentRatio,jdbcType=DECIMAL},
      tq_current_ratio = #{tqCurrentRatio,jdbcType=DECIMAL},
      sn_current_ratio = #{snCurrentRatio,jdbcType=DECIMAL},
      dq_quick_ratio = #{dqQuickRatio,jdbcType=DECIMAL},
      tq_quick_ratio = #{tqQuickRatio,jdbcType=DECIMAL},
      sn_quick_ratio = #{snQuickRatio,jdbcType=DECIMAL},
      dq_debt_assets_ratio = #{dqDebtAssetsRatio,jdbcType=DECIMAL},
      tq_debt_assets_ratio = #{tqDebtAssetsRatio,jdbcType=DECIMAL},
      sn_debt_assets_ratio = #{snDebtAssetsRatio,jdbcType=DECIMAL},
      dq_sup_exposure_days = #{dqSupExposureDays,jdbcType=DECIMAL},
      tq_sup_exposure_days = #{tqSupExposureDays,jdbcType=DECIMAL},
      sn_sup_exposure_days = #{snSupExposureDays,jdbcType=DECIMAL},
      dq_receive_conv_ratio = #{dqReceiveConvRatio,jdbcType=DECIMAL},
      tq_receive_conv_ratio = #{tqReceiveConvRatio,jdbcType=DECIMAL},
      sn_receive_conv_ratio = #{snReceiveConvRatio,jdbcType=DECIMAL},
      dq_receive_conv_days = #{dqReceiveConvDays,jdbcType=DECIMAL},
      tq_receive_conv_days = #{tqReceiveConvDays,jdbcType=DECIMAL},
      sn_receive_conv_days = #{snReceiveConvDays,jdbcType=DECIMAL},
      dq_dep_rec_conv_ratio = #{dqDepRecConvRatio,jdbcType=DECIMAL},
      tq_dep_rec_conv_ratio = #{tqDepRecConvRatio,jdbcType=DECIMAL},
      sn_dep_rec_conv_ratio = #{snDepRecConvRatio,jdbcType=DECIMAL},
      dq_dep_rec_conv_days = #{dqDepRecConvDays,jdbcType=DECIMAL},
      tq_dep_rec_conv_days = #{tqDepRecConvDays,jdbcType=DECIMAL},
      sn_dep_rec_conv_days = #{snDepRecConvDays,jdbcType=DECIMAL},
      dq_inventory_conv_ratio = #{dqInventoryConvRatio,jdbcType=DECIMAL},
      tq_inventory_conv_ratio = #{tqInventoryConvRatio,jdbcType=DECIMAL},
      sn_inventory_conv_ratio = #{snInventoryConvRatio,jdbcType=DECIMAL},
      dq_inventory_conv_days = #{dqInventoryConvDays,jdbcType=DECIMAL},
      tq_inventory_conv_days = #{tqInventoryConvDays,jdbcType=DECIMAL},
      sn_inventory_conv_days = #{snInventoryConvDays,jdbcType=DECIMAL},
      dq_dep_pay_conv_ratio = #{dqDepPayConvRatio,jdbcType=DECIMAL},
      tq_dep_pay_conv_ratio = #{tqDepPayConvRatio,jdbcType=DECIMAL},
      sn_dep_pay_conv_ratio = #{snDepPayConvRatio,jdbcType=DECIMAL},
      dq_dep_pay_conv_days = #{dqDepPayConvDays,jdbcType=DECIMAL},
      tq_dep_pay_conv_days = #{tqDepPayConvDays,jdbcType=DECIMAL},
      sn_dep_pay_conv_days = #{snDepPayConvDays,jdbcType=DECIMAL},
      dq_acc_pay_conv_ratio = #{dqAccPayConvRatio,jdbcType=DECIMAL},
      tq_acc_pay_conv_ratio = #{tqAccPayConvRatio,jdbcType=DECIMAL},
      sn_acc_pay_conv_ratio = #{snAccPayConvRatio,jdbcType=DECIMAL},
      dq_acc_pay_conv_days = #{dqAccPayConvDays,jdbcType=DECIMAL},
      tq_acc_pay_conv_days = #{tqAccPayConvDays,jdbcType=DECIMAL},
      sn_acc_pay_conv_days = #{snAccPayConvDays,jdbcType=DECIMAL},
      dq_operate_cycle = #{dqOperateCycle,jdbcType=DECIMAL},
      tq_operate_cycle = #{tqOperateCycle,jdbcType=DECIMAL},
      sn_operate_cycle = #{snOperateCycle,jdbcType=DECIMAL},
      dq_cash_cycle = #{dqCashCycle,jdbcType=DECIMAL},
      tq_cash_cycle = #{tqCashCycle,jdbcType=DECIMAL},
      sn_cash_cycle = #{snCashCycle,jdbcType=DECIMAL},
      dq_rota = #{dqRota,jdbcType=DECIMAL},
      tq_rota = #{tqRota,jdbcType=DECIMAL},
      sn_rota = #{snRota,jdbcType=DECIMAL},
      dq_roe = #{dqRoe,jdbcType=DECIMAL},
      tq_roe = #{tqRoe,jdbcType=DECIMAL},
      sn_roe = #{snRoe,jdbcType=DECIMAL},
      dq_gross_profit_ratio = #{dqGrossProfitRatio,jdbcType=DECIMAL},
      tq_gross_profit_ratio = #{tqGrossProfitRatio,jdbcType=DECIMAL},
      sn_gross_profit_ratio = #{snGrossProfitRatio,jdbcType=DECIMAL},
      dq_sale_growth_ratio = #{dqSaleGrowthRatio,jdbcType=DECIMAL},
      tq_sale_growth_ratio = #{tqSaleGrowthRatio,jdbcType=DECIMAL},
      sn_sale_growth_ratio = #{snSaleGrowthRatio,jdbcType=DECIMAL},
      dq_net_growth_ratio = #{dqNetGrowthRatio,jdbcType=DECIMAL},
      tq_net_growth_ratio = #{tqNetGrowthRatio,jdbcType=DECIMAL},
      sn_net_growth_ratio = #{snNetGrowthRatio,jdbcType=DECIMAL},
      dq_operate_profit_ratio = #{dqOperateProfitRatio,jdbcType=DECIMAL},
      tq_operate_profit_ratio = #{tqOperateProfitRatio,jdbcType=DECIMAL},
      sn_operate_profit_ratio = #{snOperateProfitRatio,jdbcType=DECIMAL},
      dq_sale_net_ratio = #{dqSaleNetRatio,jdbcType=DECIMAL},
      tq_sale_net_ratio = #{tqSaleNetRatio,jdbcType=DECIMAL},
      sn_sale_net_ratio = #{snSaleNetRatio,jdbcType=DECIMAL},
      dq_third_ratio = #{dqThirdRatio,jdbcType=DECIMAL},
      tq_third_ratio = #{tqThirdRatio,jdbcType=DECIMAL},
      sn_third_ratio = #{snThirdRatio,jdbcType=DECIMAL},
      lvl = #{lvl,jdbcType=VARCHAR},
      etl_date = #{etlDate,jdbcType=DECIMAL},
      etl_time = #{etlTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>