<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.argus.dao.HtyFctOrgValueDTOMapper" >
  <resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctOrgValueDTO" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="YEARMON" property="yearmon" jdbcType="VARCHAR" />
    <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
    <result column="PTGZ" property="ptgz" jdbcType="INTEGER" />
    <result column="PSGZ" property="psgz" jdbcType="DECIMAL" />
    <result column="PEGZ" property="pegz" jdbcType="DECIMAL" />
    <result column="PBGZ" property="pbgz" jdbcType="DECIMAL" />
    <result column="CVMGZ" property="cvmgz" jdbcType="DECIMAL" />
    <result column="ZHNL" property="zhnl" jdbcType="DECIMAL" />
    <result column="FBPM" property="fbpm" jdbcType="INTEGER" />
    <result column="ZTPM" property="ztpm" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, YEARMON, ORG_CODE, PTGZ, PSGZ, PEGZ, PBGZ, CVMGZ, ZHNL, FBPM, ZTPM
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hty_fct_org_value
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hty_fct_org_value
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.htd.argus.dto.HtyFctOrgValueDTO" >
    insert into hty_fct_org_value (ID, YEARMON, ORG_CODE, 
      PTGZ, PSGZ, PEGZ, PBGZ, 
      CVMGZ, ZHNL, FBPM, 
      ZTPM)
    values (#{id,jdbcType=BIGINT}, #{yearmon,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, 
      #{ptgz,jdbcType=INTEGER}, #{psgz,jdbcType=DECIMAL}, #{pegz,jdbcType=DECIMAL}, #{pbgz,jdbcType=DECIMAL}, 
      #{cvmgz,jdbcType=DECIMAL}, #{zhnl,jdbcType=DECIMAL}, #{fbpm,jdbcType=INTEGER}, 
      #{ztpm,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.htd.argus.dto.HtyFctOrgValueDTO" >
    insert into hty_fct_org_value
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="yearmon != null" >
        YEARMON,
      </if>
      <if test="orgCode != null" >
        ORG_CODE,
      </if>
      <if test="ptgz != null" >
        PTGZ,
      </if>
      <if test="psgz != null" >
        PSGZ,
      </if>
      <if test="pegz != null" >
        PEGZ,
      </if>
      <if test="pbgz != null" >
        PBGZ,
      </if>
      <if test="cvmgz != null" >
        CVMGZ,
      </if>
      <if test="zhnl != null" >
        ZHNL,
      </if>
      <if test="fbpm != null" >
        FBPM,
      </if>
      <if test="ztpm != null" >
        ZTPM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="yearmon != null" >
        #{yearmon,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="ptgz != null" >
        #{ptgz,jdbcType=INTEGER},
      </if>
      <if test="psgz != null" >
        #{psgz,jdbcType=DECIMAL},
      </if>
      <if test="pegz != null" >
        #{pegz,jdbcType=DECIMAL},
      </if>
      <if test="pbgz != null" >
        #{pbgz,jdbcType=DECIMAL},
      </if>
      <if test="cvmgz != null" >
        #{cvmgz,jdbcType=DECIMAL},
      </if>
      <if test="zhnl != null" >
        #{zhnl,jdbcType=DECIMAL},
      </if>
      <if test="fbpm != null" >
        #{fbpm,jdbcType=INTEGER},
      </if>
      <if test="ztpm != null" >
        #{ztpm,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.htd.argus.dto.HtyFctOrgValueDTO" >
    update hty_fct_org_value
    <set >
      <if test="yearmon != null" >
        YEARMON = #{yearmon,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        ORG_CODE = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="ptgz != null" >
        PTGZ = #{ptgz,jdbcType=INTEGER},
      </if>
      <if test="psgz != null" >
        PSGZ = #{psgz,jdbcType=DECIMAL},
      </if>
      <if test="pegz != null" >
        PEGZ = #{pegz,jdbcType=DECIMAL},
      </if>
      <if test="pbgz != null" >
        PBGZ = #{pbgz,jdbcType=DECIMAL},
      </if>
      <if test="cvmgz != null" >
        CVMGZ = #{cvmgz,jdbcType=DECIMAL},
      </if>
      <if test="zhnl != null" >
        ZHNL = #{zhnl,jdbcType=DECIMAL},
      </if>
      <if test="fbpm != null" >
        FBPM = #{fbpm,jdbcType=INTEGER},
      </if>
      <if test="ztpm != null" >
        ZTPM = #{ztpm,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.htd.argus.dto.HtyFctOrgValueDTO" >
    update hty_fct_org_value
    set YEARMON = #{yearmon,jdbcType=VARCHAR},
      ORG_CODE = #{orgCode,jdbcType=VARCHAR},
      PTGZ = #{ptgz,jdbcType=INTEGER},
      PSGZ = #{psgz,jdbcType=DECIMAL},
      PEGZ = #{pegz,jdbcType=DECIMAL},
      PBGZ = #{pbgz,jdbcType=DECIMAL},
      CVMGZ = #{cvmgz,jdbcType=DECIMAL},
      ZHNL = #{zhnl,jdbcType=DECIMAL},
      FBPM = #{fbpm,jdbcType=INTEGER},
      ZTPM = #{ztpm,jdbcType=INTEGER}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>