<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.argus.dao.HtyFctXwB2bLndPageDTOMapper">
    <resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctXwB2bLndPageDTO">
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="DATE_KEY" property="dateKey" jdbcType="VARCHAR" />
        <result column="PAGE_PATH" property="pagePath" jdbcType="VARCHAR" />
        <result column="PAGE_TITLE" property="pageTitle" jdbcType="VARCHAR" />
        <result column="COUNTRY_NAME" property="countryName" jdbcType="VARCHAR" />
        <result column="PROVINCE_NAME" property="provinceName"
                jdbcType="VARCHAR" />
        <result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
        <result column="ACCESS_QTY" property="accessQty" jdbcType="DECIMAL" />
        <result column="ETL_DATE" property="etlDate" jdbcType="DECIMAL" />
        <result column="ETL_TIME" property="etlTime" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List">
        ID,DATE_KEY,PAGE_PATH,PAGE_TITLE,COUNTRY_NAME,PROVINCE_NAME,CITY_NAME,ACCESS_QTY,ETL_DATE,ETL_TIME
    </sql>
	<sql id="where">
		<where>
			<if
				test="htyUserBeHaviorSearchDTO.startTime !=null and htyUserBeHaviorSearchDTO.startTime !=''">
				<![CDATA[and DATE_KEY >=#{htyUserBeHaviorSearchDTO.startTime}]]>
			</if>
			<if
				test="htyUserBeHaviorSearchDTO.endTime !=null and htyUserBeHaviorSearchDTO.endTime!=''">
			 <![CDATA[and DATE_KEY<=#{htyUserBeHaviorSearchDTO.endTime}]]>
			</if>
            <if test="htyUserBeHaviorSearchDTO.period!=null and htyUserBeHaviorSearchDTO.period!=''">
                and DATE_KEY=#{htyUserBeHaviorSearchDTO.period}
            </if>
		</where>
	</sql>
    <!--落地页面的访问数量的查询 -->
    <select id="queryAllAccessQty" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from hty_fct_xw_b2b_lnd_page
        <include refid="where" />
        group by PAGE_TITLE,ACCESS_QTY
        order by ACCESS_QTY DESC limit 10
    </select>

    <select id="queryProName" resultMap="BaseResultMap" >
        SELECT
        province_name
        FROM
        hty_fct_xw_b2b_lnd_page
        <include refid="where"/>
        ORDER BY id DESC
        LIMIT 1
    </select>
    <select id="queryCityName" resultMap="BaseResultMap" >
        SELECT
        city_name
        FROM
        hty_fct_xw_b2b_lnd_page
        <include refid="where"/>
        ORDER BY id DESC
        LIMIT 1
    </select>
    <select id="queryByProNameAndCityName" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from
        hty_fct_xw_b2b_lnd_page
        <where>
            <if test="htyUserBeHaviorSearchDTO.startTime !=null and htyUserBeHaviorSearchDTO.startTime !=''">
                <![CDATA[and DATE_KEY >=#{htyUserBeHaviorSearchDTO.startTime}]]>
            </if>
            <if test="htyUserBeHaviorSearchDTO.endTime !=null and htyUserBeHaviorSearchDTO.endTime!=''">
                <![CDATA[and DATE_KEY<=#{htyUserBeHaviorSearchDTO.endTime}]]>
            </if>
            <if test="htyUserBeHaviorSearchDTO.period!=null and htyUserBeHaviorSearchDTO.period!=''">
                and DATE_KEY=#{htyUserBeHaviorSearchDTO.period}
            </if>
            <if test="htyFctXwB2bLndPageDTO.provinceName!=null">
                AND PROVINCE_NAME=#{htyFctXwB2bLndPageDTO.provinceName}
            </if>
            <if test="htyFctXwB2bLndPageDTO.cityName!=null">
                AND CITY_NAME=#{htyFctXwB2bLndPageDTO.cityName}
            </if>
        </where>
        group by PAGE_TITLE,ACCESS_QTY
        order by ACCESS_QTY DESC limit 10
	</select>
</mapper>