<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.argus.dao.HtyFctXwB2bConvFunnelDTOMapper" >
    <resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctXwB2bConvFunnelDTO" >
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="DATE_KEY" property="dateKey" jdbcType="VARCHAR" />
        <result column="STEP_NAME" property="stepName" jdbcType="VARCHAR" />
        <result column="STEP_SEQUENCE" property="stepSequence" jdbcType="DECIMAL" />
        <result column="CUST_ID" property="custId" jdbcType="VARCHAR" />
        <result column="COUNTRY_NAME" property="countryName" jdbcType="VARCHAR" />
        <result column="PROVINCE_NAME" property="provinceName" jdbcType="VARCHAR" />
        <result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
        <result column="ETL_DATE" property="etlDate" jdbcType="DECIMAL" />
        <result column="ETL_TIME" property="etlTime" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="where">
        <where>
            <if test="htyUserBeHaviorSearchDTO.startTime !=null and htyUserBeHaviorSearchDTO.startTime !=''">
                <![CDATA[and DATE_KEY >=#{htyUserBeHaviorSearchDTO.startTime}]]>
            </if>
            <if test="htyUserBeHaviorSearchDTO.endTime !=null and htyUserBeHaviorSearchDTO.endTime!=''">
                <![CDATA[and DATE_KEY<=#{htyUserBeHaviorSearchDTO.endTime}]]>
            </if>
        </where>
    </sql>
    <sql id="base">
        STEP_NAME,
        COUNT(STEP_NAME)AS STEP_SEQUENCE
    </sql>
    <!--用户购买漏斗  -->
    <select id="queryStepSequenceNum" resultMap="BaseResultMap">
        select
        <include refid="base"/>
        from hty_fct_xw_b2b_conv_funnel
        <include refid="where" />
        group by STEP_SEQUENCE
    </select>
    <!--客户的复购  支付成功后隔一天再购买-->
    <select id="queryByPaySuccessNextDay" resultMap="BaseResultMap" >
        SELECT
        '复购人数' AS step_name,
        COUNT(step_sequence) AS step_sequence
        FROM (
        SELECT
        step_name, step_sequence, cust_id,
        COUNT(DISTINCT date_key) AS buy_date_qty
        FROM ( SELECT step_name, step_sequence,cust_id,date_key from HTY_FCT_XW_B2B_CONV_FUNNEL
        <where>
            step_sequence = 4
            <if test="htyUserBeHaviorSearchDTO.startTime !=null and htyUserBeHaviorSearchDTO.startTime !=''">
                <![CDATA[and DATE_KEY >=#{htyUserBeHaviorSearchDTO.startTime}]]>
            </if>
            <if test="htyUserBeHaviorSearchDTO.endTime !=null and htyUserBeHaviorSearchDTO.endTime!=''">
                <![CDATA[and DATE_KEY<=#{htyUserBeHaviorSearchDTO.endTime}]]>
            </if>
        </where>
        ) bought
        GROUP BY step_name, step_sequence, cust_id
        ) a
        WHERE buy_date_qty > 1
        UNION ALL
        SELECT
        '购买人数' AS step_name,
        COUNT(DISTINCT cust_id) AS step_sequence
        FROM ( SELECT step_name, step_sequence,cust_id from HTY_FCT_XW_B2B_CONV_FUNNEL
        <where>
            step_sequence = 4
            <if test="htyUserBeHaviorSearchDTO.startTime !=null and htyUserBeHaviorSearchDTO.startTime !=''">
                <![CDATA[and DATE_KEY >=#{htyUserBeHaviorSearchDTO.startTime}]]>
            </if>
            <if test="htyUserBeHaviorSearchDTO.endTime !=null and htyUserBeHaviorSearchDTO.endTime!=''">
                <![CDATA[and DATE_KEY<=#{htyUserBeHaviorSearchDTO.endTime}]]>
            </if>
        </where>
        ) bought
        GROUP BY step_name, step_sequence
    </select>
    <select id="queryByProAndCity" resultMap="BaseResultMap" >
        SELECT
        <include refid="base" />
        FROM
        hty_fct_xw_b2b_conv_funnel
        <where>
            <if test="htyUserBeHaviorSearchDTO.startTime !=null and htyUserBeHaviorSearchDTO.startTime !=''">
                <![CDATA[and DATE_KEY >=#{htyUserBeHaviorSearchDTO.startTime}]]>
            </if>
            <if test="htyUserBeHaviorSearchDTO.endTime !=null and htyUserBeHaviorSearchDTO.endTime!=''">
                <![CDATA[and DATE_KEY<=#{htyUserBeHaviorSearchDTO.endTime}]]>
            </if>
            <if test="htyFctXwB2bConvFunnelDTO.provinceName!=null">
                and PROVINCE_NAME =#{htyFctXwB2bConvFunnelDTO.provinceName}
            </if>
            <if test="htyFctXwB2bConvFunnelDTO.cityName!=null">
                and CITY_NAME=#{htyFctXwB2bConvFunnelDTO.cityName}
            </if>
        </where>
        group by STEP_SEQUENCE
    </select>
    <select id="queryByProAndCityRepeat" resultMap="BaseResultMap">
        SELECT
        '复购人数' AS step_name,
        COUNT(step_sequence) AS step_sequence
        FROM (
        SELECT
        step_name, step_sequence, cust_id,
        COUNT(DISTINCT date_key) AS buy_date_qty
        FROM ( SELECT step_name, step_sequence,cust_id,date_key from HTY_FCT_XW_B2B_CONV_FUNNEL
        <where>
            step_sequence = 4
            <if test="htyUserBeHaviorSearchDTO.startTime !=null and htyUserBeHaviorSearchDTO.startTime !=''">
                <![CDATA[and DATE_KEY >=#{htyUserBeHaviorSearchDTO.startTime}]]>
            </if>
            <if test="htyUserBeHaviorSearchDTO.endTime !=null and htyUserBeHaviorSearchDTO.endTime!=''">
                <![CDATA[and DATE_KEY<=#{htyUserBeHaviorSearchDTO.endTime}]]>
            </if>
            <if test="htyFctXwB2bConvFunnelDTO.provinceName!=null">
                and PROVINCE_NAME =#{htyFctXwB2bConvFunnelDTO.provinceName}
            </if>
            <if test="htyFctXwB2bConvFunnelDTO.cityName!=null">
                and CITY_NAME=#{htyFctXwB2bConvFunnelDTO.cityName}
            </if>
        </where>
        ) bought
        GROUP BY step_name, step_sequence, cust_id
        ) a
        WHERE buy_date_qty > 1
        UNION ALL
        SELECT
        '购买人数' AS step_name,
        COUNT(DISTINCT cust_id) AS step_sequence
        FROM ( SELECT step_name, step_sequence,cust_id from HTY_FCT_XW_B2B_CONV_FUNNEL
        <where>
            step_sequence = 4
            <if test="htyUserBeHaviorSearchDTO.startTime !=null and htyUserBeHaviorSearchDTO.startTime !=''">
                <![CDATA[and DATE_KEY >=#{htyUserBeHaviorSearchDTO.startTime}]]>
            </if>
            <if test="htyUserBeHaviorSearchDTO.endTime !=null and htyUserBeHaviorSearchDTO.endTime!=''">
                <![CDATA[and DATE_KEY<=#{htyUserBeHaviorSearchDTO.endTime}]]>
            </if>
            <if test="htyFctXwB2bConvFunnelDTO.provinceName!=null">
                and PROVINCE_NAME =#{htyFctXwB2bConvFunnelDTO.provinceName}
            </if>
            <if test="htyFctXwB2bConvFunnelDTO.cityName!=null">
                and CITY_NAME=#{htyFctXwB2bConvFunnelDTO.cityName}
            </if>
        </where>
        ) bought
        GROUP BY step_name, step_sequence
    </select>
</mapper>