<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.htd.argus.dao.HtyFctXwB2bSearchKeyDTOMapper"><!--dao接口-->
	<resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctXwB2bSearchKeyDTO"><!--数据库对应的实体类-->
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="DATE_KEY" property="dateKey" jdbcType="VARCHAR" />
		<result column="SEARCH_KEYWORD" property="searchKeyword"
			jdbcType="VARCHAR" />
		<result column="SEARCH_TYPE" property="searchType" jdbcType="VARCHAR" />
		<result column="COUNTRY_NAME" property="countryName" jdbcType="VARCHAR" />
		<result column="PROVINCE_NAME" property="provinceName"
			jdbcType="VARCHAR" />
		<result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
		<result column="SEARCH_QTY" property="searchQty" jdbcType="DECIMAL" />
		<result column="ETL_DATE" property="etlDate" jdbcType="DECIMAL" />
		<result column="ETL_TIME" property="etlTime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID,DATE_KEY,SEARCH_KEYWORD,SEARCH_TYPE,COUNTRY_NAME,PROVINCE_NAME,CITY_NAME,SEARCH_QTY,ETL_DATE,ETL_TIME
	</sql>
	<sql id="where">
		<where>
			<!--<if-->
				<!--test="htyUserBeHaviorSearchDTO.period !=null and htyUserBeHaviorSearchDTO.period !=''">-->
				<!--and DATE_KEY =#{htyUserBeHaviorSearchDTO.period}-->
			<!--</if>-->
			<if
				test="htyUserBeHaviorSearchDTO.countryName !=null and htyUserBeHaviorSearchDTO.countryName !=''">
				and COUNTRY_NAME=#{htyUserBeHaviorSearchDTO.countryName}
			</if>
			<if
				test="htyUserBeHaviorSearchDTO.provinceName!=null and htyUserBeHaviorSearchDTO.provinceName !=''">
				and PROVINCE_NAME=#{htyUserBeHaviorSearchDTO.provinceName}
			</if>
			<if
				test="htyUserBeHaviorSearchDTO.cityName !=null and htyUserBeHaviorSearchDTO.cityName !=''">
				and CITY_NAME=#{htyUserBeHaviorSearchDTO.cityName}
			</if>
			<if
				test="htyUserBeHaviorSearchDTO.startTime !=null and htyUserBeHaviorSearchDTO.startTime !=''">
				<![CDATA[or DATE_KEY >=#{htyUserBeHaviorSearchDTO.startTime}]]>
			</if>
			<if
				test="htyUserBeHaviorSearchDTO.endTime !=null and htyUserBeHaviorSearchDTO.endTime!=''">
			 <![CDATA[and DATE_KEY<=#{htyUserBeHaviorSearchDTO.endTime}]]>
			</if>
		</where>
	</sql>
	<select id="queryAllSearchKeyWord" resultMap="BaseResultMap">
		select SEARCH_KEYWORD,SEARCH_QTY,CITY_NAME,DATE_KEY from hty_fct_xw_b2b_search_key
		<include refid="where" />
		group by SEARCH_KEYWORD,SEARCH_QTY
		order by SEARCH_QTY DESC limit 10
	</select>
</mapper>