<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.argus.dao.HtyFctOrgIncomeDTOMapper" >
  <resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctOrgIncomeDTO" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="YEAR_MON" property="yearMon" jdbcType="VARCHAR" />
    <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
    <result column="MON_BUSINCOME_AMT" property="monBusincomeAmt" jdbcType="DECIMAL" />
    <result column="LAST_MON_BUSINCOME_AMT" property="lastMonBusincomeAmt" jdbcType="DECIMAL" />
    <result column="YEAR_BUSINCOME_AMT" property="yearBusincomeAmt" jdbcType="DECIMAL" />
    <result column="LASTYEAR_BUSINCOME_AMT" property="lastyearBusincomeAmt" jdbcType="DECIMAL" />
    <result column="MON_INVOICING_AMT" property="monInvoicingAmt" jdbcType="DECIMAL" />
    <result column="YEAR_INVOICING_AMT" property="yearInvoicingAmt" jdbcType="DECIMAL" />
    <result column="LAST_MON_INVOICING_AMT" property="lastMonInvoicingAmt" jdbcType="DECIMAL" />
    <result column="LAST_YEAR_INVOICING_AMT" property="lastYearInvoicingAmt" jdbcType="DECIMAL" />
    <result column="MON_SERVICE_AMT" property="monServiceAmt" jdbcType="DECIMAL" />
    <result column="YEAR_SERVICE_AMT" property="yearServiceAmt" jdbcType="DECIMAL" />
    <result column="LAST_MON_SERVICE_AMT" property="lastMonServiceAmt" jdbcType="DECIMAL" />
    <result column="LAST_YEAR_SERVICE_AMT" property="lastYearServiceAmt" jdbcType="DECIMAL" />
    <result column="MON_FINANCE_AMT" property="monFinanceAmt" jdbcType="DECIMAL" />
    <result column="YEAR_FINANCE_AMT" property="yearFinanceAmt" jdbcType="DECIMAL" />
    <result column="LAST_MON_FINANCE_AMT" property="lastMonFinanceAmt" jdbcType="DECIMAL" />
    <result column="LAST_YEAR_FINANCE_AMT" property="lastYearFinanceAmt" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, YEAR_MON, ORG_CODE, MON_BUSINCOME_AMT, LAST_MON_BUSINCOME_AMT, YEAR_BUSINCOME_AMT, 
    LASTYEAR_BUSINCOME_AMT, MON_INVOICING_AMT, YEAR_INVOICING_AMT, LAST_MON_INVOICING_AMT, 
    LAST_YEAR_INVOICING_AMT, MON_SERVICE_AMT, YEAR_SERVICE_AMT, LAST_MON_SERVICE_AMT, 
    LAST_YEAR_SERVICE_AMT, MON_FINANCE_AMT, YEAR_FINANCE_AMT, LAST_MON_FINANCE_AMT, LAST_YEAR_FINANCE_AMT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hty_fct_org_income
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hty_fct_org_income
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.htd.argus.dto.HtyFctOrgIncomeDTO" >
    insert into hty_fct_org_income (ID, YEAR_MON, ORG_CODE, 
      MON_BUSINCOME_AMT, LAST_MON_BUSINCOME_AMT, YEAR_BUSINCOME_AMT, 
      LASTYEAR_BUSINCOME_AMT, MON_INVOICING_AMT, 
      YEAR_INVOICING_AMT, LAST_MON_INVOICING_AMT, 
      LAST_YEAR_INVOICING_AMT, MON_SERVICE_AMT, YEAR_SERVICE_AMT, 
      LAST_MON_SERVICE_AMT, LAST_YEAR_SERVICE_AMT, 
      MON_FINANCE_AMT, YEAR_FINANCE_AMT, LAST_MON_FINANCE_AMT, 
      LAST_YEAR_FINANCE_AMT)
    values (#{id,jdbcType=BIGINT}, #{yearMon,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, 
      #{monBusincomeAmt,jdbcType=DECIMAL}, #{lastMonBusincomeAmt,jdbcType=DECIMAL}, #{yearBusincomeAmt,jdbcType=DECIMAL}, 
      #{lastyearBusincomeAmt,jdbcType=DECIMAL}, #{monInvoicingAmt,jdbcType=DECIMAL}, 
      #{yearInvoicingAmt,jdbcType=DECIMAL}, #{lastMonInvoicingAmt,jdbcType=DECIMAL}, 
      #{lastYearInvoicingAmt,jdbcType=DECIMAL}, #{monServiceAmt,jdbcType=DECIMAL}, #{yearServiceAmt,jdbcType=DECIMAL}, 
      #{lastMonServiceAmt,jdbcType=DECIMAL}, #{lastYearServiceAmt,jdbcType=DECIMAL}, 
      #{monFinanceAmt,jdbcType=DECIMAL}, #{yearFinanceAmt,jdbcType=DECIMAL}, #{lastMonFinanceAmt,jdbcType=DECIMAL}, 
      #{lastYearFinanceAmt,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.htd.argus.dto.HtyFctOrgIncomeDTO" >
    insert into hty_fct_org_income
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="yearMon != null" >
        YEAR_MON,
      </if>
      <if test="orgCode != null" >
        ORG_CODE,
      </if>
      <if test="monBusincomeAmt != null" >
        MON_BUSINCOME_AMT,
      </if>
      <if test="lastMonBusincomeAmt != null" >
        LAST_MON_BUSINCOME_AMT,
      </if>
      <if test="yearBusincomeAmt != null" >
        YEAR_BUSINCOME_AMT,
      </if>
      <if test="lastyearBusincomeAmt != null" >
        LASTYEAR_BUSINCOME_AMT,
      </if>
      <if test="monInvoicingAmt != null" >
        MON_INVOICING_AMT,
      </if>
      <if test="yearInvoicingAmt != null" >
        YEAR_INVOICING_AMT,
      </if>
      <if test="lastMonInvoicingAmt != null" >
        LAST_MON_INVOICING_AMT,
      </if>
      <if test="lastYearInvoicingAmt != null" >
        LAST_YEAR_INVOICING_AMT,
      </if>
      <if test="monServiceAmt != null" >
        MON_SERVICE_AMT,
      </if>
      <if test="yearServiceAmt != null" >
        YEAR_SERVICE_AMT,
      </if>
      <if test="lastMonServiceAmt != null" >
        LAST_MON_SERVICE_AMT,
      </if>
      <if test="lastYearServiceAmt != null" >
        LAST_YEAR_SERVICE_AMT,
      </if>
      <if test="monFinanceAmt != null" >
        MON_FINANCE_AMT,
      </if>
      <if test="yearFinanceAmt != null" >
        YEAR_FINANCE_AMT,
      </if>
      <if test="lastMonFinanceAmt != null" >
        LAST_MON_FINANCE_AMT,
      </if>
      <if test="lastYearFinanceAmt != null" >
        LAST_YEAR_FINANCE_AMT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="yearMon != null" >
        #{yearMon,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="monBusincomeAmt != null" >
        #{monBusincomeAmt,jdbcType=DECIMAL},
      </if>
      <if test="lastMonBusincomeAmt != null" >
        #{lastMonBusincomeAmt,jdbcType=DECIMAL},
      </if>
      <if test="yearBusincomeAmt != null" >
        #{yearBusincomeAmt,jdbcType=DECIMAL},
      </if>
      <if test="lastyearBusincomeAmt != null" >
        #{lastyearBusincomeAmt,jdbcType=DECIMAL},
      </if>
      <if test="monInvoicingAmt != null" >
        #{monInvoicingAmt,jdbcType=DECIMAL},
      </if>
      <if test="yearInvoicingAmt != null" >
        #{yearInvoicingAmt,jdbcType=DECIMAL},
      </if>
      <if test="lastMonInvoicingAmt != null" >
        #{lastMonInvoicingAmt,jdbcType=DECIMAL},
      </if>
      <if test="lastYearInvoicingAmt != null" >
        #{lastYearInvoicingAmt,jdbcType=DECIMAL},
      </if>
      <if test="monServiceAmt != null" >
        #{monServiceAmt,jdbcType=DECIMAL},
      </if>
      <if test="yearServiceAmt != null" >
        #{yearServiceAmt,jdbcType=DECIMAL},
      </if>
      <if test="lastMonServiceAmt != null" >
        #{lastMonServiceAmt,jdbcType=DECIMAL},
      </if>
      <if test="lastYearServiceAmt != null" >
        #{lastYearServiceAmt,jdbcType=DECIMAL},
      </if>
      <if test="monFinanceAmt != null" >
        #{monFinanceAmt,jdbcType=DECIMAL},
      </if>
      <if test="yearFinanceAmt != null" >
        #{yearFinanceAmt,jdbcType=DECIMAL},
      </if>
      <if test="lastMonFinanceAmt != null" >
        #{lastMonFinanceAmt,jdbcType=DECIMAL},
      </if>
      <if test="lastYearFinanceAmt != null" >
        #{lastYearFinanceAmt,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.htd.argus.dto.HtyFctOrgIncomeDTO" >
    update hty_fct_org_income
    <set >
      <if test="yearMon != null" >
        YEAR_MON = #{yearMon,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        ORG_CODE = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="monBusincomeAmt != null" >
        MON_BUSINCOME_AMT = #{monBusincomeAmt,jdbcType=DECIMAL},
      </if>
      <if test="lastMonBusincomeAmt != null" >
        LAST_MON_BUSINCOME_AMT = #{lastMonBusincomeAmt,jdbcType=DECIMAL},
      </if>
      <if test="yearBusincomeAmt != null" >
        YEAR_BUSINCOME_AMT = #{yearBusincomeAmt,jdbcType=DECIMAL},
      </if>
      <if test="lastyearBusincomeAmt != null" >
        LASTYEAR_BUSINCOME_AMT = #{lastyearBusincomeAmt,jdbcType=DECIMAL},
      </if>
      <if test="monInvoicingAmt != null" >
        MON_INVOICING_AMT = #{monInvoicingAmt,jdbcType=DECIMAL},
      </if>
      <if test="yearInvoicingAmt != null" >
        YEAR_INVOICING_AMT = #{yearInvoicingAmt,jdbcType=DECIMAL},
      </if>
      <if test="lastMonInvoicingAmt != null" >
        LAST_MON_INVOICING_AMT = #{lastMonInvoicingAmt,jdbcType=DECIMAL},
      </if>
      <if test="lastYearInvoicingAmt != null" >
        LAST_YEAR_INVOICING_AMT = #{lastYearInvoicingAmt,jdbcType=DECIMAL},
      </if>
      <if test="monServiceAmt != null" >
        MON_SERVICE_AMT = #{monServiceAmt,jdbcType=DECIMAL},
      </if>
      <if test="yearServiceAmt != null" >
        YEAR_SERVICE_AMT = #{yearServiceAmt,jdbcType=DECIMAL},
      </if>
      <if test="lastMonServiceAmt != null" >
        LAST_MON_SERVICE_AMT = #{lastMonServiceAmt,jdbcType=DECIMAL},
      </if>
      <if test="lastYearServiceAmt != null" >
        LAST_YEAR_SERVICE_AMT = #{lastYearServiceAmt,jdbcType=DECIMAL},
      </if>
      <if test="monFinanceAmt != null" >
        MON_FINANCE_AMT = #{monFinanceAmt,jdbcType=DECIMAL},
      </if>
      <if test="yearFinanceAmt != null" >
        YEAR_FINANCE_AMT = #{yearFinanceAmt,jdbcType=DECIMAL},
      </if>
      <if test="lastMonFinanceAmt != null" >
        LAST_MON_FINANCE_AMT = #{lastMonFinanceAmt,jdbcType=DECIMAL},
      </if>
      <if test="lastYearFinanceAmt != null" >
        LAST_YEAR_FINANCE_AMT = #{lastYearFinanceAmt,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.htd.argus.dto.HtyFctOrgIncomeDTO" >
    update hty_fct_org_income
    set YEAR_MON = #{yearMon,jdbcType=VARCHAR},
      ORG_CODE = #{orgCode,jdbcType=VARCHAR},
      MON_BUSINCOME_AMT = #{monBusincomeAmt,jdbcType=DECIMAL},
      LAST_MON_BUSINCOME_AMT = #{lastMonBusincomeAmt,jdbcType=DECIMAL},
      YEAR_BUSINCOME_AMT = #{yearBusincomeAmt,jdbcType=DECIMAL},
      LASTYEAR_BUSINCOME_AMT = #{lastyearBusincomeAmt,jdbcType=DECIMAL},
      MON_INVOICING_AMT = #{monInvoicingAmt,jdbcType=DECIMAL},
      YEAR_INVOICING_AMT = #{yearInvoicingAmt,jdbcType=DECIMAL},
      LAST_MON_INVOICING_AMT = #{lastMonInvoicingAmt,jdbcType=DECIMAL},
      LAST_YEAR_INVOICING_AMT = #{lastYearInvoicingAmt,jdbcType=DECIMAL},
      MON_SERVICE_AMT = #{monServiceAmt,jdbcType=DECIMAL},
      YEAR_SERVICE_AMT = #{yearServiceAmt,jdbcType=DECIMAL},
      LAST_MON_SERVICE_AMT = #{lastMonServiceAmt,jdbcType=DECIMAL},
      LAST_YEAR_SERVICE_AMT = #{lastYearServiceAmt,jdbcType=DECIMAL},
      MON_FINANCE_AMT = #{monFinanceAmt,jdbcType=DECIMAL},
      YEAR_FINANCE_AMT = #{yearFinanceAmt,jdbcType=DECIMAL},
      LAST_MON_FINANCE_AMT = #{lastMonFinanceAmt,jdbcType=DECIMAL},
      LAST_YEAR_FINANCE_AMT = #{lastYearFinanceAmt,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>