<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.argus.dao.HtyFctOrgCustIncomeSaleDTOMapper" >
  <resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctOrgCustIncomeSaleDTO" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
    <result column="YEAR_DATE" property="yearDate" jdbcType="VARCHAR" />
    <result column="CUSTNUM" property="custnum" jdbcType="INTEGER" />
    <result column="TRANSCUSTNUM" property="transcustnum" jdbcType="INTEGER" />
    <result column="ACT_CUSTNUM" property="actCustnum" jdbcType="INTEGER" />
    <result column="VIP_NUM" property="vipNum" jdbcType="INTEGER" />
    <result column="BUSINCOME_AMT" property="busincomeAmt" jdbcType="DECIMAL" />
    <result column="INVOICING_AMT" property="invoicingAmt" jdbcType="DECIMAL" />
    <result column="SERVICE_AMT" property="serviceAmt" jdbcType="DECIMAL" />
    <result column="FINANCE_AMT" property="financeAmt" jdbcType="DECIMAL" />
    <result column="SALE_AMT" property="saleAmt" jdbcType="DECIMAL" />
    <result column="ONLINE_SALEAMT" property="onlineSaleamt" jdbcType="DECIMAL" />
    <result column="PROD_SALEAMT" property="prodSaleamt" jdbcType="DECIMAL" />
    <result column="NONPROD_SALEAMT" property="nonprodSaleamt" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORG_CODE, YEAR_DATE, CUSTNUM, TRANSCUSTNUM, ACT_CUSTNUM, VIP_NUM, BUSINCOME_AMT, 
    INVOICING_AMT, SERVICE_AMT, FINANCE_AMT, SALE_AMT, ONLINE_SALEAMT, PROD_SALEAMT, 
    NONPROD_SALEAMT
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hty_fct_org_cust_income_sale
    where ID = #{id,jdbcType=BIGINT}
  </select>

  <select id="select" resultMap="BaseResultMap" parameterType="cn.htd.argus.dto.HtyFctOrgCustIncomeSaleDTO" >
    select
    <include refid="Base_Column_List" />
    from hty_fct_org_cust_income_sale
    <where>
      <if test="id != null">
        and ID = #{id}
      </if>
      <if test="orgCode != null">
        and ORG_CODE = #{orgCode}
      </if>
      <if test="yearDate != null">
        and YEAR_DATE = #{yearDate}
      </if>
      <if test="custnum != null">
        and CUSTNUM = #{custnum}
      </if>
      <if test="transcustnum != null">
        and TRANSCUSTNUM = #{transcustnum}
      </if>
      <if test="actCustnum != null">
        and ACT_CUSTNUM = #{actCustnum}
      </if>
      <if test="vipNum != null">
        and VIP_NUM = #{vipNum}
      </if>
      <if test="busincomeAmt != null">
        and BUSINCOME_AMT = #{busincomeAmt}
      </if>
      <if test="invoicingAmt != null">
        and INVOICING_AMT = #{invoicingAmt}
      </if>
      <if test="serviceAmt != null">
        and SERVICE_AMT = #{serviceAmt}
      </if>
      <if test="financeAmt != null">
        and FINANCE_AMT = #{financeAmt}
      </if>
      <if test="saleAmt != null">
        and SALE_AMT = #{saleAmt}
      </if>
      <if test="onlineSaleamt != null">
        and ONLINE_SALEAMT = #{onlineSaleamt}
      </if>
      <if test="prodSaleamt != null">
        and PROD_SALEAMT = #{prodSaleamt}
      </if>
      <if test="nonprodSaleamt != null">
        and NONPROD_SALEAMT = #{nonprodSaleamt}
      </if>
    </where>
  </select>
</mapper>