<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.argus.dao.HtyFctOrgSaleDTOMapper" >
  <resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctOrgSaleDTO" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
    <result column="YEAR_MON" property="yearMon" jdbcType="VARCHAR" />
    <result column="MON_AMT" property="monAmt" jdbcType="DECIMAL" />
    <result column="LASTMON_AMT" property="lastmonAmt" jdbcType="DECIMAL" />
    <result column="YEAR_AMT" property="yearAmt" jdbcType="DECIMAL" />
    <result column="LASTYEAR_AMT" property="lastyearAmt" jdbcType="DECIMAL" />
    <result column="MON_ONLINE_SALEAMT" property="monOnlineSaleamt" jdbcType="DECIMAL" />
    <result column="YEAR_ONLINE_SALEAMT" property="yearOnlineSaleamt" jdbcType="DECIMAL" />
    <result column="MON_WAIT_SALEAMT" property="monWaitSaleamt" jdbcType="DECIMAL" />
    <result column="YEAR_WAIT_SALEAMT" property="yearWaitSaleamt" jdbcType="DECIMAL" />
    <result column="MON_SP_SALEAMT" property="monSpSaleamt" jdbcType="DECIMAL" />
    <result column="YEAR_SP_SALEAMT" property="yearSpSaleamt" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORG_CODE, YEAR_MON, MON_AMT, LASTMON_AMT, YEAR_AMT, LASTYEAR_AMT, MON_ONLINE_SALEAMT, 
    YEAR_ONLINE_SALEAMT, MON_WAIT_SALEAMT, YEAR_WAIT_SALEAMT, MON_SP_SALEAMT, YEAR_SP_SALEAMT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hty_fct_org_sale
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hty_fct_org_sale
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.htd.argus.dto.HtyFctOrgSaleDTO" >
    insert into hty_fct_org_sale (ID, ORG_CODE, YEAR_MON, 
      MON_AMT, LASTMON_AMT, YEAR_AMT, 
      LASTYEAR_AMT, MON_ONLINE_SALEAMT, YEAR_ONLINE_SALEAMT, 
      MON_WAIT_SALEAMT, YEAR_WAIT_SALEAMT, MON_SP_SALEAMT, 
      YEAR_SP_SALEAMT)
    values (#{id,jdbcType=BIGINT}, #{orgCode,jdbcType=VARCHAR}, #{yearMon,jdbcType=VARCHAR}, 
      #{monAmt,jdbcType=DECIMAL}, #{lastmonAmt,jdbcType=DECIMAL}, #{yearAmt,jdbcType=DECIMAL}, 
      #{lastyearAmt,jdbcType=DECIMAL}, #{monOnlineSaleamt,jdbcType=DECIMAL}, #{yearOnlineSaleamt,jdbcType=DECIMAL}, 
      #{monWaitSaleamt,jdbcType=DECIMAL}, #{yearWaitSaleamt,jdbcType=DECIMAL}, #{monSpSaleamt,jdbcType=DECIMAL}, 
      #{yearSpSaleamt,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.htd.argus.dto.HtyFctOrgSaleDTO" >
    insert into hty_fct_org_sale
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orgCode != null" >
        ORG_CODE,
      </if>
      <if test="yearMon != null" >
        YEAR_MON,
      </if>
      <if test="monAmt != null" >
        MON_AMT,
      </if>
      <if test="lastmonAmt != null" >
        LASTMON_AMT,
      </if>
      <if test="yearAmt != null" >
        YEAR_AMT,
      </if>
      <if test="lastyearAmt != null" >
        LASTYEAR_AMT,
      </if>
      <if test="monOnlineSaleamt != null" >
        MON_ONLINE_SALEAMT,
      </if>
      <if test="yearOnlineSaleamt != null" >
        YEAR_ONLINE_SALEAMT,
      </if>
      <if test="monWaitSaleamt != null" >
        MON_WAIT_SALEAMT,
      </if>
      <if test="yearWaitSaleamt != null" >
        YEAR_WAIT_SALEAMT,
      </if>
      <if test="monSpSaleamt != null" >
        MON_SP_SALEAMT,
      </if>
      <if test="yearSpSaleamt != null" >
        YEAR_SP_SALEAMT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="yearMon != null" >
        #{yearMon,jdbcType=VARCHAR},
      </if>
      <if test="monAmt != null" >
        #{monAmt,jdbcType=DECIMAL},
      </if>
      <if test="lastmonAmt != null" >
        #{lastmonAmt,jdbcType=DECIMAL},
      </if>
      <if test="yearAmt != null" >
        #{yearAmt,jdbcType=DECIMAL},
      </if>
      <if test="lastyearAmt != null" >
        #{lastyearAmt,jdbcType=DECIMAL},
      </if>
      <if test="monOnlineSaleamt != null" >
        #{monOnlineSaleamt,jdbcType=DECIMAL},
      </if>
      <if test="yearOnlineSaleamt != null" >
        #{yearOnlineSaleamt,jdbcType=DECIMAL},
      </if>
      <if test="monWaitSaleamt != null" >
        #{monWaitSaleamt,jdbcType=DECIMAL},
      </if>
      <if test="yearWaitSaleamt != null" >
        #{yearWaitSaleamt,jdbcType=DECIMAL},
      </if>
      <if test="monSpSaleamt != null" >
        #{monSpSaleamt,jdbcType=DECIMAL},
      </if>
      <if test="yearSpSaleamt != null" >
        #{yearSpSaleamt,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.htd.argus.dto.HtyFctOrgSaleDTO" >
    update hty_fct_org_sale
    <set >
      <if test="orgCode != null" >
        ORG_CODE = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="yearMon != null" >
        YEAR_MON = #{yearMon,jdbcType=VARCHAR},
      </if>
      <if test="monAmt != null" >
        MON_AMT = #{monAmt,jdbcType=DECIMAL},
      </if>
      <if test="lastmonAmt != null" >
        LASTMON_AMT = #{lastmonAmt,jdbcType=DECIMAL},
      </if>
      <if test="yearAmt != null" >
        YEAR_AMT = #{yearAmt,jdbcType=DECIMAL},
      </if>
      <if test="lastyearAmt != null" >
        LASTYEAR_AMT = #{lastyearAmt,jdbcType=DECIMAL},
      </if>
      <if test="monOnlineSaleamt != null" >
        MON_ONLINE_SALEAMT = #{monOnlineSaleamt,jdbcType=DECIMAL},
      </if>
      <if test="yearOnlineSaleamt != null" >
        YEAR_ONLINE_SALEAMT = #{yearOnlineSaleamt,jdbcType=DECIMAL},
      </if>
      <if test="monWaitSaleamt != null" >
        MON_WAIT_SALEAMT = #{monWaitSaleamt,jdbcType=DECIMAL},
      </if>
      <if test="yearWaitSaleamt != null" >
        YEAR_WAIT_SALEAMT = #{yearWaitSaleamt,jdbcType=DECIMAL},
      </if>
      <if test="monSpSaleamt != null" >
        MON_SP_SALEAMT = #{monSpSaleamt,jdbcType=DECIMAL},
      </if>
      <if test="yearSpSaleamt != null" >
        YEAR_SP_SALEAMT = #{yearSpSaleamt,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.htd.argus.dto.HtyFctOrgSaleDTO" >
    update hty_fct_org_sale
    set ORG_CODE = #{orgCode,jdbcType=VARCHAR},
      YEAR_MON = #{yearMon,jdbcType=VARCHAR},
      MON_AMT = #{monAmt,jdbcType=DECIMAL},
      LASTMON_AMT = #{lastmonAmt,jdbcType=DECIMAL},
      YEAR_AMT = #{yearAmt,jdbcType=DECIMAL},
      LASTYEAR_AMT = #{lastyearAmt,jdbcType=DECIMAL},
      MON_ONLINE_SALEAMT = #{monOnlineSaleamt,jdbcType=DECIMAL},
      YEAR_ONLINE_SALEAMT = #{yearOnlineSaleamt,jdbcType=DECIMAL},
      MON_WAIT_SALEAMT = #{monWaitSaleamt,jdbcType=DECIMAL},
      YEAR_WAIT_SALEAMT = #{yearWaitSaleamt,jdbcType=DECIMAL},
      MON_SP_SALEAMT = #{monSpSaleamt,jdbcType=DECIMAL},
      YEAR_SP_SALEAMT = #{yearSpSaleamt,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>