<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.argus.dao.HtyFctOrgCustDTOMapper" >
  <resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctOrgCustDTO" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
    <result column="YEAR_MON" property="yearMon" jdbcType="VARCHAR" />
    <result column="MON_NEWCUSTNUM" property="monNewcustnum" jdbcType="INTEGER" />
    <result column="LASTMON_NEWCUSTNUM" property="lastmonNewcustnum" jdbcType="INTEGER" />
    <result column="YEAR_NEWCUSTNUM" property="yearNewcustnum" jdbcType="INTEGER" />
    <result column="LASTYEAR_NEWCUSTNUM" property="lastyearNewcustnum" jdbcType="INTEGER" />
    <result column="MON_TRANSCUSTNUM" property="monTranscustnum" jdbcType="INTEGER" />
    <result column="YEAR_TRANSCUSTNUM" property="yearTranscustnum" jdbcType="INTEGER" />
    <result column="ACT_CUSTNUM" property="actCustnum" jdbcType="INTEGER" />
    <result column="MORRUNACT_CUSTNUM" property="morrunactCustnum" jdbcType="INTEGER" />
    <result column="VIP_NUM" property="vipNum" jdbcType="INTEGER" />
    <result column="EXPIRE30_VIP_NUM" property="expire30VipNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORG_CODE, YEAR_MON, MON_NEWCUSTNUM, LASTMON_NEWCUSTNUM, YEAR_NEWCUSTNUM, LASTYEAR_NEWCUSTNUM, 
    MON_TRANSCUSTNUM, YEAR_TRANSCUSTNUM, ACT_CUSTNUM, MORRUNACT_CUSTNUM, VIP_NUM, EXPIRE30_VIP_NUM
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hty_fct_org_cust
    where ID = #{id,jdbcType=BIGINT}
  </select>

  <select id="select" resultMap="BaseResultMap" parameterType="cn.htd.argus.dto.HtyFctOrgCustDTO" >
    select
    <include refid="Base_Column_List" />
    from hty_fct_org_cust
    <where>
      <if test="id != null">
        and ID = #{id}
      </if>
      <if test="orgCode != null">
        and ORG_CODE = #{orgCode}
      </if>
      <if test="yearMon != null">
        and ORG_CODE = #{yearMon}
      </if>
      <if test="monNewcustnum != null">
        and MON_NEWCUSTNUM = #{monNewcustnum}
      </if>
      <if test="lastmonNewcustnum != null">
        and LASTMON_NEWCUSTNUM = #{lastmonNewcustnum}
      </if>
      <if test="yearNewcustnum != null">
        and YEAR_NEWCUSTNUM = #{yearNewcustnum}
      </if>
      <if test="lastyearNewcustnum != null">
        and LASTYEAR_NEWCUSTNUM = #{lastyearNewcustnum}
      </if>
      <if test="monTranscustnum != null">
        and MON_TRANSCUSTNUM = #{monTranscustnum}
      </if>
      <if test="yearTranscustnum != null">
        and YEAR_TRANSCUSTNUM = #{yearTranscustnum}
      </if>
      <if test="actCustnum != null">
        and ACT_CUSTNUM = #{actCustnum}
      </if>
      <if test="morrunactCustnum != null">
        and MORRUNACT_CUSTNUM = #{morrunactCustnum}
      </if>
      <if test="vipNum != null">
        and VIP_NUM = #{vipNum}
      </if>
      <if test="expire30VipNum != null">
        and EXPIRE30_VIP_NUM = #{expire30VipNum}
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hty_fct_org_cust
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.htd.argus.dto.HtyFctOrgCustDTO" >
    insert into hty_fct_org_cust (ID, ORG_CODE, YEAR_MON, 
      MON_NEWCUSTNUM, LASTMON_NEWCUSTNUM, YEAR_NEWCUSTNUM, 
      LASTYEAR_NEWCUSTNUM, MON_TRANSCUSTNUM, YEAR_TRANSCUSTNUM, 
      ACT_CUSTNUM, MORRUNACT_CUSTNUM, VIP_NUM, 
      EXPIRE30_VIP_NUM)
    values (#{id,jdbcType=BIGINT}, #{orgCode,jdbcType=VARCHAR}, #{yearMon,jdbcType=VARCHAR}, 
      #{monNewcustnum,jdbcType=INTEGER}, #{lastmonNewcustnum,jdbcType=INTEGER}, #{yearNewcustnum,jdbcType=INTEGER}, 
      #{lastyearNewcustnum,jdbcType=INTEGER}, #{monTranscustnum,jdbcType=INTEGER}, #{yearTranscustnum,jdbcType=INTEGER}, 
      #{actCustnum,jdbcType=INTEGER}, #{morrunactCustnum,jdbcType=INTEGER}, #{vipNum,jdbcType=INTEGER}, 
      #{expire30VipNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.htd.argus.dto.HtyFctOrgCustDTO" >
    insert into hty_fct_org_cust
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orgCode != null" >
        ORG_CODE,
      </if>
      <if test="yearMon != null" >
        YEAR_MON,
      </if>
      <if test="monNewcustnum != null" >
        MON_NEWCUSTNUM,
      </if>
      <if test="lastmonNewcustnum != null" >
        LASTMON_NEWCUSTNUM,
      </if>
      <if test="yearNewcustnum != null" >
        YEAR_NEWCUSTNUM,
      </if>
      <if test="lastyearNewcustnum != null" >
        LASTYEAR_NEWCUSTNUM,
      </if>
      <if test="monTranscustnum != null" >
        MON_TRANSCUSTNUM,
      </if>
      <if test="yearTranscustnum != null" >
        YEAR_TRANSCUSTNUM,
      </if>
      <if test="actCustnum != null" >
        ACT_CUSTNUM,
      </if>
      <if test="morrunactCustnum != null" >
        MORRUNACT_CUSTNUM,
      </if>
      <if test="vipNum != null" >
        VIP_NUM,
      </if>
      <if test="expire30VipNum != null" >
        EXPIRE30_VIP_NUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="yearMon != null" >
        #{yearMon,jdbcType=VARCHAR},
      </if>
      <if test="monNewcustnum != null" >
        #{monNewcustnum,jdbcType=INTEGER},
      </if>
      <if test="lastmonNewcustnum != null" >
        #{lastmonNewcustnum,jdbcType=INTEGER},
      </if>
      <if test="yearNewcustnum != null" >
        #{yearNewcustnum,jdbcType=INTEGER},
      </if>
      <if test="lastyearNewcustnum != null" >
        #{lastyearNewcustnum,jdbcType=INTEGER},
      </if>
      <if test="monTranscustnum != null" >
        #{monTranscustnum,jdbcType=INTEGER},
      </if>
      <if test="yearTranscustnum != null" >
        #{yearTranscustnum,jdbcType=INTEGER},
      </if>
      <if test="actCustnum != null" >
        #{actCustnum,jdbcType=INTEGER},
      </if>
      <if test="morrunactCustnum != null" >
        #{morrunactCustnum,jdbcType=INTEGER},
      </if>
      <if test="vipNum != null" >
        #{vipNum,jdbcType=INTEGER},
      </if>
      <if test="expire30VipNum != null" >
        #{expire30VipNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.htd.argus.dto.HtyFctOrgCustDTO" >
    update hty_fct_org_cust
    <set >
      <if test="orgCode != null" >
        ORG_CODE = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="yearMon != null" >
        YEAR_MON = #{yearMon,jdbcType=VARCHAR},
      </if>
      <if test="monNewcustnum != null" >
        MON_NEWCUSTNUM = #{monNewcustnum,jdbcType=INTEGER},
      </if>
      <if test="lastmonNewcustnum != null" >
        LASTMON_NEWCUSTNUM = #{lastmonNewcustnum,jdbcType=INTEGER},
      </if>
      <if test="yearNewcustnum != null" >
        YEAR_NEWCUSTNUM = #{yearNewcustnum,jdbcType=INTEGER},
      </if>
      <if test="lastyearNewcustnum != null" >
        LASTYEAR_NEWCUSTNUM = #{lastyearNewcustnum,jdbcType=INTEGER},
      </if>
      <if test="monTranscustnum != null" >
        MON_TRANSCUSTNUM = #{monTranscustnum,jdbcType=INTEGER},
      </if>
      <if test="yearTranscustnum != null" >
        YEAR_TRANSCUSTNUM = #{yearTranscustnum,jdbcType=INTEGER},
      </if>
      <if test="actCustnum != null" >
        ACT_CUSTNUM = #{actCustnum,jdbcType=INTEGER},
      </if>
      <if test="morrunactCustnum != null" >
        MORRUNACT_CUSTNUM = #{morrunactCustnum,jdbcType=INTEGER},
      </if>
      <if test="vipNum != null" >
        VIP_NUM = #{vipNum,jdbcType=INTEGER},
      </if>
      <if test="expire30VipNum != null" >
        EXPIRE30_VIP_NUM = #{expire30VipNum,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.htd.argus.dto.HtyFctOrgCustDTO" >
    update hty_fct_org_cust
    set ORG_CODE = #{orgCode,jdbcType=VARCHAR},
      YEAR_MON = #{yearMon,jdbcType=VARCHAR},
      MON_NEWCUSTNUM = #{monNewcustnum,jdbcType=INTEGER},
      LASTMON_NEWCUSTNUM = #{lastmonNewcustnum,jdbcType=INTEGER},
      YEAR_NEWCUSTNUM = #{yearNewcustnum,jdbcType=INTEGER},
      LASTYEAR_NEWCUSTNUM = #{lastyearNewcustnum,jdbcType=INTEGER},
      MON_TRANSCUSTNUM = #{monTranscustnum,jdbcType=INTEGER},
      YEAR_TRANSCUSTNUM = #{yearTranscustnum,jdbcType=INTEGER},
      ACT_CUSTNUM = #{actCustnum,jdbcType=INTEGER},
      MORRUNACT_CUSTNUM = #{morrunactCustnum,jdbcType=INTEGER},
      VIP_NUM = #{vipNum,jdbcType=INTEGER},
      EXPIRE30_VIP_NUM = #{expire30VipNum,jdbcType=INTEGER}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>