<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.argus.dao.HtyFctXwB2bItemAccessDTOMapper">
	<resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctXwB2bItemAccessDTO">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="DATE_KEY" property="dateKey" jdbcType="VARCHAR" />
		<result column="ITEM_ID" property="itemId" jdbcType="VARCHAR" />
		<result column="COUNTRY_NAME" property="countryName" jdbcType="VARCHAR" />
		<result column="PROVINCE_NAME" property="provinceName"
			jdbcType="VARCHAR" />
		<result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
		<result column="ACCESS_QTY" property="accessQty" jdbcType="DECIMAL" />
		<result column="ETL_DATE" property="etlDate" jdbcType="DECIMAL" />
		<result column="ETL_TIME" property="etlTime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID,DATE_KEY,ITEM_ID,COUNTRY_NAME,PROVINCE_NAME,CITY_NAME,ACCESS_QTY,ETL_DATE,ETL_TIME
	</sql>
	<sql id="where">
		<where>
			<!-- <if
				test="htyUserBeHaviorSearchDTO.b2bShopOrSupperBossId !=null and htyUserBeHaviorSearchDTO.b2bShopOrSupperBossId !=''">
				and ID={htyUserBeHaviorSearchDTO.b2bShopOrSupperBossId}
			</if> -->
			<!--<if-->
				<!--test="htyUserBeHaviorSearchDTO.period !=null and htyUserBeHaviorSearchDTO.period !=''">-->
				<!--and DATE_KEY =#{htyUserBeHaviorSearchDTO.period}-->
			<!--</if>-->
			<if
				test="htyUserBeHaviorSearchDTO.countryName !=null and htyUserBeHaviorSearchDTO.countryName !=''">
				and COUNTRY_NAME=#{htyUserBeHaviorSearchDTO.countryName}
			</if>
			<if
				test="htyUserBeHaviorSearchDTO.provinceName!=null and htyUserBeHaviorSearchDTO.provinceName !=''">
				and PROVINCE_NAME=#{htyUserBeHaviorSearchDTO.provinceName}
			</if>
			<if
				test="htyUserBeHaviorSearchDTO.cityName !=null and htyUserBeHaviorSearchDTO.cityName !=''">
				and CITY_NAME=#{htyUserBeHaviorSearchDTO.cityName}
			</if>
			<if
				test="htyUserBeHaviorSearchDTO.startTime !=null and htyUserBeHaviorSearchDTO.startTime !=''">
				<![CDATA[or DATE_KEY >=#{htyUserBeHaviorSearchDTO.startTime}]]>
			</if>
			<if
				test="htyUserBeHaviorSearchDTO.endTime !=null and htyUserBeHaviorSearchDTO.endTime!=''">
			 <![CDATA[and DATE_KEY<=#{htyUserBeHaviorSearchDTO.endTime}]]>
			</if>
			<!--单个单品的查询 -->
			<!-- <if test="htyUserBeHaviorSearchDTO.itemId!=null and htyUserBeHaviorSearchDTO.itemId!=''"> 
				and ITEM_ID=#{htyUserBeHaviorSearchDTO.itemId} </if> -->
		</where>
	</sql>
	<!--单品的访问数量 -->
	<select id="queryOneItemAccessQty" resultMap="BaseResultMap">
		select
        /*ITEM_ID,ACCESS_QTY */
        <include refid="Base_Column_List"/>
        from hty_fct_xw_b2b_item_access
		<include refid="where" />
		group by ITEM_ID,ACCESS_QTY
		order by ACCESS_QTY DESC limit 10
	</select>
</mapper>