<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.argus.dao.HtyFctOrgIncomeDTOMapper" >
  <resultMap id="BaseResultMap" type="cn.htd.argus.dto.HtyFctOrgIncomeDTO" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="YEAR_MON" property="yearMon" jdbcType="VARCHAR" />
    <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
    <result column="MON_BUSINCOME_AMT" property="monBusincomeAmt" jdbcType="DECIMAL" />
    <result column="LAST_MON_BUSINCOME_AMT" property="lastMonBusincomeAmt" jdbcType="DECIMAL" />
    <result column="YEAR_BUSINCOME_AMT" property="yearBusincomeAmt" jdbcType="DECIMAL" />
    <result column="LASTYEAR_BUSINCOME_AMT" property="lastyearBusincomeAmt" jdbcType="DECIMAL" />
    <result column="MON_INVOICING_AMT" property="monInvoicingAmt" jdbcType="DECIMAL" />
    <result column="YEAR_INVOICING_AMT" property="yearInvoicingAmt" jdbcType="DECIMAL" />
    <result column="LAST_MON_INVOICING_AMT" property="lastMonInvoicingAmt" jdbcType="DECIMAL" />
    <result column="LAST_YEAR_INVOICING_AMT" property="lastYearInvoicingAmt" jdbcType="DECIMAL" />
    <result column="MON_SERVICE_AMT" property="monServiceAmt" jdbcType="DECIMAL" />
    <result column="YEAR_SERVICE_AMT" property="yearServiceAmt" jdbcType="DECIMAL" />
    <result column="LAST_MON_SERVICE_AMT" property="lastMonServiceAmt" jdbcType="DECIMAL" />
    <result column="LAST_YEAR_SERVICE_AMT" property="lastYearServiceAmt" jdbcType="DECIMAL" />
    <result column="MON_FINANCE_AMT" property="monFinanceAmt" jdbcType="DECIMAL" />
    <result column="YEAR_FINANCE_AMT" property="yearFinanceAmt" jdbcType="DECIMAL" />
    <result column="LAST_MON_FINANCE_AMT" property="lastMonFinanceAmt" jdbcType="DECIMAL" />
    <result column="LAST_YEAR_FINANCE_AMT" property="lastYearFinanceAmt" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, YEAR_MON, ORG_CODE, MON_BUSINCOME_AMT, LAST_MON_BUSINCOME_AMT, YEAR_BUSINCOME_AMT, 
    LASTYEAR_BUSINCOME_AMT, MON_INVOICING_AMT, YEAR_INVOICING_AMT, LAST_MON_INVOICING_AMT, 
    LAST_YEAR_INVOICING_AMT, MON_SERVICE_AMT, YEAR_SERVICE_AMT, LAST_MON_SERVICE_AMT, 
    LAST_YEAR_SERVICE_AMT, MON_FINANCE_AMT, YEAR_FINANCE_AMT, LAST_MON_FINANCE_AMT, LAST_YEAR_FINANCE_AMT
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hty_fct_org_income
    where ID = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByOrgCode" resultMap="BaseResultMap" parameterType="cn.htd.argus.dto.HtyFctOrgIncomeDTO" >
    select
    <include refid="Base_Column_List" />
    from hty_fct_org_income
    where ORG_CODE = #{orgCode} order by YEAR_MON desc limit 1
  </select>

  <select id="select" resultMap="BaseResultMap" parameterType="cn.htd.argus.dto.HtyFctOrgIncomeDTO" >
    select
    <include refid="Base_Column_List" />
    from hty_fct_org_income
    <where>
      <if test="id != null">
        and ID = #{id}
      </if>
      <if test="yearMon != null">
        and YEAR_MON = #{yearMon}
      </if>
      <if test="orgCode != null">
        and ORG_CODE = #{orgCode}
      </if>
      <if test="monBusincomeAmt != null">
        and MON_BUSINCOME_AMT = #{monBusincomeAmt}
      </if>
      <if test="lastMonBusincomeAmt != null">
        and LAST_MON_BUSINCOME_AMT = #{lastMonBusincomeAmt}
      </if>
      <if test="yearBusincomeAmt != null">
        and YEAR_BUSINCOME_AMT = #{yearBusincomeAmt}
      </if>
      <if test="lastyearBusincomeAmt != null">
        and LASTYEAR_BUSINCOME_AMT = #{lastyearBusincomeAmt}
      </if>
      <if test="monInvoicingAmt != null">
        and MON_INVOICING_AMT = #{monInvoicingAmt}
      </if>
      <if test="yearInvoicingAmt != null">
        and YEAR_INVOICING_AMT = #{yearInvoicingAmt}
      </if>
      <if test="lastMonInvoicingAmt != null">
        and LAST_MON_INVOICING_AMT = #{lastMonInvoicingAmt}
      </if>
      <if test="lastYearInvoicingAmt != null">
        and LAST_YEAR_INVOICING_AMT = #{lastYearInvoicingAmt}
      </if>
      <if test="monServiceAmt != null">
        and MON_SERVICE_AMT = #{monServiceAmt}
      </if>
      <if test="yearServiceAmt != null">
        and YEAR_SERVICE_AMT = #{yearServiceAmt}
      </if>
      <if test="lastMonServiceAmt != null">
        and LAST_MON_SERVICE_AMT = #{lastMonServiceAmt}
      </if>
      <if test="lastYearServiceAmt != null">
        and LAST_YEAR_SERVICE_AMT = #{lastYearServiceAmt}
      </if>
      <if test="monFinanceAmt != null">
        and MON_FINANCE_AMT = #{monFinanceAmt}
      </if>
      <if test="yearFinanceAmt != null">
        and YEAR_FINANCE_AMT = #{yearFinanceAmt}
      </if>
      <if test="lastMonFinanceAmt != null">
        and LAST_MON_FINANCE_AMT = #{lastMonFinanceAmt}
      </if>
      <if test="lastYearFinanceAmt != null">
        and LAST_YEAR_FINANCE_AMT = #{lastYearFinanceAmt}
      </if>
    </where>
  </select>
    
  <select id="selectYear" resultMap="BaseResultMap" parameterType="cn.htd.argus.dto.HtyFctOrgIncomeDTO" >
    select
    <include refid="Base_Column_List" />
    from hty_fct_org_income
    where YEAR_MON like CONCAT(#{yearMon},'%') and ORG_CODE = #{orgCode} order by YEAR_MON ASC
  </select>
  
  <select id="selectSortNumForHead" resultType="int" parameterType="cn.htd.argus.dto.HtyFctOrgIncomeDTO" >
    select u.rowNo from (  
	select ORG_CODE,YEAR_BUSINCOME_AMT,YEAR_MON,(@rowNum:=@rowNum+1) as rowNo  
	from hty_fct_org_income,  
	(select (@rowNum :=0) ) b  where YEAR_MON = #{yearMon} 
	order by hty_fct_org_income.YEAR_BUSINCOME_AMT desc ) u where u.ORG_CODE = #{orgCode}
  </select>
  
  <select id="selectSortNumForBranch" resultType="int" parameterType="cn.htd.argus.dto.HtyFctOrgIncomeDTO" >
   select u.rowNo from (  
	select t.ORG_CODE,t.YEAR_BUSINCOME_AMT,t.YEAR_MON,(@rowNum:=@rowNum+1) as rowNo from (  
	select ORG_CODE,YEAR_BUSINCOME_AMT,YEAR_MON 
	from hty_fct_org_income  
	where YEAR_MON = #{yearMon} and ORG_CODE in 
	(SELECT c.ORG_CODE from DCI_DIM_ORG c where c.ORG_PCODE = 
	(SELECT d.ORG_PCODE from DCI_DIM_ORG d  where d.ORG_CODE = #{orgCode}))
	order by hty_fct_org_income.YEAR_BUSINCOME_AMT desc ) t,(select (@rowNum :=0) ) b 
	) u where u.ORG_CODE = #{orgCode}
  </select>
  
  <select id="selectAvgHead" resultType="java.math.BigDecimal" parameterType="cn.htd.argus.dto.HtyFctOrgSaleDTO" >
   SELECT cast(avg(YEAR_BUSINCOME_AMT) as decimal(20,2)) as avgNum FROM hty_fct_org_income where YEAR_MON=#{yearMon}
  </select>
  
  <select id="selectAvgBrach" resultType="java.math.BigDecimal" parameterType="cn.htd.argus.dto.HtyFctOrgSaleDTO" >
   SELECT cast(avg(YEAR_BUSINCOME_AMT) as decimal(20,2)) as avgNum FROM hty_fct_org_income where YEAR_MON=#{yearMon} 
   and ORG_CODE in (SELECT c.ORG_CODE from DCI_DIM_ORG c where c.ORG_PCODE = 
	(SELECT d.ORG_PCODE from DCI_DIM_ORG d  where d.ORG_CODE=#{orgCode}))
  </select>
  
  <select id="selectCompanySortHead" resultType="String" parameterType="cn.htd.argus.dto.HtyFctOrgSaleDTO" >
   SELECT org.ORG_SNAME FROM hty_fct_org_income sale,DCI_DIM_ORG org where sale.YEAR_MON=#{yearMon} 
   and org.ORG_CODE=sale.ORG_CODE ORDER BY sale.YEAR_BUSINCOME_AMT DESC LIMIT 0,10
  </select>
  
  <select id="selectCompanySortBrach" resultType="String" parameterType="cn.htd.argus.dto.HtyFctOrgSaleDTO" >
   SELECT org.ORG_SNAME FROM hty_fct_org_income sale,DCI_DIM_ORG org where sale.YEAR_MON=#{yearMon} 
   and org.ORG_CODE=sale.ORG_CODE and sale.ORG_CODE in 
   (SELECT c.ORG_CODE from DCI_DIM_ORG c where c.ORG_PCODE = 
	(SELECT d.ORG_PCODE from DCI_DIM_ORG d  where d.ORG_CODE = #{orgCode})) 
   ORDER BY sale.YEAR_BUSINCOME_AMT DESC LIMIT 0,10
  </select>
</mapper>